﻿@model Woolbright.Web.Corporate.ViewModels.ExecutiveDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    <h4>Executive</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfilePictureContent.ContentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePictureContent.ContentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileSidePictureContent.ContentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileSidePictureContent.ContentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExecutiveBlurb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExecutiveBlurb)
        </dd>

    </dl>
</div>

@*<p>
    @Html.ActionLink("Back to List", "Index")
</p>*@
