﻿@model IEnumerable<Woolbright.Web.Data.Models.ExecutiveSection>

@{
    foreach (var section in Model)
    {
        <table class="table table-responsive">
            @(section.SectionName)
            @{
                var counter = 0;
                foreach (var item in section.ExecutiveSectionMappings.OrderBy(x => x.SortOrder))
                {
                    if (counter == 0)
                    {
                        <text><tr><td align="center"></text>
                    }
                    else
                    {
                        @:</td><td align="center">
                    }
                    <table>
                        <tr>
                            <td>
                                @{
                                    byte[] photo = item.Executive.ProfilePictureContent.ContentBytes;
                                    string imageSrc = null;
                                    if (photo != null)
                                    {
                                        MemoryStream ms = new MemoryStream();
                                        ms.Write(photo, 0, photo.Length);
                                        //ms.Write(photo, 78, photo.Length - 78);
                                        string imageBase64 = Convert.ToBase64String(ms.ToArray());
                                        imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                    }
                                }<img src="@imageSrc" alt="Image" width="250"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Executive.UserProfile.FullName, new {@Class = "modal-header"})
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Executive.ExecutiveTitle)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Executive.ExecutiveBlurb)
                            </td>
                        </tr>
                    </table>
                    if (counter == 1)
                    {
                        counter = -1;
                        @:</td></tr>
                    }
                    counter++;
                }
            }
        </table>
    }
}