<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Sample Portfolio</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/assets/javascripts/map/map.js"></script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="../partials/header.html"%>

<div class="site-hero__container standard" style="background-image: url('/assets/images/hero-portfolio.jpg');">
  <div class="site-hero__content">
    <div class="site-hero">
      <h1 class="site-hero__title">Carrollwood Village Shoppes</h1>
      <h2 class="site-hero__subtitle">Tampa, Florida</h2><!-- end of .site-hero__subtitle -->
    </div><!-- end of .site-hero -->
  </div><!-- end of .site-hero__content -->
</div><!-- end of .site-hero__container standard -->

<%include src="../partials/secondary-navigation.html"%>

  <div class="site-main">

    <div class="site-section__container">
      <div class="site-section">
        <h1>Carrollwood Village Shoppes</h1>
        <p>Carrollwood Village Shoppes is a 71,000 square foot neighborhood shopping center located in Tampa, Florida. The property sits at the entrance to Carrollwood Village that houses over 260,000 people. The traffic count at this intersection is over 83,500 cars daily. The property has been renovated and tenants such as Chili’s, Anthony’s Coal Fired Pizza, World of Beer and SunTrust Bank are thriving at this location.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <table class="site-section__table">
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
          <tr>
            <td>
              Total Space Available
            </td>
            <td>
              29,088 sq. ft.
            </td>
          </tr>
        </table>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container portfolio" style="background-image: url('/assets/images/large-portfolio.jpg');">
      <div class="site-section__portfolio--container">
        <div class="site-section__portfolio--content">
          <div class="site-section__portfolio">
            <h1 class="site-section__portfolio--title">
              <span class="no-mobile">Carrollwood Village Shoppes</span>
              <span class="no-desktop">Address</span>
            </h1><!-- end of .site-section__portfolio--title -->
            <p class="site-section__portfolio--description">SWC Dale Mabry Highway<br>& Fletch Avenue</p>
            <a href="#" id="open-map" class="site-section__portfolio--map"><i class="fa fa-map-marker"></i> Map</a>
            <div class="site-section__portfolio--contact">
              <p class="site-section__portfolio--contact-title">Property Contact</p>
              <p>Stuart Segall, Leasing Agent</p>
              <p><a href="mailto:ssegall@woolbright.net"><i class="fa fa-envelope"></i> ssegall@woolbright.net</a></p>
              <p><a href="tel:8131234567"><i class="fa fa-telephone"></i> 813-123-4567</a></p>
            </div><!-- end of .site-section__portfolio--contact -->
          </div><!-- end of .site-section__portfolio -->
        </div><!-- end of .site-section__portfolio--content -->
        <img class="site-section__portfolio--image no-desktop" src="/assets/images/large-portfolio.jpg" alt="" />
      </div><!-- end of .site-section__portfolio--container -->
      <div class="site-section__portfolio--map-container">
        <a href="#" id="close-map" title="Close Map" class="portfolio__map--close"><i class="fa fa-times-circle"></i></a>
        <div id="map" class="portfolio__map"></div><!-- end of #map -->
      </div><!-- end of .site-section__portfolio--map -->
    </div><!-- end of .site-section__container -->

<%include src="../partials/call-to-action.html"%>

  </div><!-- end of .site-main -->

<%include src="../partials/footer.html"%>
</body>

</html>