﻿@using Woolbright.Web.Data.Classes
@model Woolbright.Web.Corporate.ViewModels.SearchResultsWrapperViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Search Results</h2>

<table class="table table-responsive">
    <tr>
        <td>
            <table>
                <tr>
                    <td>Properties</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                @if (Model.Properties != null)
                {
                    foreach (var item in Model.Properties)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name + " in " + item.City, "Details", "Property", new { id = ContentSpecific.SlugifyPropertyDetailsLinkText(item) }, null)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No property results found.</td>
                    </tr>
                }
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>Research Articles</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                @if (Model.ResearchArticles != null)
                {
                    foreach (var item in Model.ResearchArticles)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Title + " on " + item.DatePublished.ToShortDateString(), "Details", "ResearchArticle", new {id = ContentSpecific.SlugifyResearchArticleLinkText(item)}, null)

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No research article results found.</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>