  <div class="home-intro__container">
    <div class="home-intro">
      <h1 class="home-intro__title">We Make Retail Places Better so your investment can shine</h1>
      <h2 class="home-intro__subtitle">Woolbright Development is committed to making retail centers better and maximizing results.</h2>
      <a href="#" class="button">Call to Action Text</a>
    </div><!-- end of .home-intro -->
  </div><!-- end of .home-intro--container -->