﻿@using Woolbright.Web.Data.Models
@model IEnumerable<ExecutiveSection>
@{
    //var parentController = ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString();
    //var parentAction = ViewContext.ParentActionViewContext.RouteData.Values["action"].ToString();
    var id = string.Empty;
    if (ViewContext.ParentActionViewContext.RouteData.Values["id"] != null) { 
        id = ViewContext.ParentActionViewContext.RouteData.Values["id"].ToString().Replace("-", " ");
    }
}

<div class="navbar-collapse collapse executiveSubMenuDiv">
    <ul class="nav-justified executiveSubMenuUL">
        @foreach (ExecutiveSection es in Model)
        {
            if (id == es.SectionName) 
            { 
                <li class="active"><div class="executiveSubMenuActiveDiv">@Html.ActionLink(es.SectionName, "Section", "Executive", new { id = es.SectionName.Replace(" ", "-") }, null)</div></li>
            }
            else
            {
                <li>@Html.ActionLink(es.SectionName, "Section", "Executive", new { id = es.SectionName.Replace(" ", "-") }, null)</li>
            }
        }
    </ul>
</div>

@*@(ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString())
<br />
@(ViewContext.ParentActionViewContext.RouteData.Values["action"].ToString())
<br />
@(ViewContext.ParentActionViewContext.RouteData.Values["id"].ToString())*@


