﻿@model IEnumerable<Woolbright.Web.Data.Models.Executive>

<table class="table table-responsive">
@{
    var counter = 0;
    foreach (var item in Model) {

        if (counter == 0)
        {
            <text><tr><td align="center"></text>
        }
        else
        {
            @:</td><td align="center">
        }
    <table>
        <tr>
            <td>
                @(Html.Partial("_ImageFromModelByteArrayView", item.ProfilePictureContent))
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.FullName, new { @Class = "modal-header" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveTitle)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveBlurb)
            </td>
        </tr>
    </table>
        if (counter == 1)
        {
            counter = -1;
            @:</td></tr>
        }
        counter++;
    }
}  
</table>
