﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Woolbright Development Corporate</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Woolbright CMS Admin
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Executive" ? "active" : "")">@Html.ActionLink("Executives", "Index", "Executive")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Executive" ? "active" : "")">@Html.ActionLink("Executive Sections", "Index", "ExecutiveSection")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ResearchArticle" ? "active" : "")">@Html.ActionLink("Research Articles", "Index", "ResearchArticle")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Property" ? "active" : "")">@Html.ActionLink("Properties", "Index", "Property")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Market" ? "active" : "")">@Html.ActionLink("Markets", "Index", "Market")</li>
            </ul>
            <div id="PriorityTasks" style="position: absolute; top: 350px;">
                <h5 style="color: white;">Priority Tasks</h5>
                <br/>
                <img src="~/Content/Images/Loading.gif"/>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@* Google Maps *@
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var geocoder;
    var map;
    var singleMarker;

    function initializeGMap() {
        var mapOptions = {
            center: new google.maps.LatLng(27.8333, -81.7170), //centered on Florida
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
    }

    function codeAddress(address) {
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var myOptions = {
                    zoom: 13,
                    center: results[0].geometry.location,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                // add a click event handler to the map object
                google.maps.event.addListener(map, "click", function(event) {
                    // place a marker
                    placeSingleMarker(event.latLng);
                });
                // create a marker
                var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    title: 'Latitude: ' + results[0].geometry.location.Ya + ' Longitude :' + results[0].geometry.location.Za
                });
                // write lat/lng back to client hidden var
                $("#Lat").val(results[0].geometry.location.Ya);
                $("#Long").val(results[0].geometry.location.Za);
            }
        });
    }

    function addMarker(locations) {
        // This will drop a marker on each property and onClick show some extended info (Name for now)
        // Locations(currently): "Name", "Latitude", "Longitude"
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i].Latitude, locations[i].Longitude),
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i].Name);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

    function placeSingleMarker(location) {
        if (singleMarker) {
            singleMarker.setPosition(location);
        } else {
            singleMarker = new google.maps.Marker({
                position: location,
                map: map,
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                title: 'Override'
            });
        }
        // display the lat/lng in your form's lat/lng fields
        $("#LocationOverrideLat").val(location.lat());
        $("#LocationOverrideLng").val(location.lng());
        // info window
        var infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(singleMarker, 'click', (function(marker) {
            return function() {
                infowindow.setContent('Override');
                infowindow.open(map, marker);
            }
        })(marker));
    }

    var delay = (function() {
        var timer = 0;
        return function(callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $('#PriorityTasks').load('@Url.Action("Index", "PriorityTask")');
    

</script>