﻿@model Woolbright.Web.CMS.ViewModels.PriorityTasksViewModel

<h5 style="color: white;">Priority Tasks</h5>

<br />

<h6 style="color: white;">Properties to Review</h6>

<div style="height: 250px; overflow-y: auto; width: 250px;">
    <table class="table-hover">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Properties.ToList())
            {
                <tr>
                    <td>
                        <a href="@(Url.Action("Edit", "Property", new {id = item.PropertyId}))">@Html.DisplayFor(modelItem => item.PropertyName)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<br/><br/>

<h6 style="color: white;">Bay Options</h6>

<div style="height: 200px; overflow-y: auto; width: 300px;">
    <table class="table-condensed table-hover">

        @foreach (var item in Model.BayOptions)
        {
            <tr>
                <td>
                    <a href="@(Url.Action("Edit", "Property", new { id = item.PropertyId }))">@Html.DisplayFor(modelItem => item.BayNumber)</a>
                </td>
            </tr>
        }
    </table>
</div>*@