﻿@using Woolbright.Web.Data.Classes
@model IEnumerable<Woolbright.Web.Data.Models.Content>
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/unslider.js"></script>

<table class="table-responsive">
    <tr>
        <th>
            Images
        </th>
    </tr>

    <tr>
        <td>
            <div class="slideshow">
                <ul>
                    @{
                        var images = Model.Where(x => x.ContentType == Enums.ContentTypes.Image);
                        foreach (var image in images)
                        {
                            var contentBytes = image.ContentBytes;
                            string imageSrc = null;
                            if (contentBytes != null)
                            {
                                var ms = new MemoryStream();
                                ms.Write(contentBytes, 0, contentBytes.Length);
                                //ms.Write(photo, 78, photo.Length - 78);
                                var imageBase64 = Convert.ToBase64String(ms.ToArray());
                                imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                            }
                            <li><img src="@imageSrc" alt="Image" width="250" /></li>
                        }
                    }
                </ul>
            </div>
        </td>
    </tr>

    <tr>
        <th>Documents</th>
    </tr>
@{
    var documents = Model.Where(x => x.ContentType == Enums.ContentTypes.Document);
    foreach (var document in documents)
    {
        <tr>
            <td nowrap>                
                @Html.ActionImage(
                    document.FileName,
                    "RetrieveFile",
                    "ResearchArticle",
                    Url.Content("~/Content/Images/document-universal.png"),
                    document.FileName,
                    new { id = document.ContentId })
            </td>
        </tr>
    }
    }
</table>
<script>
    $(document).ready(function () {
        $(function () {
            $('.slideshow').unslider();
        });
    });
</script>
<style>
    .slideshow { position: relative; overflow: auto; }
    .slideshow li { list-style: none; }
        .slideshow ul li { float: left; }
</style>