    <div class="site-section__container call-to-action">
      <div class="site-section">
        <h1 class="light">Ready to talk about your next investment?</h1>
        <p class="small">Proin fringilla metus non nulla cursus, sit amet rutrum est pretium.</p>
        <a href="#" class="button">Call to Action Text</a>
      </div><!-- end of .site-section -->
      <div class="site-footer__top-link">
        <a href="#site"><i class="fa fa-angle-up"></i></a>
      </div><!-- end of .site-footer__top-link -->
    </div><!-- end of .site-section__container -->
