  <header class="site-header">
    <div class="site-category__container no-mobile">
      <div class="site-category">
        <ul class="site-category__list">
          <li class="active"><a href="/">Corporate</a></li>
          <li><a href="/properties">Properties</a></li>
        </ul><!-- end of .site-category__list -->
      </div><!-- end of .site-category -->
    </div><!-- end of .site-category__container -->
    <div class="site-header__main--container">
      <div class="site-header__main">
        <h1 class="site-title">
          <a href="/">
            <img class="no-mobile main-logo" src="/assets/svgs/logo-wide-white.svg" alt="2015 Woolbright Development, Inc." />
            <img class="no-mobile home-logo" src="/assets/svgs/logo-wide-black.svg" alt="2015 Woolbright Development, Inc." />
            <img class="no-desktop" src="/assets/svgs/logo-only.svg" alt="2015 Woolbright Development, Inc." /></a>
        </h1><!-- end of .site-title -->
        <a href="#" class="site-navigation__toggle open-mobile-menu"><img src="/assets/svgs/navicon.svg" alt="Menu" /></a>
        <div class="mobile-search no-desktop">
          <a href="#" id="search-trigger-mobile" class="mobile-search__trigger no-desktop"><i class="fa fa-search"></i></a>
          <div class="search__box mobile">
            <form action="#" class="search__box--form">
              <input class="search__box--input" type="text" placeholder="Enter Search Term" />
            </form><!-- end of .search__box--form -->
          </div><!-- end of .search__box -->
        </div><!-- end of .mobile-search -->
        <nav class="site-navigation">
          <div class="site-navigation__mobile-elements no-desktop">
            <div class="site-navigation__mobile-logo">
              <img src="/assets/svgs/logo-only.svg" alt="2015 Woolbright Development, Inc." />
            </div><!-- end of .site-navigation__mobile-logo -->
            <div class="site-navigation__mobile-close">
              <a href="#" class="close-mobile-menu"><img src="/assets/svgs/navicon-close.svg" /></a>
            </div><!-- end of .site-navigation__mobile-close -->
            <div class="site-category__container no-desktop">
              <div class="site-category">
                <ul class="site-category__list">
                  <li class="active"><a href="/">Corporate</a></li>
                  <li><a href="/properties">Properties</a></li>
                </ul><!-- end of .site-category__list -->
              </div><!-- end of .site-category -->
            </div><!-- end of .site-category__container -->
          </div><!-- end of .site-navigation__mobile-elements -->
          <ul class="site-menu">
            <li><a href="/"><span data-hover="Home">Home</span></a></li>
            <li class="has-children"><a href="/about"><span data-hover="About">About</span></a>
              <ul class="site-menu__secondary no-desktop">
                <li><a href="/about/corporate-profile.html">Corporate Profile</a></li>
                <li><a href="/about/executive-profile">Executive Profile</a></li>
                <li><a href="/about/research.html">Research</a></li>
                <li><a href="/about/job-opportunities.html">Job Opportunities</a></li>
              </ul><!-- end of .site-menu__secondary -->
            </li>
            <li><a href="/portfolio"><span data-hover="Portfolio">Portfolio</span></a></li>
            <li><a href="/contact"><span data-hover="Contact Us">Contact Us</span></a></li>
            <li class="search"><a href="#" id="search-trigger-desktop"><i class="fa fa-search"></i></a>
              <div class="search__box desktop">
                <form action="" class="search__box--form">
                  <input name="search" class="search__box--input" type="text" placeholder="Enter Search Term" />
                </form><!-- end of .search__box--form -->
              </div><!-- end of .search__box -->
            </li>
          </ul><!-- end of .site-menu -->
        </nav><!-- end of .site-navigation -->
      </div><!-- end of .site-header__main -->
    </div><!-- end of .site-header__main--container -->
  </header><!-- end of .site-header -->