/*============================
=            Bios            =
============================*/

.bio__container {
  max-width: rem(1000);
  padding: rem(50) rem(20);
  margin: 0 auto;
}

.bio {
  max-width: rem(875);
  margin: 0 0 0 auto;
  @include breakpoint(mobile) {
    margin: 0 auto;
  }
}

.bio__header {
  margin: 0 0 rem(20) auto;
  max-width: rem(620);

  @include breakpoint(mobile) {
    text-align: center;
    margin: 0 auto rem(20);
  }
}

.bio__name {
  margin-bottom: rem(5);
  line-height: 1;
}

.bio__title {
  @include font-proxima(400);
  @include font-size(16);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.bio__details {
  float: left;
  width: rem(180);
  margin: 0 rem(50) rem(20) rem(-250);
  p {
    line-height: 1;
    margin: 0 0 rem(10);
  }
  @include breakpoint(mobile) {
    float: none;
    width: auto;
    margin: rem(40) 0;
  }
}

.bio__author--image {
  margin-bottom: rem(30);
  img {
    display: block;
    margin: 0 auto;
    max-width: rem(190);
    height: auto;
  }
}

.bio__author--name {
  display: inline-block;
  margin-bottom: rem(10);
  line-height: 1;
}

.bio__author--twitter,
.bio__author--title,
.bio__meta--date {
  @include font-proxima(400);
  @include font-size(13);
  line-height: 1.1;
  color: $color-grey-med-dark;
}

.bio__author--title {
  font-style: italic;
}

.bio__social--list {
  @include font-proxima(400);
  @include font-size(13);
  @include list-zero;
  li {
    display: inline-block;
    margin-bottom: rem(20);
    margin-right: rem(10);
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    @include font-proxima(400);
    position: relative;
    color: $color-grey-med-dark;
    display: block;
    text-align: center;
    &:hover {
      color: $color-accent;
    }
  }
  .fa {
    @include font-size(18);
    color: $color-accent;
  }
}

.bio__main {
  margin: 0 0 rem(60) auto;
  max-width: rem(620);

  @include breakpoint(mobile) {
    margin: 0 auto rem(60);
  }
}

.bio__image {
  float: left;
  margin: rem(50) rem(50) rem(50) rem(-250);
  max-width: 100%;

  @include breakpoint(mobile) {
    float: none;
    margin: rem(40) 0 rem(40) 0;
    width: auto;
  }
}

/*-----  End of Bios  ------*/

