/*==================================
=            Case Study            =
==================================*/

.case-study__features {
  display: table;
  font-size: 0;

  @include breakpoint(mobile) {
    display: block;
  }
}

.case-study__features--main {
  display: table-cell;
  width: 32%;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(mobile) {
    display: block;
    width: 100%;

    &:after {
      display: block;
      content: "";
      padding-top: 100%;
    }
  }
}

.case-study__features--list {
  @include list-zero;
  display: table-cell;
  width: 68%;
  vertical-align: top;
  li {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 0 0 rem(50) rem(36);
    &:nth-child(3),
    &:nth-child(4) {
      padding-bottom: 0;
    }

    @include breakpoint(mobile) {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    @include font-proxima(700);
    @include font-size(20);
    border-top: 13px solid $color-main-darkest;
    border-bottom: 1px solid $color-main-darkest;
    text-align: left;
    padding: rem(30) 0 rem(25);
    margin: 0;
    color: $color-main-darkest;
  }

  @include breakpoint(mobile) {
    display: block;
    width: 100%;
  }
}

/*-----  End of Case Study  ------*/

