/*==============================
=            Header            =
==============================*/

.site-header {
  @include drop-shadow;
  transition: transform 300ms linear;
  transform: translate3d(0,0,0);
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0%);
  z-index: 9;
  position: fixed;
  &.headroom--unpinned {
    transform: translateY(-100%);
  }
  .show-menu & {
    bottom: 0;
  }
  .home & {
    .site-category__container {
      background: rgba($color-black, 0.4);
    }
    .site-header__main--container {
      background: rgba($color-white, 0);
    }
    &.headroom--unpinned {
      transform: translateY(-100%);
    }
    &.headroom--pinned {
      .site-category__container {
        background: $color-wild-sand;
      }
      .site-header__main--container {
        background: $color-white;
      }
      &.headroom--top {
        .site-category__container {
          background: rgba($color-black, 0.4);
        }
        .site-header__main--container {
          background: rgba($color-white, 0);
        }
      }
    }
  }
}

.site-category__container {
  @include transition;
  background: $color-wild-sand;

  @include breakpoint(mobile) {
    margin-left: rem(-20);
    margin-right: rem(-20);
  }
}

.site-category {
  max-width: rem(1000);
  padding: rem(4) rem(20) rem(6);
  margin: 0 auto;

  @include breakpoint(mobile) {
    padding: 0;
  }
}

.site-category__list {
  @include list-zero;
  text-align: right;
  line-height: 1;
  font-size: 0;
  li {
    @include font-size(10);
    letter-spacing: 0.1rem;
    display: inline-block;
    text-transform: uppercase;
    margin-left: rem(20);
    &.active {
      a {
        color: $color-accent;

        @include breakpoint(mobile) {
          background: rgba($color-grey-menu, 0.7);
        }
      }
    }

    @include breakpoint(mobile) {
      width: 50%;
      margin-left: 0;
    }
  }
  a {
    @include font-proxima(600);
    display: block;
    color: $color-grey-med;
    &:hover {
      color: $color-accent;

      @include breakpoint(mobile) {
        background: rgba($color-grey-menu, 0.7);
      }
    }

    @include breakpoint(mobile) {
      @include font-size(12);
      padding: rem(15) 0;
      background: rgba($color-grey-menu, 1);
      color: $color-grey-menu-alt;
    }
  }

  @include breakpoint(mobile) {
    margin-top: rem(30);
    text-align: center;
    background: $color-main-dark;
  }
}

.site-header__main--container {
  @include transition;
  background: $color-white;
}

.site-header__main {
  @include clearfix;
  max-width: rem(1000);
  padding: rem(30) rem(20);
  margin: 0 auto;

  @include breakpoint(mobile) {
    padding: rem(25) rem(15);
  }
}

.site-title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  @include breakpoint(mobile) {
    display: block;
  }

  a {
    display: block;
  }
  img {
    margin: 0 auto;
    &.home-logo {
      display: none;
      .home & {
        display: block;
        @include breakpoint(mobile) {
          display: none;
        }
      }
      .headroom--not-top & {
        display: none;
      }
    }
    &.main-logo {
      display: block;
      @include breakpoint(mobile) {
        display: none;
      }
      .home & {
        display: none;
      }
      .headroom--not-top & {
        display: block;
        @include breakpoint(mobile) {
          display: none;
        }
      }
    }

    @include breakpoint(mobile) {
      width: rem(35);
      height: rem(22);
    }
  }
}

/*-----  End of Header  ------*/

