/*============================
=            Home            =
============================*/

.home-intro__container {
  background-image: url('/assets/images/hero-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 7px solid $color-accent;
  display: table;
  height: rem(700);
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 0;
  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-black, 0.6);
    z-index: -1;
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(to left top, rgba($color-accent, 0.2), 30%, transparent 30%);
    z-index: 0;
    @include breakpoint(mobile) {
      display: block;
    }
  }

  @include breakpoint(mobile) {
    height: auto;
  }
}

.home-intro {
  padding-top: rem(120);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 0;

  .button {
    @include breakpoint(mobile) {
      margin-bottom: rem(60);
    }
  }
}

.home-intro__title {
  @include font-proxima(300);
  @include font-size(72);
  color: $color-white;
  line-height: 0.8;
  max-width: rem(930);
  margin: 0 auto rem(40);

  @include breakpoint(mobile) {
    @include font-size(30);
    padding: 0 rem(20);
  }
}

.home-intro__subtitle {
  @include font-proxima(400);
  @include font-size(30);
  color: $color-white;
  max-width: rem(700);
  margin: 0 auto rem(60);

  @include breakpoint(mobile) {
    @include font-size(13);
    padding: 0 rem(20);
    line-height: 1.5;
    margin-bottom: rem(40);
  }
}

.featured-article__title {
  @include font-proxima(300);
  @include font-size(50);
  max-width: rem(700);
  margin: rem(20) auto;

  @include breakpoint(mobile) {
    @include font-proxima(600);
    @include font-size(24);
  }
}

.featured-article__link {
  @include font-proxima(600);
  @include font-size(21);
  color: $color-white;
  display: inline-block;
  margin: 0 auto rem(20);
  border-bottom: 1px solid rgba($color-white, 0);
  &:hover {
    border-bottom: 1px solid $color-white;
  }

  @include breakpoint(mobile) {
    @include font-size(16);
    margin-bottom: rem(10);
  }
}

.featured-property__header {
  margin: rem(20) 0 rem(50);
}

.featured-properties__list {
  @include list-zero;
  font-size: 0;
  margin: 0 0 rem(40) rem(-40);
}

.featured-property__container {
  display: inline-block;
  width: 33.333%;
  padding-left: rem(40);
  vertical-align: top;

  @include breakpoint(mobile) {
    width: 100%;
    margin-bottom: rem(20);
  }
}

.featured-property {
  position: relative;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  z-index: 0;
  &:before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba($color-black, 0.4);
    z-index: -1;
  }
  &:after {
    position: absolute;
    display: none;
    content: "";
    background: rgba($color-white, 0);
    border: 1px solid $color-white;
    top: rem(20);
    left: rem(20);
    right: rem(20);
    bottom: rem(20);
    pointer-events: none;
  }

  &:hover {
    &:before,
    &:after {
      display: block;
    }
    .featured-property__image {
      img {
        opacity: 0;
      }
    }
    .featured-property__label {
      right: rem(20);
    }
    .featured-property__info {
      padding: rem(50) rem(40) rem(30) rem(40);
      background: none;
      .featured-property__title,
      .featured-property__link {
        color: $color-white;
      }
      .featured-property__location {
        color: $color-white;
        &:after {
          background: $color-white;
        }
      }
    }
  }
}

.featured-property__image {
  position: relative;
  img {
    @include transition;
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
  }
}

.featured-property__label {
  @include transition;
  position: absolute;
  top: rem(30);
  right: 0;
  color: $color-white;
  background: $color-main-darkest;
  p {
    @include font-proxima(600);
    @include font-size(12);
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    padding: rem(15) rem(24) rem(15) rem(18);
  }
}

.featured-property__info {
  @include transition;
  background: $color-white;
  padding: rem(30) rem(30) rem(50) rem(30);
  text-align: left;
  z-index: 1;
}

.featured-property__title {
  @include font-size(28);
}

.featured-property__location {
  &:after {
    display: block;
    content: "";
    height: 1px;
    background: $color-grey-dark;
    width: rem(50);
    margin: rem(20) auto rem(20) 0;
  }
}

.featured-property__link {
  @include font-proxima(600);
  @include font-size(12);
  text-transform: uppercase;
  color: $color-grey-med;
}

.featured-property__availability {
  p {
    @include font-proxima(600);
    @include font-size(12);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: right;
    color: $color-white;
  }
}

/*-----  End of Home  ------*/

