/*============================
=            Main            =
============================*/

.site-main {
  &.standard {
    padding-bottom: rem(100);
  }
}

.screen-reader-text {
  @include visually-hidden;
}

.site-hero__container {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  height: rem(280);
  border-bottom: 7px solid $color-accent;
  z-index: -1;
  pointer-events: none;
  &.large {
    height: rem(780);

    @include breakpoint(mobile) {
      height: rem(280);
    }
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color-black, 0.4);
    z-index: -1;
    pointer-events: none;
  }
}

.site-hero__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

.site-hero {
  max-width: rem(1000);
  margin: 0 auto;
  padding: rem(40) rem(20);
}

.site-hero__title {
  @include font-proxima(300);
  @include font-size(72);
  color: $color-white;
  margin-bottom: 0;
  line-height: 0.9;
  .large & {
    @include font-proxima(600);
  }

  @include breakpoint(mobile) {
    @include font-size(30);
  }
}

.site-hero__subtitle {
  @include font-proxima(400);
  @include font-size(34);
  color: $color-white;
  margin-bottom: 0;
  line-height: 1.2;
  .large & {
    text-transform: uppercase;
    margin-top: rem(10);
  }

  @include breakpoint(mobile) {
    @include font-size(20);
  }
}

.site-hero__description {
  @include font-proxima(400);
  @include font-size(22);
  color: $color-white;
  padding-top: rem(35);
  margin: rem(90) auto 0;
  max-width: rem(630);
  position: relative;
  span {
    text-transform: uppercase;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    content: "";
    height: rem(1);
    width: 50%;
    background: $color-white;
  }
}

.site-hero__badge {
  position: absolute;
  bottom: rem(-75);
  left: calc(50% - 42px);
  width: rem(84);
  height: rem(100);
}

.call-to-action {
  position: relative;
  overflow: visible;
}

.site-footer__top-link {
  position: absolute;
  @include font-size(32);
  left: calc(50% - 50px);
  bottom: rem(-42);
  border-left: rem(50) solid transparent;
  border-right: rem(50) solid transparent;
  border-top: rem(50) solid $color-white;
  width: 0;
  height: 0;
  z-index: 9;
  .alt & {
    border-top: rem(50) solid $color-main-pale;
  }
  a {
    display: block;
    line-height: 1;
    margin: rem(-55) auto 0 rem(-10);
    text-align: center;
    outline: none;
    &:hover {
      margin-top: rem(-60);
    }
  }
}

/*-----  End of Main  ------*/

