/*==================================
=            Navigation            =
==================================*/

.site-navigation {
  float: right;

  @include breakpoint(mobile) {
    display: none;
    &.show {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-grey-darker;
      padding: rem(20);
    }
  }
}

.site-navigation__toggle {
  display: none;
  @include breakpoint(mobile) {
    @include font-size(20);
    line-height: 1;
    position: absolute;
    display: block;
    color: $color-grey-med;
    left: rem(15);
    top: rem(28);
  }
}

.mobile-search {
  @include font-size(10);
  position: absolute;
  right: rem(20);
  top: rem(30);
  border: rem(1) solid $color-grey-med;
  width: rem(20);
  height: rem(20);
  text-align: center;
  line-height: 1.8;
  a {
    color: $color-main-med;
  }

  @include breakpoint(mobile) {
    .home & {
      border: rem(1) solid $color-white;
      a {
        color: $color-white;
      }
    }
    .home .headroom--pinned.headroom--not-top & {
      border: rem(1) solid $color-grey-med;
      a {
        color: $color-main-med;
      }
    }
  }
}

.search__box {
  @include transition;
  display: block;
  position: absolute;
  background: red;
  right: 0;
  top: rem(-14);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  .search__box--form {
    position: relative;
  }
  .search__box--input {
    width: rem(500);
    padding: rem(10) rem(35) rem(10) rem(10);
    margin: 0;
    background: $color-white;
    border-left: 2px solid $color-main-light;
    &:hover,
    &:focus {
      border-color: rgba($color-white, 0);
      border-left: 2px solid $color-main-light;
    }

    @include breakpoint(mobile) {
      width: rem(240);
      padding: rem(10) rem(35) rem(10) rem(10);
    }
  }
  .search__box--submit {
    @include font-size(16);
    width: rem(30);
    height: rem(30);
    padding: rem(5) 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    text-align: center;

    @include breakpoint(mobile) {
      @include font-size(10);
      width: rem(22);
      height: rem(22);
      padding: rem(1) 0;
    }
  }
  &.searching {
    opacity: 1;
    pointer-events: auto;
  }

  @include breakpoint(mobile) {
    min-width: rem(240);
    right: rem(-1);
  }
}

.site-navigation__mobile-elements {
  @include clearfix;
  margin-bottom: rem(20);
}

.site-navigation__mobile-logo {
  display: block;
  width: 50%;
  margin: 0 auto;
  img {
    display: block;
    width: rem(44);
    height: rem(28);
    margin: 0 auto;
  }
}

.site-navigation__mobile-close {
  float: right;
  margin-top: rem(-30);
  a {
    display: block;
  }
  img {
    display: block;
    padding: rem(5) 0 rem(5) rem(5);
  }
}

.site-navigation__mobile-title {
  border-bottom: 1px solid rgba($color-white, 0.5);
  margin-top: rem(20);
  p,
  a {
    @include font-proxima(400);
    @include font-size(10);
    margin-bottom: rem(5);
    text-transform: uppercase;
    line-height: 1;
    color: $color-main-med;
    letter-spacing: 0.1rem;
  }
  a {
    display: block;
    position: relative;
    &:after {
      @include font-size(14);
      position: absolute;
      right: 0;
      top: rem(-2);
      font-family: $font-icons;
      content: "\f105";
      color: $color-white;
    }
  }
}

.site-menu {
  @include list-zero;
  text-align: right;
  line-height: 1;
  text-transform: uppercase;
  li {
    @include font-size(13.2);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(35);
    &:first-child {
      margin-left: 0;
    }
    &.active {
      a {
        color: $color-accent;
        @include breakpoint(mobile) {
          color: $color-white;
        }
      }
      &:after {
        @include breakpoint(desktop) {
          height: rem(2);
          opacity: 1;
          transition: opacity 0.7s, transform 0.3s;
          transform: translateY(10px);
        }
      }
    }
    &.current-page {
      > a {
        @include breakpoint(mobile) {
          color: $color-accent;
        }
      }
    }
    &.search {
      @include font-size;
      a {
        color: $color-main-med;
        border: rem(1) solid $color-grey-med;
        width: rem(30);
        height: rem(30);
        text-align: center;
        line-height: 1.8;
        .home & {
          color: $color-white;
          border-color: $color-white;
        }
        .home .headroom--pinned.headroom--top & {
          color: $color-white;
          border-color: $color-white;
        }
        .home .headroom--pinned & {
          color: $color-main-med;
          border: rem(1) solid $color-grey-med;
        }
        .headroom--pinned & {
          color: $color-main-med;
          border: rem(1) solid $color-grey-med;
        }
      }
      &:hover {
        &:after {
          display: none;
        }
      }
      @include breakpoint(mobile) {
        display: none;
      }
    }
    &:after {
      @include breakpoint(desktop) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: $color-accent;
        content: '';
        opacity: 0;
        transition: opacity 0.7s, transform 0.3s;
        transform: translateY(20px);
      }
    }
    &:focus,
    &:hover {
      color: $color-accent;
      &:after {
        @include breakpoint(desktop) {
          height: rem(2);
          opacity: 1;
          transition: opacity 0.7s, transform 0.3s;
          transform: translateY(10px);
        }
      }
    }

    @include breakpoint(mobile) {
      display: block;
      margin-left: 0;
      &:after {
        display: none;
      }
    }

    @include breakpoint(mobile) {
      margin-bottom: rem(10);
    }
  }
  a {
    position: relative;
    letter-spacing: 0.15rem;
    color: $color-main-med;
    display: block;
    height: 1em;
    overflow: hidden;
    .home & {
      color: $color-white;
    }
    .home .headroom--pinned.headroom--top & {
      color: $color-white;
    }
    .headroom--pinned & {
      color: $color-main-med;
    }
    span {
      @include breakpoint(dekstop) {
        position: relative;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
      }
    }
    span::before {
      @include breakpoint(desktop) {
        color: $color-accent;
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
    }

    &:hover span,
    &:focus span {
      @include breakpoint(desktop) {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    }

    @include breakpoint(mobile) {
      @include font-proxima(300);
      @include font-size(17);
      height: auto;
      color: $color-white;
      margin-bottom: rem(20);
    }
  }

  @include breakpoint(mobile) {
    text-align: center;
  }
}

.site-navigation__secondary {
  display: none;
  background: $color-white-lilac;
  margin-bottom: rem(40);
  &.show {
    display: block;
    margin-bottom: 0;
  }
}

.site-menu__secondary {
  @include list-zero;
  line-height: 1;
  text-align: center;
  font-size: 0;

  li {
    @include font-proxima(600);
    @include font-size(13.2);
    display: inline-block;
    text-transform: uppercase;

    &.active {
      a {
        color: $color-accent;
        background: $color-wild-sand;
        @include breakpoint(mobile) {
          background: none;
          color: $color-white;
        }
      }
      .site-menu__tertiary {
        display: block;
        a {
          background: none;
          color: $color-mobster;
          &:hover {
            color: $color-accent;
          }

          @include breakpoint(mobile) {
            color: $color-white;
          }
        }
        .active {
          a {
            color: $color-accent;
            @include breakpoint(mobile) {
              color: $color-white;
            }
          }
        }
        .current-page {
          a {
            @include breakpoint(mobile) {
              color: $color-accent;
            }
          }
        }
      }
    }
    &.current-page {
      a {
        @include breakpoint(mobile) {
          color: $color-accent;
        }
      }
    }
    @include breakpoint(mobile) {
      display: inline-block;
      width: 50%;
    }
  }
  a {
    display: block;
    padding: rem(20) rem(26);
    letter-spacing: 0.15rem;
    color: $color-main-med;
    height: auto;
    &:hover {
      color: $color-accent;
      background: $color-wild-sand;
      @include breakpoint(mobile) {
        background: none;
        color: $color-white;
      }
    }

    @include breakpoint(mobile) {
      @include font-size(11);
      padding: rem(18) 0;
      border-bottom: 1px solid $color-main-light;
      background: $color-wild-sand;
      letter-spacing: 0;
      border-right: 1px solid $color-main-light;
    }
    @include breakpoint(phone) {
      padding: rem(12) 0;
    }
  }
  @include breakpoint(mobile) {

  }
}

.site-menu__tertiary {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  line-height: 1;

  li {
    @include font-proxima(400);
    text-transform: none;
    margin: rem(30) rem(15);
    &.active {
      a {
        background: none;
        border: 1px solid $color-accent;
        @include breakpoint(mobile) {
          border: none;
        }
      }
    }
    &.current-page {
      a {
        @include breakpoint(mobile) {
          color: $color-accent;
        }
      }
    }

    @include breakpoint(mobile) {
      margin: 0 0 rem(10) 0;
    }
  }
  a {
    padding: rem(8) rem(10) rem(6);
    border-radius: rem(5);
    border: 1px solid rgba($color-accent, 0);
    &:hover {
      background: none;
      border: 1px solid $color-accent;
      @include breakpoint(mobile) {
        border: none;
      }
    }
    @include breakpoint(mobile) {
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }

  @include breakpoint(mobile) {
    position: static;
    display: block;
    padding-left: 0;
    margin-left: rem(20);
  }
}

/*-----  End of Navigation  ------*/

