<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Case Study</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="partials/header.html"%>

<div class="site-hero__container large" style="background-image: url('/assets/images/hero-case-study.jpg');">
  <div class="site-hero__content">
    <div class="site-hero">
      <h1 class="site-hero__title">Polo Shoppes</h1>
      <h2 class="site-hero__subtitle">Boca Raton, Florida</h2><!-- end of .site-hero__subtitle -->
      <p class="site-hero__description"><span>Polo Club Shoppes</span> is a 128,000 square foot Publix anchored shopping center located on the southwest corner of Military Trail and Champion Boulevard in Boca Raton, Florida.</p>
    </div><!-- end of .site-hero -->
  </div><!-- end of .site-hero__content -->
  <img class="site-hero__badge" src="/assets/svgs/badge.svg" alt="" />
</div><!-- end of .site-hero__container large -->

<%include src="partials/secondary-navigation.html"%>

  <div class="site-main">

    <div class="site-section__container case-study">
      <div class="site-section">
        <h5>Case Study</h5>
        <h1>Polo Shoppes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis quis, interdum vitae metus. Proin fringilla metus non nulla cursus, sit amet rutrum est pretium. Etiam porta sem malesuada magna mollis euismod.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <img class="site-section__full-image" src="/assets/images/large-case-study.jpg" alt="" />
    </div><!-- end of .site-section__container -->

    <div class="site-section__container dark">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--third">
            <h2>H2 Headline</h2>
            <p class="smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis interdum vitae metus.</p>
          </li><!-- end of .site-section__column--third -->
          <li class="site-section__column--third">
            <h2>H2 Headline</h2>
            <p class="smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis interdum vitae metus.</p>
          </li><!-- end of .site-section__column--third -->
          <li class="site-section__column--third">
            <h2>H2 Headline</h2>
            <p class="smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis interdum vitae metus.</p>
          </li><!-- end of .site-section__column--third -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <div class="case-study__features">
          <div class="case-study__features--main" style="background-image: url('/assets/images/case-01.jpg');">
            &nbsp;
          </div><!-- end of .case-study__features--main -->
          <ul class="case-study__features--list">
            <li><img src="/assets/images/case-02.jpg" alt="" /></li>
            <li><img src="/assets/images/case-03.jpg" alt="" /></li>
            <li><img src="/assets/images/case-04.jpg" alt="" /></li>
            <li><p>In contrast, nearly 60% of Publix‐anchored centers have a vacancy rate of 95% or better.</p></li>
          </ul><!-- end of .case-study__features--list -->
        </div><!-- end of .case-study__features -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis quis, interdum vitae metus. Proin fringilla metus non nulla cursus, sit amet rutrum est pretium. Etiam porta sem malesuada magna mollis euismod.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

<%include src="partials/call-to-action-alt.html"%>

  </div><!-- end of .site-main -->

<%include src="partials/footer.html"%>
</body>

</html>