  <div class="site-footer__container">
    <footer class="site-footer">
      <ul class="site-footer__columns">
        <li class="site-footer__column">
          <a href="/" title="Woolbright Development Inc."><img class="site-footer__logo" src="/assets/svgs/logo-only-white.svg" alt="Woolbright Development Inc." /></a>
          <div class="site-footer__address--container">
            <ul class="site-footer__address">
              <li class="site-footer__address--label">
                Corporate Office
              </li><!-- end of .site-footer__address--label -->
              <li>2240 NW 19th Street, Suite 801</li>
              <li>Boca Raton, FL 33431</li>
              <li>(561) 989–2265</li>
              <li>
                <a href="mailto:info@woolbright.net" class="site-footer__email">info@woolbright.net</a>
              </li>
            </ul><!-- end of .site-footer__address -->
          </div><!-- end of .site-footer__address--container -->
        </li><!-- end of .site-footer__column -->
        <li class="site-footer__column">
          <ul class="site-footer__social">
            <li><a href="#" title="Follow us on LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#" title="Follow us on Facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
          </ul><!-- end of .site-footer__social -->
          <div class="site-footer__copyright">
            <p>&copy;2015 Woolbright Development, Inc. <span>–</span> All Rights Reserved</p>
          </div><!-- end of .site-footer__copyright -->
          <div class="site-footer__links">
            <p><a href="#">Privacy</a> / <a href="#">Disclaimer</a></p>
          </div><!-- end of .site-footer__links -->
        </li><!-- end of .site-footer__column -->
      </ul><!-- end of .site-footer__columns -->

    </footer><!-- end of .site-footer -->
  </div><!-- end of .site-footer__container -->

<!-- JavaScripts Start -->
  <script src="/assets/javascripts/application.min.js"></script>
<!-- JavaScripts End -->