  <header class="site-header home">
    <div class="site-category__container no-mobile">
      <div class="site-category">
        <ul class="site-category__list">
          <li class="active"><a href="/">Corporate</a></li>
          <li><a href="/properties">Properties</a></li>
        </ul><!-- end of .site-category__list -->
      </div><!-- end of .site-category -->
    </div><!-- end of .site-category__container -->
    <div class="site-header__main--container">
      <div class="site-header__main">
        <h1 class="site-title">
          <a href="/"><img class="no-mobile un-pinned" src="/assets/svgs/logo-wide-white.svg" alt="2015 Woolbright Development, Inc." /><img class="no-mobile pinned" src="/assets/svgs/logo-wide-black.svg" alt="2015 Woolbright Development, Inc." /><img class="no-desktop" src="/assets/svgs/logo-only.svg" alt="2015 Woolbright Development, Inc." /></a>
        </h1><!-- end of .site-title -->
        <a href="#" class="site-navigation__toggle open-mobile-menu"><img src="/assets/svgs/navicon.svg" alt="Menu" /></a>
        <a href="#" class="mobile-search no-desktop"><i class="fa fa-search"></i></a>
        <nav class="site-navigation">
          <div class="site-navigation__mobile-elements no-desktop">
            <div class="site-navigation__mobile-logo">
              <img src="/assets/svgs/logo-only.svg" alt="2015 Woolbright Development, Inc." />
            </div><!-- end of .site-navigation__mobile-logo -->
            <div class="site-navigation__mobile-close">
              <a href="#" class="close-mobile-menu"><img src="/assets/svgs/navicon-close.svg" /></a>
            </div><!-- end of .site-navigation__mobile-close -->
            <div class="site-navigation__mobile-title">
              <p>Woolbright Corporate</p>
            </div><!-- end of .site-navigation__mobile-title -->
          </div><!-- end of .site-navigation__mobile-elements -->
          <ul class="site-menu">
            <li><a href="/"><span data-hover="Home">Home</span></a></li>
            <li><a href="/about"><span data-hover="About">About</span></a>
              <ul class="site-menu__secondary no-desktop">
                <li class="active"><a href="/about">About Us</a></li>
                <li><a href="/about/corporate-profile.html">Corporate Profile</a></li>
                <li><a href="/about/executive-profile">Executive Profile</a>
                  <ul class="site-menu__tertiary">
                    <li class="active"><a href="/about/executive-profile/index.html">Executive Team</a></li>
                    <li><a href="/about/executive-profile/acquisitions.html">Acquisitions</a></li>
                    <li><a href="/about/executive-profile/leasing.html">Leasing</a></li>
                    <li><a href="/about/executive-profile/operations.html">Operations</a></li>
                    <li><a href="/about/executive-profile/legal.html">Legal</a></li>
                  </ul><!-- end of .site-menu__tertiary -->
                </li>
                <li><a href="/about/research.html">Research</a></li>
                <li><a href="/about/job-opportunities.html">Job Opportunities</a></li>
              </ul><!-- end of .site-menu__secondary -->
            </li>
            <li><a href="/portfolio"><span data-hover="Portfolio">Portfolio</span></a></li>
            <li><a href="/contact"><span data-hover="Contact Us">Contact Us</span></a></li>
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul><!-- end of .site-menu -->
          <div class="site-navigation__mobile-title no-desktop">
            <a href="#">Woolbright Properties</a>
          </div><!-- end of .site-navigation__mobile-title no-desktop -->
        </nav><!-- end of .site-navigation -->
        <div class="site-header__home-content--container">
          <div class="site-header__home-content">
            <h1 class="site-header__home-content--title">We Make Retail Places Better so your investment can shine</h1>
            <h2 class="site-header__home-content--subtitle">Woolbright Development is committed to making retail centers better and maximizing results.</h2>
            <a href="#" class="button">Call to Action Text</a>
          </div><!-- end of .site-header__home-content -->
        </div><!-- end of .site-header__home-content--container -->
      </div><!-- end of .site-header__main -->
    </div><!-- end of .site-header__main--container -->
  </header><!-- end of .site-header -->