    <div class="site-section__container">
      <div class="site-section">
        <h1>H1 Headline</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis quis, interdum vitae metus. Proin fringilla metus non nulla cursus, sit amet rutrum est pretium. Etiam porta sem malesuada magna mollis euismod.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--half">
            <h2>H2<br>Headline</h2>
            <ul class="site-section__checklist">
              <li>Determine which markets are generating sustained demand for real estate and their growth potential</li>
              <li>Aggressively target properties that offer tremendous upside, even those not currently for sale</li>
              <li>Qualify, quantify, and analyze the level of profitability and risk to a high degree of accuracy before acquiring a property</li>
            </ul><!-- end of .site-section__checklist -->
          </li><!-- end of .site-section__column--half -->
          <li class="site-section__column--half">
            <h2>H2<br>Headline</h2>
            <ul class="site-section__checklist">
              <li>Determine which markets are generating sustained demand for real estate and their growth potential</li>
              <li>Aggressively target properties that offer tremendous upside, even those not currently for sale</li>
              <li>Qualify, quantify, and analyze the level of profitability and risk to a high degree of accuracy before acquiring a property</li>
            </ul><!-- end of .site-section__checklist -->
          </li><!-- end of .site-section__column--half -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="#">Property Name</a></h2>
            <p>City</p>
          </li><!-- end of .site-section__column--quarter -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--third">
            <h2>H2 Headline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis interdum vitae metus.</p>
            <a href="#">Link Style</a>
          </li><!-- end of .site-section__column--third -->
          <li class="site-section__column--third">
            <h2>H2 Headline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis interdum vitae metus.</p>
            <a href="#">Link Style</a>
          </li><!-- end of .site-section__column--third -->
          <li class="site-section__column--third">
            <h2>H2 Headline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis interdum vitae metus.</p>
            <a href="#">Link Style</a>
          </li><!-- end of .site-section__column--third -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->