    <div class="site-section__container">
      <div class="site-section">
        <h1>H1 Headline</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis quis, interdum vitae metus. Proin fringilla metus non nulla cursus, sit amet rutrum est pretium. Etiam porta sem malesuada magna mollis euismod.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
          <li class="site-section__column--quarter">
            <h2><a href="/portfolio/sample-portfolio.html">Property Name</a></h2>
            <p>Boca Raton</p>
          </li><!-- end of .site-section__column--quarter -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->