﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CMS Admin</h1>
    <p class="lead">Woolbright has developed a CMS system for editing content on it's websites.</p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Info</h2>
        <p>
            Woolbright has developed a CMS system for editing content on it's websites.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>
<br /><br /><br /><br /><br />