<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Job Opportunities</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="../partials/header.html"%>
<%include src="../partials/secondary-navigation.html"%>

<%include src="../partials/footer.html"%>
</body>

</html>