/*===============================
=            Article            =
===============================*/


/*==========  Article Main  ==========*/

.article-main__container {
  max-width: rem(820);
  padding: rem(50) rem(20);
  margin: 0 auto;
}

.article-main__list {
  @include list-zero;
}

.article-main {
  display: table;
  padding-bottom: rem(60);
  margin-bottom: rem(60);
  border-bottom: 1px solid $color-grey-dark;
  @include breakpoint(mobile) {
    display: block;
  }
}

.article-main__image {
  display: table-cell;
  vertical-align: top;
  width: rem(160);
  img {
    max-width: rem(120);
    height: auto;
    @include breakpoint(mobile) {
      display: block;
      margin: 0 auto;
    }
  }
  a {
    display: block;
    margin: 0 auto;
  }

  @include breakpoint(mobile) {
    display: block;
    margin: 0 auto rem(20);
  }
}

.article-main__content {
  display: table-cell;
  vertical-align: top;

  @include breakpoint(mobile) {
    display: block;
  }
}

.article-main__header {
  @include breakpoint(mobile) {
    text-align: center;
  }
}

.article-main__category {
  @include font-proxima(600);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: rem(10);
  line-height: 1.1;
}

.article-main__title {
  @include font-proxima(300);
  @include font-size(30);
  margin-bottom: rem(30);
  letter-spacing: 0.1rem;
  a {
    @include font-proxima(300);
  }
}

.article-main__date {
  color: $color-grey-med;
  font-style: italic;
  margin-bottom: rem(30);
}

.article-main__description {
  @include font-proxima(400);
  line-height: 1.8;
  margin-bottom: rem(20);
}

.article-main__link {
  line-height: 1;
  .fa {
    @include transition;
    padding-left: rem(5);
  }
  &:hover {
    .fa {
      padding-left: rem(10);
    }
  }
}

.article-main__navigation {
  @include clearfix;
  margin-bottom: rem(200);
}

.article-main__archives {
  display: inline-block;

  @include breakpoint(mobile) {
    display: block;
    text-align: center;
    select {
      min-width: 80%;
    }
  }
}

.article-main__pagination {
  float: right;

  @include breakpoint(mobile) {
    float: none;
    text-align: center;
    margin-top: rem(40);
  }
}

.article-main__page-list {
  @include list-zero;
  line-height: 1;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0;
  li {
    display: inline-block;
    border-top: 1px solid $color-main-light;
    border-bottom: 1px solid $color-main-light;
    border-right: 1px solid $color-main-light;
    &:first-child,
    &:last-child {
      border: 1px solid $color-accent;
      background: $color-accent;
      &:hover {
        border-color: $color-main-med;
      }
      a {
        @include font-proxima(600);
        @include font-size(12);
        color: $color-white;
        text-transform: uppercase;
        width: auto;
        &:hover {
          background: $color-main-med;
        }
      }
    }
    &.active {
      a {
        background: $color-main-light;
      }
    }
  }
  a {
    @include font-proxima(400);
    @include font-size(13);
    display: block;
    padding: rem(10);
    width: rem(35);
    height: rem(30);
    text-align: center;
    color: $color-main-med;
    line-height: 0.9;
    &:hover {
      background: $color-main-light;
    }
  }
}


/*==========  Article  ==========*/


.article__container {
  max-width: rem(1000);
  padding: rem(50) rem(20);
  margin: 0 auto;
}

.article {
  max-width: rem(875);
  margin: 0 0 0 auto;
}

.article__category {
  margin-bottom: rem(40);
  line-height: 1;

  @include breakpoint(mobile) {
    text-align: center;
  }
}

.article__title {
  @include font-proxima(300);
  @include font-size(62);

  @include breakpoint(mobile) {
    @include font-size(32);
    text-align: center;
  }
}

.article__details {
  float: left;
  width: rem(180);
  margin: 0 rem(50) rem(20) rem(-250);
  p {
    line-height: 1;
    margin: 0 0 rem(10);
  }
  .article__meta--date {
    margin: rem(30) 0;
  }

  @include breakpoint(mobile) {
    float: none;
    width: auto;
    margin: rem(40) 0;
    text-align: center;
  }
}

.article__author--image {
  border: 2px solid rgba($color-grey-dark, 0.4);
  border-radius: 100%;
  width: rem(125);
  height: rem(125);
  margin-bottom: rem(30);
  img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: auto;
    height: 100%;
  }
}

.article__author--name {
  display: inline-block;
  margin-bottom: rem(10);
  line-height: 1;
}

.article__author--twitter,
.article__author--title,
.article__meta--date {
  @include font-proxima(400);
  @include font-size(13);
  line-height: 1.1;
  color: $color-grey-med-dark;
}

.article__author--title {
  font-style: italic;
}

.article__meta--list {
  @include font-proxima(400);
  @include font-size(13);
  @include list-zero;
  border-top: 1px dashed $color-grey-med;
  border-bottom: 1px dashed $color-grey-med;
  padding-top: rem(20);

  li {
    margin-bottom: rem(20);
  }
  a {
    @include font-proxima(400);
    position: relative;
    color: $color-grey-med-dark;
    padding-left: rem(35);
    &:hover {
      color: $color-accent;
    }
  }
  .fa {
    @include font-size(18);
    position: absolute;
    color: $color-accent;
    left: 0;
  }
}

.article__main {
  margin: 0 0 rem(60) auto;
  max-width: rem(620);
}

.article__image {
  float: left;
  margin: rem(50) rem(50) rem(50) rem(-250);
  max-width: 100%;

  @include breakpoint(mobile) {
    float: none;
    margin: rem(40) 0 rem(40) 0;
    width: auto;
  }
}

.article__footer {
  border-top: 1px solid $color-main-dark;
  padding-top: rem(30);
  margin: 0 0 rem(60) auto;
  max-width: rem(620);
}

/*-----  End of Article  ------*/

