/*===============================
=            Contact            =
===============================*/

.contact__map--container {
  position: relative;
}

.contact__map--content {
  position: absolute;
  left: 0;
  right: 0;
  max-width: rem(1220);
  margin: 0 auto;
  z-index: 2;

  @include breakpoint(mobile) {
    position: static;
  }
}

.contact__map--form-container {
  background: $color-white;
  max-width: 50%;
  margin-top: rem(40);
  padding: rem(40) rem(40) rem(70) rem(40);

  @include breakpoint(mobile) {
    max-width: 100%;
    padding: rem(20);
  }
}

.contact__map--form {
  @include breakpoint(mobile) {
    text-align: center;
    margin-bottom: rem(20);
  }
}

.contact__map {
  width: 100%;
  height: 80vh;

  @include breakpoint(mobile) {
    height: rem(400);
  }
}

.contact__form--address {
  @include list-zero;
  text-align: right;
  float: right;
  margin-top: rem(-50);
  line-height: 1.3;
  li {
    @include font-size(17);
    &:first-child {
      @include font-proxima(400);
    }
  }
  @include breakpoint(mobile) {
    display: none;
  }
}

/*-----  End of Contact  ------*/

