/*==============================
=            Footer            =
==============================*/

.site-footer__container {
  position: relative;
  background: $color-main-darkest;
  border-top: rem(7) solid $color-accent;
}

.site-footer {
  max-width: rem(1220);
  padding: rem(60) rem(20);
  margin: 0 auto;

  @include breakpoint(phone) {
    padding-bottom: rem(40);
  }
}

.site-footer__columns {
  @include list-zero;
  font-size: 0;
}

.site-footer__column {
  @include font-size;
  display: inline-block;
  vertical-align: bottom;
  width: 50%;

  &:last-of-type {
    @include font-proxima(600);
    @include font-size(11.2);
    color: $color-grey-light;
    text-align: right;
    line-height: 1;

    @include breakpoint(phone) {
      display: table;
      text-align: center;
    }
  }

  @include breakpoint(phone) {
    width: 100%;
    text-align: center;
  }
}

.site-footer__logo {
  display: inline-block;
  vertical-align: top;
  margin-right: rem(30);

  @include breakpoint(phone) {
    display: block;
    margin: rem(20) auto rem(30);
  }
}

.site-footer__address--container {
  display: inline-block;
  vertical-align: top;
}

.site-footer__address {
  @include font-proxima(400);
  @include font-size(14);
  @include list-zero;
  text-transform: uppercase;
  color: $color-grey-light;

  @include breakpoint(phone) {
    margin-bottom: rem(40);
  }
}

.site-footer__address--label {
  @include font-size(12);
  color: $color-grey-med;
  line-height: 1;
  margin-bottom: rem(5);
}

.site-footer__email {
  @include font-proxima(600);
}

.site-footer__social {
  @include list-zero;
  margin-bottom: rem(10);
  line-height: 1;
  li {
    display: inline-block;
    margin-left: rem(14);
    &:first-child {
      margin-left: 0;
    }

    @include breakpoint(phone) {
      margin-bottom: rem(20);
    }
  }
  a {
    display: block;
    color: $color-white-lilac;
    &:hover {
      color: $color-accent;
    }
  }
  .fa {
    @include font-size(23);
  }

  @include breakpoint(phone) {
    display: table-header-group;
  }
}

.site-footer__copyright {
  span {
    @include breakpoint(phone) {
      visibility: hidden;
      display: block;
      height: rem(3);
    }
  }

  @include breakpoint(phone) {
    display: table-footer-group;
  }
}

.site-footer__links {
  a {
    @include font-proxima(600);
    color: $color-grey-light;
    &:hover {
      color: $color-accent;
    }
  }

  @include breakpoint(phone) {
    display: table-header-group;
    p {
      margin-bottom: rem(10);
    }
  }
}

/*-----  End of Footer  ------*/

