/*==============================
=            Global            =
==============================*/

html, body {
  @include font-setup;
  height: 100%;
}

html {
  @include font-proxima;
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include font-size;
  @include font-proxima;
  background: $color-body-background;
  color: $color-text-body;
  line-height: $font-line-height;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  padding-top: rem(114);
  &.home {
    padding-top: 0;
  }
  &.show-menu {
    .site-main {
      display: none;
    }
    .site-footer {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    padding-top: rem(72);
  }
}

.no-mobile {
  @include breakpoint(mobile) {
    display: none;
  }
}

.no-desktop {
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}

/*-----  End of Global  ------*/