/*================================
=            Sections            =
================================*/

.site-section__container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &.alt {
    border-top: 1px solid $color-white-lilac;
    border-bottom: 1px solid $color-white-lilac;
    background: #F5F5F5;
  }
  &.dark {
    background: $color-main-darkest;
    color: $color-white;
    padding: rem(80) 0 rem(60);
    h2 {
      margin-bottom: rem(15);
    }

    @include breakpoint(mobile) {
      padding: rem(40) 0 rem(20);
    }
  }
  &.image-bg {
    color: $color-white;
  }
  &.portfolio {
    overflow: hidden;
  }
  &.case-study {
    margin: rem(100) auto rem(80);
    h5 {
      margin-bottom: rem(50);
    }
    h1 {
      @include font-proxima(300);
      @include font-size(62);
      margin-bottom: rem(50);

      @include breakpoint(mobile) {
        @include font-size(32);
      }
    }
  }
}

.site-section {
  max-width: rem(1220);
  padding: rem(50) rem(20);
  margin: 0 auto;
  text-align: center;

  .button {
    margin: rem(20) 0 rem(40);
  }
}

.site-section__columns {
  @include list-zero;
  font-size: 0;
  margin-left: rem(-20);
  > li {
    @include font-size(22);
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 rem(20);
    margin-bottom: rem(40);
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    display: block;
    margin: 0 auto rem(20);
  }
  .site-section__column--half {
    width: 50%;
    margin-bottom: rem(100);
    &:nth-last-child(2) {
      margin-bottom: 0;
      @include breakpoint(mobile) {
        margin-bottom: rem(40);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(phone) {
      width: 100%;
      &.mobile-half {
        width: 50%;
        margin-bottom: rem(20);
      }
    }
  }
  .site-section__column--third {
    width: 33.333%;

    @include breakpoint(phone) {
      width: 100%;
      &.mobile-half {
        width: 50%;
        margin-bottom: rem(20);
      }
    }
  }
  .site-section__column--quarter {
    width: 25%;

    @include breakpoint(phone) {
      width: 50%;
    }
  }
}

.site-section__large-image {
  display: block;
  max-width: rem(1000);
  width: 100%;
  margin: rem(60) auto rem(80);
}

.site-section__checklist {
  @include list-zero;
  max-width: rem(470);
  margin: 0 auto;
  text-align: left;
  li {
    @include font-size(21);
    position: relative;
    padding-left: rem(30);
    margin-bottom: rem(10);
    &:before {
      @include font-size(16);
      font-family: $font-icons;
      position: absolute;
      content: "\f00c";
      left: 0;
      top: rem(3);
    }
    @include breakpoint(mobile) {
      @include font-size(16);
    }
  }
}

.site-section__profile--image {
  @include transition;
  transform: translate3d(0,0,0);
  border: 2px solid rgba($color-grey-dark, 0.4);
  background: $color-wild-sand;
  border-radius: 100%;
  margin: 0 auto rem(30);
  width: rem(220);
  height: rem(220);

  @include breakpoint(mobile) {
    width: rem(100);
    height: rem(100);
  }
}

.site-section__profile--contact {
  @include list-zero;
  margin-left: rem(-10);
  li {
    @include font-size(18);
    padding-left: rem(10);
    display: inline-block;
  }
}

.site-section__profile--description {
  @include breakpoint(mobile) {
    display: none;
  }
}

.site-section__portfolio--container {
  max-width: rem(1200);
  margin: 0 auto;
}

.site-section__portfolio--content {
  display: table;
  width: 50%;
  height: rem(490);
  background: rgba($color-main-darkest, 0.8);
  padding: rem(80) rem(100);
  color: $color-white;

  @include breakpoint(mobile) {
    height: auto;
    width: 100%;
    background: $color-main-darkest;
    text-align: center;
    padding: rem(30) rem(20);
  }
}

.site-section__portfolio--title {
  margin-bottom: rem(10);
  line-height: 0.95;
  @include breakpoint(mobile) {
    @include font-proxima(400);
    @include font-size(18);
  }
}

.site-section__portfolio--description {
  @include font-size(22);
  line-height: 1.1;
  margin-bottom: rem(5);

  @include breakpoint(mobile) {
    @include font-size(14);
  }
}

.site-section__portfolio--map {
  @include font-size(22);

  @include breakpoint(mobile) {
    @include font-size(14);
  }
}

.portfolio__map--close {
  @include font-size(30);
  position: absolute;
  top: rem(20);
  right: rem(20);
  z-index: 9;
}

.site-section__portfolio--map-container {
  @include transition;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  opacity: 0;
  pointer-events: none;
  .portfolio__map {
    width: 100%;
    height: 100%;
  }

  &.show-map {
    opacity: 1;
    pointer-events: auto;
  }

  @include breakpoint(mobile) {
    position: fixed;
    z-index: 9;
  }
}

.site-section__portfolio--contact {
  margin-top: rem(40);
  p {
    @include font-size(22);
    margin-bottom: 0;
    &.site-section__portfolio--contact-title {
      @include breakpoint(mobile) {
        @include font-proxima(400);
        @include font-size(18);
        margin-bottom: rem(3);
      }
    }

    @include breakpoint(mobile) {
       @include font-size(14);
    }
  }
  @include breakpoint(mobile) {
    margin-top: rem(30);
  }
}

.site-section__portfolio--image {
  width: 250%;
  height: auto;
}

.site-section__full-image,
.site-section__large-image {
  display: block;
  width: 100%;
  height: auto;
}

.site-section__story {
  max-width: rem(960);
  text-align: left;
  margin: 0 auto;
  font-size: 0;
  &:after {
    position: absolute;
    display: none;
    content: "";
    right: 0;
    top: 70%;
    bottom: 0;
    width: 20%;
    height: 30%;
    background: linear-gradient(to left top, $color-accent 50%, transparent 50%);
    @include breakpoint(mobile) {
      display: block;
    }
  }
}

.site-section__story--info {
  display: inline-block;
  width: 50%;
  vertical-align: middle;

  @include breakpoint(mobile) {
    width: 100%;
    text-align: center;
  }
}

.site-section__story--header {
  margin: rem(40) 0 rem(20);

  @include breakpoint(mobile) {
    text-align: center;
    margin-top: rem(60);
  }
}

.site-section__story--badge {
  position: absolute;
  top: rem(-20);

  @include breakpoint(mobile) {
    left: calc(50% - 42px);
  }
}

.site-section__story--link {
  @include font-size(22);
  border-bottom: 2px solid rgba($color-accent, 0);
  &:hover {
    border-bottom: 2px solid $color-accent;
  }

  @include breakpoint(mobile) {
    @include font-size(16);
  }
}

.site-section__story--image-container {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin: rem(-50) rem(-20) rem(-50) 0;
  position: relative;
  &:after {
    position: absolute;
    display: block;
    content: "";
    background: $color-accent;
    right: rem(-2000);
    top: 0;
    bottom: 0;
    width: rem(1800);

    @include breakpoint(mobile) {}
  }

  @include breakpoint(mobile) {
    display: none;
    width: 100%;
    margin-top: rem(40);
  }
}

.site-section__story--image {
  display: block;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: rem(-200);
  &:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right bottom, $color-main-pale 50%, transparent 50%);
    @include breakpoint(mobile) {
      display: none;
    }
  }
  &:after {
    position: absolute;
    display: block;
    content: "";
    right: rem(-200);
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left top, $color-accent 50%, transparent 50%);
  }
}


/*-----  End of Sections  ------*/

