﻿@model Woolbright.Web.CMS.ViewModels.EditPropertyViewModel

@using Woolbright.Web.Data.Classes;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{
    if (ViewBag.Message != null)
    {
        <div class="alert-warning">
            @Html.Raw(ViewBag.Message)
        </div>
    }
}

@using (Html.BeginForm("Create", "Property", FormMethod.Post, new { enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm"  }))
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Property</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
           <div id="map_canvas" class="form-control" style="width: 320px; height: 240px"></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WebsiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebsiteUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WebsiteUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SquareFootage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SquareFootage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SquareFootage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrossLeasableArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrossLeasableArea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GrossLeasableArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinDivisible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinDivisible, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinDivisible, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxContiguous, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxContiguous, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxContiguous, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorporateContacts, "Property Contact", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PropertyContactId,
                 new SelectList(Model.CorporateContacts, "UserProfileId", "FullName"), "Choose...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyContactId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Markets, "Market", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MarketId", new SelectList(Model.Markets, "MarketId", "Name"), "Choose...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MarketId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PropertyContent, "PropertyContent", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Image" type="file" class="form-control" />
                @Html.ValidationMessageFor(model => model.PropertyContent)
            </div>
        </div>

        @* Site visibility - Exclude 'None' option, but handle server-side*@
       <div class="form-group">
            @Html.LabelFor(model => model.AvailableSiteVisibilityFlags, "Site Visibility", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags))
                    .Cast<Enums.SiteVisibilityFlags>()
                    .Except(new Enums.SiteVisibilityFlags[] {Enums.SiteVisibilityFlags.None}))
                {
                    @Html.CheckBox("SiteVisibilityFlags", (Model.AvailableSiteVisibilityFlags.HasFlag(svf)), new { value = svf })
                    @Html.Label("SiteVisibilityFlagsLabel", svf.ToString())
                    @:&nbsp;
                }
            </div>
        </div>

         @* FreeFormFields: gives ability to add more fields freely...*@
        <div class="form-group" id="FreeFormDiv">
            @Html.LabelFor(model => model.FreeFormTemplates, "FreeFormTemplates", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="text-wrap:avoid;">
                @Html.DropDownList("FreeFormTemplateId", new SelectList(Model.FreeFormTemplates, "FreeFormTemplateId", "Label"), "Choose...", new { @class = "form-control" })
                @* Add Button here *@
                <input type="button" id="addField" class="btn-sm" value="Add This Field" />
                <input type="button" id="addTemplate" class="btn-sm" value="Add New Template" />
            </div>
        </div>

        @* BayOptions - 
            1. Can use jQuery/modal like freeformfields
            2. BayOptions controller/page
            Starting with option #1 here...
        *@
        <div class="form-group">
            <label class="control-label col-md-2">Bay Options</label>
            <div class="col-md-10">
                <input type="button" id="addBayOption" class="btn-sm" value="Add Bay Option" />
       </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tags</label>
            <div class="col-md-10">
                <input type="text" id="Tags" name="Tags" class="form-control ui" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">         
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@* Add New Property Template Modal *@
@using WoolbrightCorporateCMS.Models;
@using WoolbrightCorporateCMS.Classes;
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Property Template</h4>
            </div>
            <div class="modal-body">
                <p>Please fill out the Label for your new Template and select its Data Type from the drop down.</p>

                <table class="control-label">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Suffix (optional)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="text" id="newPropertyTemplateLabel" name="newPropertyTemplateLabel" size="30"  class="form-control"/></td>
                        <td>
                            <select id="newPropertyTemplateValueType" name="newPropertyTemplateValueType" class="form-control">
                                @{
                                    foreach (Enums.FreeFormValueType ffvt in Model.FreeFormValueTypes)
                                    {
                                        if (ffvt == Enums.FreeFormValueType.Number || ffvt == Enums.FreeFormValueType.String)
                                        {
                                            var aVal = (int)ffvt;
                                    <option value="@aVal">@ffvt</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td><input type="text" id="newPropertyTemplateSuffix" name="newPropertyTemplateSuffix" size="10" class="form-control" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="AddNewPropertyTemplateBtn">Create New</button>
            </div>
            <div id="UserFeedbackDiv" class="text-center">Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        // --- Begin google Maps ---

        // initialize Google Map
        initializeGMap();
        var FullAddress;

        // on keyup, set delay to concatenate the address info to update google map
        $('#Address').keyup(function (event) {
            delay(function () {
                ConcatAddress();
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);
        });
        $('#Address2').keyup(function (event) {
            delay(function () {
                ConcatAddress();
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);
        });
        $('#City').keyup(function (event) {
            delay(function () {
                ConcatAddress();
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);
        });
        $('#State').keyup(function (event) {
            delay(function () {
                ConcatAddress();
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);
        });
        $('#Zip').keyup(function (event) {
            delay(function () {
                ConcatAddress();
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);
        });

        // This is called when KeyUp delay times out and concatenates the text boxes into an address
        function ConcatAddress() {

            FullAddress = $('#Address').val();

            if ($('#Address2').val().length > 0){
                FullAddress += ' ' + $('#Address2').val();
            }
            if ($('#City').val().length > 0){
                FullAddress += ', ' + $('#City').val();
            }
            if ($('#State').val().length > 0){
                FullAddress += ', ' + $('#State').val();
            }
            if ($('#Zip').val().length > 0){
                FullAddress += ', ' + $('#Zip').val();
            }
            // set the map
            codeAddress(FullAddress);
        }
        // --- End google Maps ---

        // ----- Begin Dynamic FreeFormFields -----

        // put model object into JS var so we can get extra info for FreeFormTemplate assignments
        // this gets reloaded whenever a new template is added below
        var FreeFormTemplates = @Html.Raw(Json.Encode(Model.FreeFormTemplates));

        // counter
        var $fieldCount = 0;

        // --- Add Field ---
        $('#addField').on('click', function(){

            // Get values from DDL
            var selectedItem = $('#FreeFormTemplateId').find(":selected").text(); // visible value
            var selectedVal= $('#FreeFormTemplateId').find(":selected").val(); // id in bg

            // validation: make sure user selected something other than default value of 'Choose...'
            if (selectedItem == "Choose..." || selectedVal == ""){
                alert("Please choose a template from the drop down.");
                return;
            }

            // Get Suffix and ValueType
            var Suffix = null;
            var ValueType = null;
            /*
                ValueType is an Enum (Classes.Enums.cs):
                0 = String,
                1 = Number,
                2 = Location,
                3 = Content,
                4 = Tag
            */
            // iterate through FreeFormTemplates to find selected
            for (var i = 0; i < FreeFormTemplates.length; i++)
            {
                if (FreeFormTemplates[i].FreeFormTemplateId == selectedVal)
                {
                    var FFT = FreeFormTemplates[i];
                    Suffix = FFT.Suffix;
                    switch (FFT.ValueType){
                        case 0:
                            ValueType = "StringValue";
                            break;
                        case 1:
                            ValueType = "NumberValue";
                            break;}
                }
            }

            // --- Build new node ---
            var $node = '<div class="form-group"><label class="control-label col-md-2" for="FreeFormFieldsToSubmit'+$fieldCount+'">'+ selectedItem +'</label>';
            $node += '<div class="col-md-10"><input type="text" name="FreeFormFieldsToSubmit['+ $fieldCount +'].' + ValueType + '"/>';
            // Show suffix if exists
            if (Suffix){
                $node += ' ' + Suffix + ' ';
            }
            $node += '<input type="hidden" name="FreeFormFieldsToSubmit['+ $fieldCount +'].FreeFormTemplateId" value="' + selectedVal + '"/>';
            $node += '<input type="hidden" name="FreeFormFieldsToSubmit['+ $fieldCount +'].SortOrder" value='+ $fieldCount +' /> <span class="removeField">X</span></div></div>';
            $node += '<input type="hidden" name="FreeFormFieldsToSubmit.Index" value="' + $fieldCount + '" />';
            // --- end node ---

            // add just before submit button
            $('#FreeFormDiv').last().before($node);
            // increment fieldCount
            $fieldCount++;
        });

        // remove field from form
        $('form').on('click', '.removeField', function(){
            $(this).parent().parent().remove();
        });

        // --- Add New Property Template ---

        // Userfeedback -------
        var $loading = $('#UserFeedbackDiv').hide();
        $(document)
          .ajaxStart(function () {
              $loading.show();
              $('#AddNewPropertyTemplateBtn').prop("disabled",true);
          })
          .ajaxStop(function () {
              $loading.hide();
              $('#AddNewPropertyTemplateBtn').prop("disabled",false);
          });

        // show modal on click
        $('#addTemplate').on('click', function(){
            $("#myModal").modal('show');
        });

        // submit new Property Template from Modal to controller
        $('#AddNewPropertyTemplateBtn').on('click', function(){

            // Validation: make sure values are filled out
            if ($('#newPropertyTemplateLabel').val().length < 1)
            {
                alert("Please Fill in a Label value.");
                return;
            }

            // Get values from Modal and put into JSON object mimicking correct model
            var FreeFormTemplate = {
                Label: $('#newPropertyTemplateLabel').val(),
                ValueType: $('#newPropertyTemplateValueType').find(":selected").val(),
                Suffix: $('#newPropertyTemplateSuffix').val()
            }

            // build request data and add token to it
            var token = $('input[name="__RequestVerificationToken"]').val();
            var ajaxData = {
                __RequestVerificationToken: token,
                FreeFormTemplate: FreeFormTemplate
            }

            // Send to Controller
            $.ajax({
                url: "/FreeFormTemplate/Create",
                type: "POST",
                //contentType: "application/json; charset=utf-8", // this must be commented out or [ValidateAntiForgeryToken] atttribute bombs
                dataType: "json",
                data: ajaxData,
                success: function(data){
                    if (data != 0)
                    { // success ---

                        // hide modal and reset elements
                        $('#myModal').modal('hide');
                        $('#newPropertyTemplateLabel').val('');
                        $('#newPropertyTemplateSuffix').val('');

                        // refresh FreeFormTemplates JS variable
                        FreeFormTemplates = data;

                        // refresh DDL for templates
                        var mySelect = $('#FreeFormTemplateId');
                        mySelect.empty();

                        // add the blank option
                        mySelect.append(
                                $('<option></option>').val("").html("Choose...")
                            );
                        // add the real options
                        $.each(FreeFormTemplates, function(val, text) {
                            mySelect.append(
                                $('<option></option>').val(text.FreeFormTemplateId).html(text.Label)
                            );
                        });
                    }
                    else
                    { // failure
                        alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\n" + response.responseText)
                    }
                },
                error: function (response) {
                    alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\n" + response.responseText)
                }});
        });

        // AutoComplete for Tags
        // got this from https://jqueryui.com/resources/demos/autocomplete/multiple.html
        //$(function() {
            @{
                List<string> tagList = Model.Tags
                    .Select(y => y.TagName)
                    .Distinct()
                    .ToList();
            }
            var availableTags = @(Html.Raw(Json.Encode(tagList)));

            $( "#Tags" )
			// don't navigate away from the field on tab when selecting an item
			.bind( "keydown", function( event ) {
			    if ( event.keyCode === $.ui.keyCode.TAB &&
						$( this ).autocomplete( "instance" ).menu.active ) {
			        event.preventDefault();
			    }
			})
			.autocomplete({
			    minLength: 0,
			    source: function( request, response ) {
			        // delegate back to autocomplete, but extract the last term
			        response( $.ui.autocomplete.filter(
						availableTags, extractLast( request.term ) ) );
			    },
			    focus: function() {
			        // prevent value inserted on focus
			        return false;
			    },
			    select: function( event, ui ) {
			        var terms = split( this.value );
			        // remove the current input
			        terms.pop();
			        // add the selected item
			        terms.push( ui.item.value );
			        // add placeholder to get the comma-and-space at the end
			        terms.push( "" );
			        this.value = terms.join( ", " );
			        return false;
			    }
			});
            function split( val ) {
                return val.split( /,\s*/ );
            }
            function extractLast( term ) {
                return split( term ).pop();
            }
        // ---- end autocomplete


    });

</script>
