﻿@model Woolbright.Web.Data.Models.Property

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Market)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Market)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquareFootage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquareFootage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossLeasableArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossLeasableArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDivisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDivisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxContiguous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxContiguous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertySubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertySubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalSubTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalSubTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyContactId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyImageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyImageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyImageName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
