﻿@using Woolbright.Web.Data.Classes;
@using Woolbright.Web.Data.Models;

@model Woolbright.Web.CMS.ViewModels.PropertyDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        Property Image
                    </dt>

                    <dd>
                        @{
                            var imgModel = new ImageFromModelByteArrayViewModel
                            {
                                Content = Model.PropertyContent,
                                ImgSrcTagName = "imageSrc"
                            };
                        }
                        @(Html.Partial("_ImageFromModelByteArrayView", imgModel))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Market.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Market.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SiteVisibilityFlags)
                    </dt>

                    <dd>
                        @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags)))
                        {
                            @Html.CheckBox("SiteVisibilityFlags", (Model.SiteVisibilityFlags.HasFlag(svf)), new { value = svf, disabled = "disabled" })
                            @Html.Label("SiteVisibilityFlagsLabel", svf.ToString())
                            @:&nbsp;
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address2)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.State)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.State)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Zip)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Zip)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>

                    <dd>
                        <div id="map_canvas" style="width: 320px; height: 240px"></div>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WebsiteUrl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WebsiteUrl)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SquareFootage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SquareFootage)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GrossLeasableArea)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GrossLeasableArea)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MinDivisible)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinDivisible)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxContiguous)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxContiguous)
                    </dd>

                    <dt>---FreeFormFields---</dt>
                    <dd></dd>

                    @if (Model.FreeFormFields != null)
                    {
                        foreach (FreeFormField fff in Model.FreeFormFields.ToList())
                        {
                            <dt>
                                @if (!String.IsNullOrEmpty(fff.LabelOverride))
                                {
                                    @fff.LabelOverride
                                }
                                else
                                {
                                    @fff.FreeFormTemplate.Label
                                }
                            </dt>

                            <dd>
                                @switch (fff.FreeFormTemplate.ValueType)
                                {
                                    case Enums.FreeFormValueType.Number:
                                        @Html.Raw(fff.NumberValue)
                                        break;
                                    case Enums.FreeFormValueType.String:
                                        @Html.Raw(fff.StringValue)
                                        break;
                                }
                            </dd>
                        }
                    }
                    <dt>
                        Tags
                    </dt>

                    @using System.Text;
@using Woolbright.Web.CMS.ViewModels
                    @if (Model.Tags != null)
                    {
                        string[] tagList = Model.Tags
                            .Select(x => x.TagName).ToArray();
                        StringBuilder sb = new StringBuilder();
                        for (int x = 0; x < tagList.Count(); x++)
                        {
                            if (x > 0)
                            {
                                sb.Append(", ");
                            }
                            sb.Append(tagList[x]);
                        }
                        <dd>
                            @sb.ToString()
                        </dd>
                    }
                </dl>
            </td>
            @* Bay Options *@
            <td valign="top">
                <h4>Bay Options</h4>                            
                    <table class="table">
                        <tr>                                
                            <th>Site Visibility
                            </th>
                            <th>Excerpt
                            </th>
                            <th>Description
                            </th>
                            <th>IsFeatured
                            </th>
                            <th>BayNumber
                            </th>
                            <th>BaySize
                            </th>
                            <th>BayType
                            </th>      
                        </tr>
                        @foreach (BayOption item in Model.BayOptions)
                        {
                            <tr>                                    
                                <td class="" nowrap>
                                    <ul class="list-unstyled">
                                    @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags)))
                                    {
                                        <li>
                                            @Html.CheckBox("SiteVisibilityFlags", (item.SiteVisibilityFlags.HasFlag(svf)), new { value = svf, disabled = "disabled" })
                                            @Html.Label("SiteVisibilityFlagsLabel", svf.ToString())
                                        </li>
                                    }
                                    </ul>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Excerpt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsFeatured)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BayNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BaySize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BayType)
                                </td>                              
                            </tr>
                        }
                    </table>
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PropertyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@{
    var fulladdress = Model.Address + ", " + Model.City + ", " + Model.State + ", " + Model.Zip;
}
<script type="text/javascript">
    $(document).ready(function () {        
        codeAddress('@fulladdress');
        // === locaton override ===
        @if (Model.LocationOverride)
        {
            <text>
        var overrideLocation = new google.maps.LatLng(@(Model.LocationOverrideValue.Latitude), @(Model.LocationOverrideValue.Longitude));
            // needs delay to allow gMaps to init
            delay(function () {
                placeSingleMarker(overrideLocation);
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);        
            </text>
        }
        // === end location override ===
    });
</script>