﻿@using Woolbright.Web.Data.Models;
@using Woolbright.Web.Data.Classes;
@using System.Text;
@using Woolbright.Web.CMS.ViewModels

@model Woolbright.Web.CMS.ViewModels.EditPropertyViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{
    if (ViewBag.Message != null)
    {
        <div class="alert-warning">
            @Html.Raw(ViewBag.Message)
        </div>
    }

    // for autocomplete
    var availableTagList = Model.Tags
        .Select(y => y.TagName)
        .Distinct()
        .ToList();

    var availableUserProfileFullNamesList = Model.UserProfileFullNames
        .ToList();

    List<Enums.SiteVisibilityFlags> availableSiteVisibilityFlagsList = Enum.GetValues(typeof (Enums.SiteVisibilityFlags)).Cast<Enums.SiteVisibilityFlags>().ToList();

}
        
<script>
    // for autocomplete
    var availableTags = @(Html.Raw(Json.Encode(availableTagList)));
    var availableUserProfileFullNames = @(Html.Raw(Json.Encode(availableUserProfileFullNamesList)));
    @*var availableSiteVisibilityFlags = @(Html.Raw(Json.Encode(availableSiteVisibilityFlagsList)));*@

    // build JS enum from MVC enum
    var availableSiteVisibilityFlags = {
        @foreach (var v in availableSiteVisibilityFlagsList)
            {
                <text>                    
                @(v) : @((int) v),                
                </text>
            }
    }

    // === Begin Dynamic FreeFormFields ===
    var FreeFormTemplates = @Html.Raw(Json.Encode(Model.FreeFormTemplates));

    function ShowHideValueTextBoxes(textboxId) {
        var $this = $('[name="' + textboxId + '"');
        if ($this.is(':checked')) {
            $('[name="' + textboxId + 'Value"').removeAttr("disabled");
            $('[name="' + textboxId + 'Value"').attr("style", "display:inline;");
        } else {
            $('[name="' + textboxId + 'Value"').attr("disabled", "disabled")
            $('[name="' + textboxId + 'Value"').attr("style", "display:none;");
        }
    }
    function AddFreeFormField(anId, aValue){
        // Get values from DDL
        var selectedItem = $('#FreeFormTemplateId').find(":selected").text(); // visible value
        var selectedVal= $('#FreeFormTemplateId').find(":selected").val(); // id in bg
        // validation: make sure user selected something other than default value of 'Choose...'
        if (selectedItem === "Choose..." || selectedVal === ""){
            alert("Please choose a template from the drop down.");
            return;
        }
        // if Id = -1 it is the property, not a bay option
        var divFFFLocation = 'FreeFormFieldDiv' + anId;
        // Get Suffix and ValueType
        var suffix = null;
        var valueType = null;
        // iterate through FreeFormTemplates to find selected value type and suffix
        for (var i = 0; i < FreeFormTemplates.length; i++)
        {
            if (FreeFormTemplates[i].FreeFormTemplateId === selectedVal)
            {
                var FFT = FreeFormTemplates[i];
                suffix = FFT.Suffix;
                switch (FFT.ValueType){
                    case 0:
                        valueType = "StringValue";
                        break;
                    case 1:
                        valueType = "NumberValue";
                        break;}
            }
        }
        // --- Build new node ---
        BuildNewNode(selectedItem, selectedVal, valueType, suffix, divFFFLocation, anId, aValue, '');
    };
</script>

@using (Html.BeginForm("Edit", "Property", FormMethod.Post, new { enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                <div class="form-horizontal">
                    <h4>Property</h4>
                    <br />
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PropertyId)
                    
                    @* Site visibility - Exclude 'None' option, but handle server-side*@
                    <div class="editPropertyGroupDiv">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-2"><label>Name Override</label></div>
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.NameOverride, new { @class = "" })
                                @Html.LabelFor(model => model.NameOverride)
                                <br />
                                @{
                                if (Model.NameOverride)
                                {
                                    @Html.TextBoxFor(model => model.NameOverrideValue, new { @class = "form-control ui" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.NameOverrideValue, new { @class = "form-control ui", @disabled = "disabled", style = "display:none" })
                                }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="editPropertyGroupDiv">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SiteVisibilityFlagsExisting, "Site Visibility", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags)))
                                //.Cast<Enums.SiteVisibilityFlags>()
                                //.Except(new Enums.SiteVisibilityFlags[] { Enums.SiteVisibilityFlags.None }))
                                {
                                    @Html.CheckBox("SiteVisibilityFlags", (Model.SiteVisibilityFlagsExisting.HasFlag(svf)), new { value = svf, @disabled = "disabled" })
                                    @Html.Label("SiteVisibilityFlagsLabel", svf.ToString())
                                    @:&nbsp;
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SiteVisibilityFlagsOverrideValue, "Override", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.SiteVisibilityFlagsOverride, new { @class = "" })
                                @Html.LabelFor(model => model.SiteVisibilityFlagsOverride, new { @class = "control-label" })
                                <br />
                                @foreach (var svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags))
                                            .Cast<Enums.SiteVisibilityFlags>()
                                            .Except(new Enums.SiteVisibilityFlags[] { Enums.SiteVisibilityFlags.None }))
                                {
                                    @Html.CheckBox("SiteVisibilityFlagsToSubmit", (Model.SiteVisibilityFlagsOverrideValue.HasFlag(svf)), new { value = svf, @Name = "SiteVisibilityFlagsToSubmit" })
                                    @Html.Label("SiteVisibilityFlagsToSubmitLabel", svf.ToString())
                                    @:&nbsp;
                            }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Markets, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.MarketId)
                            @*@Html.EditorFor(model => model.Market, new { htmlAttributes = new { @class = "form-control" } })*@
                            @*@Html.ValidationMessageFor(model => model.Market, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="editPropertyGroupDiv">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(model => model.LocationOverride, new { @style = "" })
                                @Html.LabelFor(model => model.LocationOverride, htmlAttributes: new { @style = "color:green;" })
                                <br />
                                @Html.LabelFor(model => model.LocationOverrideLat, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.LocationOverrideLat, new { @class = "form-control", @style = "color:green;" })
                                @Html.LabelFor(model => model.LocationOverrideLng, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.LocationOverrideLng, new { @class = "form-control", @style = "color:green;" })
                                <div id="map_canvas" style="width: 320px; height: 240px;" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.WebsiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.WebsiteUrl, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Description Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.DescriptionOverride, new { @class = "" })
                            @Html.LabelFor(model => model.DescriptionOverride)
                            <br />
                            @(Model.DescriptionOverride ? Html.EditorFor(model => model.DescriptionOverrideValue, new {@class = "form-control ui"}) 
                                                        : Html.EditorFor(model => model.DescriptionOverrideValue, new {@class = "form-control ui", @disabled = "disabled", style = "display:none"}))
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SquareFootage, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.SquareFootage, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Square Footage Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.SquareFootageOverride, new { @class = "" })
                            @Html.LabelFor(model => model.SquareFootageOverride)
                            <br />
                            @(Model.SquareFootageOverride ? Html.TextBoxFor(model => model.SquareFootageOverrideValue, new {@class = "form-control ui"}) 
                                                          : Html.TextBoxFor(model => model.SquareFootageOverrideValue, new {@class = "form-control ui", @disabled = "disabled", @style = "display:none"}))
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GrossLeasableArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.GrossLeasableArea, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Gross Leasable Area Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.GrossLeasableAreaOverride, new { @class = "" })
                            @Html.LabelFor(model => model.GrossLeasableAreaOverride)
                            <br />
                            @(Model.GrossLeasableAreaOverride ? Html.TextBoxFor(model => model.GrossLeasableAreaOverrideValue, new {@class = "form-control ui"}) 
                                                              : Html.TextBoxFor(model => model.GrossLeasableAreaOverrideValue, new {@class = "form-control ui", @disabled = "disabled", style = "display:none"}))
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MinDivisible, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.MinDivisible, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Min Divisible Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.MinDivisibleOverride, new { @class = "" })
                            @Html.LabelFor(model => model.MinDivisibleOverride)
                            <br />
                            @(Model.GrossLeasableAreaOverride ? Html.TextBoxFor(model => model.MinDivisibleOverrideValue, new {@class = "form-control ui"}) 
                                                              : Html.TextBoxFor(model => model.MinDivisibleOverrideValue, new {@class = "form-control ui", @disabled = "disabled", style = "display:none"}))
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxContiguous, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.MaxContiguous, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Max Contiguous Override</label>
                        </div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.MaxContiguousOverride, new {@class = ""})
                            @Html.LabelFor(model => model.MaxContiguousOverride)
                            <br/>
                            @(Model.GrossLeasableAreaOverride 
                                    ? Html.TextBoxFor(model => model.MaxContiguousOverrideValue, new {@class = "form-control ui"})
                                    : Html.TextBoxFor(model => model.MaxContiguousOverrideValue, new {@class = "form-control ui", @disabled = "disabled", style = "display:none"}))
                        </div>
                    </div>


                <div class="form-group">
                        @Html.LabelFor(model => model.CorporateContactFullName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.CorporateContactFullName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Corporate Contact Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.CorporateContactOverride, new { @class = "" })
                            @Html.LabelFor(model => model.CorporateContactOverride)
                            <br />
                            @{
                                if (Model.CorporateContactOverride)
                                {
                                    @Html.TextBoxFor(x => x.CorporateContactOverrideValue, new { @class = "col-md-2 form-control ui" });
                                    @*@Html.DropDownListFor(model => model.CorporateContactOverrideValue,
                                                                    new SelectList(Model.CorporateContacts, "Key", "Value"), "-- Select --", new { @class = "form-control ui" })*@
                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.CorporateContactOverrideValue, new { @class = "col-md-2 form-control ui", @disabled = "disabled", style = "display:none;" });
                                    @*@Html.DropDownListFor(model => model.CorporateContactOverrideValue,
                                                                    new SelectList(Model.CorporateContacts, "Key", "Value"), "-- Select --", new { @class = "form-control ui", @disabled = "disabled", style = "display:none" })*@
                                }
                            }
                            @Html.ValidationMessageFor(model => model.CorporateContactOverrideValue, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LeasingAgentFullName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.LeasingAgentFullName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Leasing Agent Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.LeasingAgentOverride, new { @class = "" })
                            @Html.LabelFor(model => model.LeasingAgentOverride)
                            <br />
                            @{
                            if (Model.LeasingAgentOverride)
                            {
                                @Html.TextBoxFor(x => x.LeasingAgentOverrideValue, new { @class = "col-md-2 form-control ui" });
                                @*@Html.DropDownListFor(model => model.LeasingAgentOverrideValue,
                                                                new SelectList(Model.CorporateContacts, "Key", "Value"), "-- Select --", new { @class = "form-control ui" })*@
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.LeasingAgentOverrideValue, new { @class = "col-md-2 form-control ui", @disabled = "disabled", style = "display:none;" });
                                @*@Html.DropDownListFor(model => model.LeasingAgentOverrideValue,
                                                                new SelectList(Model.CorporateContacts, "Key", "Value"), "-- Select --", new { @class = "form-control ui", @disabled = "disabled", style = "display:none" })*@
                            }
                            }
                            @Html.ValidationMessageFor(model => model.LeasingAgentOverrideValue, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.PropertyContent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{
                                var imgModel = new ImageFromModelByteArrayViewModel
                                {
                                    Content = Model.PropertyContent,
                                    ImgSrcTagName = "imageSrc",
                                    ImgWidth = "250",
                                    ImgHeight = ""
                                };
                            }
                            @(Html.Partial("_ImageFromModelByteArrayView", imgModel))
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PropertyContentOverrideValue, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.PropertyContentOverride, new { @class = "", onclick = "ShowHideValueTextBoxes('PropertyContentOverride');" })
                            @Html.LabelFor(model => model.PropertyContentOverride)
                            @{// handle showing/hiding onLoad
                                var imgOverrideVisible = "none";
                                if (Model.PropertyContentOverride)
                                {
                                    imgOverrideVisible = "inline";
                                }
                            }
                            <div name="PropertyContentOverrideValue" style="display:@(imgOverrideVisible);">
                                <input name="ImageOverride" type="file" class="form-control" />
                                @if (Model.PropertyContentOverride)
                                {
                                    var photoOverride = Model.PropertyContentOverrideValue.ContentBytes;
                                    if (photoOverride != null)
                                    {
                                        var imgModel2 = new ImageFromModelByteArrayViewModel
                                        {
                                            Content = Model.PropertyContent,
                                            ImgSrcTagName = "imageOverride",
                                            ImgWidth = "250",
                                            ImgHeight = ""
                                        };
                                        Html.Partial("_ImageFromModelByteArrayView", imgModel2);
                                    }
                                }
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @if (Model.Tags != null)
                            {
                                var tagList = Model.Tags
                                    .Select(x => x.TagName).ToArray();
                                var sb = new StringBuilder();
                                for (var x = 0; x < tagList.Count(); x++)
                                {
                                    if (x > 0)
                                    {
                                        sb.Append(", ");
                                    }
                                    sb.Append(tagList[x]);
                                }
                                <label class="control-label">@sb.ToString()</label>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"><label>Tags Override</label></div>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.TagsOverride, new { @class = "" })
                            @Html.LabelFor(model => model.TagsOverride)
                            <br />
                            @{
                            if (Model.TagsOverride)
                            {
                                @Html.TextBoxFor(x => x.TagsOverrideValue, new { @class = "col-md-2 form-control ui" });
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.TagsOverrideValue, new { @class = "col-md-2 form-control ui", @disabled = "disabled", style = "display:none;" });
                            }
                            }
                        </div>
                    </div>


                    @* FreeFormFields: gives ability to add more fields freely...*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.FreeFormTemplates, "FreeFormTemplates", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" style="text-wrap:avoid;">
                            @if (Model.FreeFormFieldsForThisProperty != null)
                            {
                                foreach (FreeFormField fff in Model.FreeFormFieldsForThisProperty.OrderBy(x => x.SortOrder).ToList())
                                {
                                    var currentfieldValue = string.Empty;
                                    switch (fff.FreeFormTemplate.ValueType)
                                    {
                                        case Enums.FreeFormValueType.String:
                                            currentfieldValue = fff.StringValue;
                                            break;
                                        case Enums.FreeFormValueType.Number:
                                            currentfieldValue = fff.NumberValue.ToString();
                                            break;
                                    }
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            BuildNewNode('@fff.FreeFormTemplate.Label', '@fff.FreeFormTemplate.FreeFormTemplateId', '@(fff.FreeFormTemplate.ValueType.ToString() + "Value")' ,'@fff.FreeFormTemplate.Suffix', 'FreeFormFieldDiv-1', '', '@currentfieldValue', '@((int)fff.SiteVisibilityFlags)');
                                        });
                                    </script>
                                }
                            }
                            <div id="FreeFormFieldDiv-1" />
                            @Html.DropDownList("FreeFormTemplateId", new SelectList(Model.FreeFormTemplates, "FreeFormTemplateId", "Label"), "Choose...", new { @class = "form-control" })
                            @* Add Button here *@
                            <input type="button" id="addField" class="btn-sm" value="Add This Field" onclick="AddFreeFormField(-1,'');"/>
                            <input type="button" id="addTemplate" class="btn-sm" value="Add New Template" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        @*===========*@
        @*Bay options*@
        @*===========*@
        <tr>
            <td valign="top">
                <h4>Bay Options</h4>
                <table class="table table-condensed table-striped table-hover">                   
                                    @{
                var aCounter = 0;
                foreach (BayOption item in Model.BayOptions)
                {
                        <thead>
                            <tr>
                                <th>
                                    Site Visibility
                                    @*@Html.DisplayNameFor(model => model.BayOptions.SiteVisibility)*@
                                </th>
                                <th>
                                    BayNumber
                                    @*@Html.DisplayNameFor(model => model.BayOptions.BayNumber)*@
                                </th>
                                <th>
                                    Excerpt
                                    @*@Html.DisplayNameFor(model => model.BayOptions.Excerpt)*@
                                </th>
                                <th>
                                    Description
                                    @*@Html.DisplayNameFor(model => model.BayOptions.Description)*@
                                </th>
                                <th>
                                    IsFeatured
                                    @*@Html.DisplayNameFor(model => model.BayOptions.IsFeatured)*@
                                </th>
                                <th>
                                    BaySize
                                    @*@Html.DisplayNameFor(model => model.BayOptions.BaySize)*@
                                </th>
                                <th>
                                    BayType
                                    @*@Html.DisplayNameFor(model => model.BayOptions.BayType)*@
                                </th>
                                <th>
                                    Occupancy State
                                    @*@Html.DisplayNameFor(model => model.BayOptions.OccupancyState)*@
                                </th>
                                <th>
                                    Free Form Fields
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="" nowrap>
                                <ul class="list-unstyled">
                                    @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags)))
                                    {
                                        <li>
                                            @Html.CheckBox("SiteVisibilityFlags", (item.SiteVisibilityFlags.HasFlag(svf)), new { value = svf, disabled = "disabled" })
                                            @Html.Label("SiteVisibilityFlagsLabel", svf.ToString())
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BayNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Excerpt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsFeatured)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BaySize)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BayType.Name)
                            </td>
                            <td>
                                @Enum.GetName(typeof(Enums.OccupancyState), item.OccupancyState)
                            </td>
                            <td>
                                
                            </td>                          
                        </tr>
                        // === Overrides ===
                        <tr>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.SiteVisibilityFlagsOverride, new { @Name = "BayOptionsToSubmit[" + aCounter + "].SiteVisibilityFlagsOverride" })
                                @Html.LabelFor(modelItem => item.SiteVisibilityFlagsOverride)
                                @*@Html.LabelFor(modelItem => item.SiteVisibilityFlags, "Site Visibility", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <ul class="list-unstyled">
                                @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags))
                                        .Cast<Enums.SiteVisibilityFlags>()
                                        .Except(new Enums.SiteVisibilityFlags[] { Enums.SiteVisibilityFlags.None }))
                                {
                                    <li>
                                        @Html.CheckBox("SiteVisibilityOverrideFlag", (item.SiteVisibilityFlagsOverrideValue.HasFlag(svf)), new { value = svf, @Name = "BayOptionsToSubmit[" + aCounter + "].SiteVisibilityFlagsOverrideValue" })
                                        @Html.Label("SiteVisibilityOverrideFlagLabel", svf.ToString())
                                    </li>
                                }
                                </ul>
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.BayNumberOverride, new { @Name = "BayOptionsToSubmit[" + aCounter + "].BayNumberOverride" , onclick = "ShowHideValueTextBoxes('BayOptionsToSubmit[" + aCounter + "].BayNumberOverride');" })
                                @Html.LabelFor(modelItem => item.BayNumberOverride)
                                @{
                                    if (item.BayNumberOverride)
                                    {
                                        @Html.TextBoxFor(modelItem => item.BayNumberOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].BayNumberOverrideValue", @class = "form-control ui" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(modelItem => item.BayNumberOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].BayNumberOverrideValue", @class = "form-control ui", @style = "display:none;" })
                                    }
                                }
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.ExcerptOverride, new { @Name = "BayOptionsToSubmit[" + aCounter + "].ExcerptOverride", onclick="ShowHideValueTextBoxes('BayOptionsToSubmit[" + aCounter + "].ExcerptOverride');" })
                                @Html.LabelFor(modelItem => item.ExcerptOverride)
                                @{
                                    if (item.ExcerptOverride)
                                    {
                                        @Html.TextAreaFor(modelItem => item.ExcerptOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].ExcerptOverrideValue", @class = "form-control ui" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(modelItem => item.ExcerptOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].ExcerptOverrideValue", @class = "form-control ui", @style = "display:none;" })
                                    }
                                }                                    
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.DescriptionOverride, new { @Name = "BayOptionsToSubmit[" + aCounter + "].DescriptionOverride", onclick = "ShowHideValueTextBoxes('BayOptionsToSubmit[" + aCounter + "].DescriptionOverride');" })
                                @Html.LabelFor(modelItem => item.DescriptionOverride)
                                @{
                                    if (item.DescriptionOverride)
                                    {
                                        @Html.TextAreaFor(modelItem => item.DescriptionOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].DescriptionOverrideValue", @class = "form-control ui" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(modelItem => item.DescriptionOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].DescriptionOverrideValue", @class = "form-control ui", @style = "display:none;" })
                                    }
                                }
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.IsFeaturedOverride, new { @Name = "BayOptionsToSubmit[" + aCounter + "].IsFeaturedOverride" })
                                @Html.LabelFor(modelItem => item.IsFeaturedOverride)<br />
                                @Html.CheckBoxFor(modelItem => item.IsFeaturedOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].IsFeaturedOverrideValue" })
                                @Html.LabelFor(modelItem => item.IsFeaturedOverrideValue)
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.BaySizeOverride, new {@Name = "BayOptionsToSubmit[" + aCounter + "].BaySizeOverride", onclick = "ShowHideValueTextBoxes('BayOptionsToSubmit[" + aCounter + "].BaySizeOverride');"})
                                @Html.LabelFor(modelItem => item.BaySizeOverride)
                                @{
                                    if (item.BaySizeOverride)
                                    {
                                        @Html.TextBoxFor(modelItem => item.BaySizeOverrideValue, new {@Name = "BayOptionsToSubmit[" + aCounter + "].BaySizeOverrideValue", @class = "form-control ui"})
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(modelItem => item.BaySizeOverrideValue, new {@Name = "BayOptionsToSubmit[" + aCounter + "].BaySizeOverrideValue", @class = "form-control ui", @style = "display:none;"})
                                    }
                                }
                            </td>

                            <td>
                                @Html.CheckBoxFor(modelItem => item.BayTypeOverride, new {@Name = "BayOptionsToSubmit[" + aCounter + "].BayTypeOverride", onclick = "ShowHideValueTextBoxes('BayOptionsToSubmit[" + aCounter + "].BayTypeOverride');"})
                                @Html.LabelFor(modelItem => item.BayTypeOverride)
                                @{
                                    var overrideValue = item.BayTypeOverride ? item.BayTypeOverrideValue.BayTypeGuid.ToString() : string.Empty;
                                    var result = (from x in Model.BayTypes
                                        select new SelectListItem()
                                        {
                                            Text = x.Key,
                                            Value = x.Value,
                                            Selected = x.Value == overrideValue
                                        });
                                    if (item.BayTypeOverride)
                                    {
                                        @Html.DropDownList("result", result, htmlAttributes: new { @Name = "BayOptionsToSubmit[" + aCounter + "].BayTypeOverrideValue" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("result", result, htmlAttributes: new { @Name = "BayOptionsToSubmit[" + aCounter + "].BayTypeOverrideValue", @style = "display:none;" })
                                    }
                                }
                            </td>

                            <td>
                                @Html.CheckBoxFor(modelItem => item.OccupancyStateOverride, new { @Name = "BayOptionsToSubmit[" + aCounter + "].OccupancyStateOverride", onclick = "ShowHideValueTextBoxes('BayOptionsToSubmit[" + aCounter + "].OccupancyStateOverride');" })
                                @Html.LabelFor(modelItem => item.OccupancyStateOverride)
                                @{
                                    if (item.OccupancyStateOverride)
                                    {
                                        @Html.EnumDropDownListFor(modelItem => item.OccupancyStateOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].OccupancyStateOverrideValue" })
                                    }
                                    else
                                    {
                                        @Html.EnumDropDownListFor(modelItem => item.OccupancyStateOverrideValue, new { @Name = "BayOptionsToSubmit[" + aCounter + "].OccupancyStateOverrideValue", @style = "display:none;" })
                                    }
                                }                                    
                            </td>
                            <td>  
                                <div id="FreeFormFieldDiv@(aCounter)" class="table-condensed"></div>
                                    @if (item.FreeFormFields != null)
                                    {
                                        foreach (FreeFormField fff in item.FreeFormFields.OrderBy(x => x.SortOrder).ToList())
                                        {
                                            var currentfieldValue = string.Empty;
                                            switch (fff.FreeFormTemplate.ValueType)
                                            {
                                                case Enums.FreeFormValueType.String:
                                                    currentfieldValue = fff.StringValue;
                                                    break;
                                                case Enums.FreeFormValueType.Number:
                                                    currentfieldValue = fff.NumberValue.ToString();
                                                    break;
                                            }
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                BuildNewNode('@fff.FreeFormTemplate.Label', '@fff.FreeFormTemplate.FreeFormTemplateId', '@(fff.FreeFormTemplate.ValueType.ToString() + "Value")' ,'@fff.FreeFormTemplate.Suffix', 'FreeFormFieldDiv' + @(aCounter), '@(aCounter)', '@currentfieldValue', '@((int)fff.SiteVisibilityFlags)');
                                            });
                                        </script>
                                    }
                                }                              
                                <input type="button" id="addFieldToBayOption@(aCounter)" class="btn-sm" value="Add This Field" onclick="AddFreeFormField(@(aCounter),'');" />
                            </td>
                        </tr>
                        <tr><td colspan="8"><hr /></td></tr>
                        // Hidden Guid
                        @Html.HiddenFor(modelItem => item.BayGUID, new { @Name = "BayOptionsToSubmit[" + aCounter + "].BayGUID" });
                        // increment counter
                        aCounter++;
                        }
                    }
                </table>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@* Add New Property Template Modal *@
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Property Template</h4>
            </div>
            <div class="modal-body">
                <p>Please fill out the Label for your new Template and select its Data Type from the drop down.</p>

                <table class="control-label">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Suffix (optional)</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="text" id="newPropertyTemplateLabel" name="newPropertyTemplateLabel" size="30" class="form-control" /></td>
                        <td>
                            <select id="newPropertyTemplateValueType" name="newPropertyTemplateValueType" class="form-control">
                                @{
                                    foreach (Enums.FreeFormValueType ffvt in Model.FreeFormValueTypes)
                                    {
                                        if (ffvt == Enums.FreeFormValueType.Number || ffvt == Enums.FreeFormValueType.String)
                                        {
                                            var aVal = (int)ffvt;
                                            <option value="@aVal">@ffvt</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td><input type="text" id="newPropertyTemplateSuffix" name="newPropertyTemplateSuffix" size="10" class="form-control" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="AddNewPropertyTemplateBtn">Create New</button>
            </div>
            <div id="UserFeedbackDiv" class="text-center">Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")"></div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@{
    var fulladdress = Model.Address + ", " + Model.City + ", " + Model.State + ", " + Model.Zip;
}
<script type="text/javascript">
    // counter
    var $fieldCount = 0;

    $(document).ready(function () {

        // google map/location
        codeAddress('@fulladdress');

        // === overrides ===
        // checkbox onclick : enable/disable textbox
        $('#NameOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#DescriptionOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#SquareFootageOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#GrossLeasableAreaOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#MinDivisibleOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#MaxContiguousOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#CorporateContactOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#LeasingAgentOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        $('#TagsOverride').click(function () {
            ShowHideValueTextBoxes(this.id);
        });
        // === end overrides ===

        // === Begin Dynamic FreeFormFields Part II ===
        // remove field from form
        $('form').on('click', '.removeField', function(){
            $(this).parent().parent().remove();
        });
        // === End Dynamic FreeFormFields ===

        // === Add New Property FreeFormField Template ===
        // show modal on click
        $('#addTemplate').on('click', function(){
            $("#myModal").modal('show');
        });
        // submit FreeFormField Template from Modal to controller
        $('#AddNewPropertyTemplateBtn').on('click', function(){

            // Validation: make sure values are filled out
            if ($('#newPropertyTemplateLabel').val().length < 1)
            {
                alert("Please Fill in a Label value.");
                return;
            }
            // Get values from Modal and put into JSON object mimicking correct model
            var FreeFormTemplate = {
                Label: $('#newPropertyTemplateLabel').val(),
                ValueType: $('#newPropertyTemplateValueType').find(":selected").val(),
                Suffix: $('#newPropertyTemplateSuffix').val()
            }
            // build request data and add token to it
            var token = $('input[name="__RequestVerificationToken"]').val();
            var ajaxData = {
                __RequestVerificationToken: token,
                FreeFormTemplate: FreeFormTemplate
            }
            // Send to Controller
            $.ajax({
                url: "/FreeFormTemplate/Create",
                type: "POST",
                //contentType: "application/json; charset=utf-8", // this must be commented out or [ValidateAntiForgeryToken] atttribute bombs
                dataType: "json",
                data: ajaxData,
                success: function(data){
                    if (data != 0)
                    { // success ---

                        // hide modal and reset elements
                        $('#myModal').modal('hide');
                        $('#newPropertyTemplateLabel').val('');
                        $('#newPropertyTemplateSuffix').val('');

                        // refresh FreeFormTemplates JS variable
                        FreeFormTemplates = data;

                        // refresh DDL for templates
                        var mySelect = $('#FreeFormTemplateId');
                        mySelect.empty();

                        // add the blank option
                        mySelect.append(
                                $('<option></option>').val("").html("Choose...")
                            );
                        // add the real options
                        $.each(FreeFormTemplates, function(val, text) {
                            mySelect.append(
                                $('<option></option>').val(text.FreeFormTemplateId).html(text.Label)
                            );
                        });
                    }
                    else
                    { // failure
                        alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\n" + response.responseText);
                    }
                },
                error: function (response) {
                    alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\n" + response.responseText);
                }
            });
        });

        /* Userfeedback - this shows/hides the little feedback div in the 'Add New Template' modal
            on any ajax call though... might be a problem later if other ajax calls become necessary
        */
        // Get UserFeedback Div as JS obj
        var $loading = $('#UserFeedbackDiv').hide();
        $(document)
            .ajaxStart(function () {
                $loading.show();
                $('#AddNewPropertyTemplateBtn').prop("disabled",true);
            })
            .ajaxStop(function () {
                $loading.hide();
                $('#AddNewPropertyTemplateBtn').prop("disabled",false);
            });
        // === END FreeFormField Template ===
               
        // === locaton override ===
        @if (Model.LocationOverride)
        {
            <text>
            var overrideLocation = new google.maps.LatLng(@(Model.LocationOverrideValue.Latitude), @(Model.LocationOverrideValue.Longitude));
            // needs delay to allow gMaps to init
            delay(function () {
                placeSingleMarker(overrideLocation);
            }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);        
            </text>
        }
        // === end location override ===

    });
    
    // For FreeFormFields - this must be outside of jQuery's .Ready()
    // this is used for loading the page AND adding new fields...
    function BuildNewNode (aSelectedItem, aSelectedVal, aValueType, aSuffix, divToPlaceInputAbove, elementIdNumber, currentValue, currentSiteVisibilityValue) {       
        // if -1 is in the name of the element, then it's a property
        // else append bay option to beginning of elements' names
        var nameStringToAppendToo = '';
        if (divToPlaceInputAbove.indexOf('-1') === -1)
        {
            nameStringToAppendToo = 'BayOptionsToSubmit[' + elementIdNumber + '].';
        }
        var $node = '<div class="form-group col-md-10"><label class="control-label col-md-3" for="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit'+$fieldCount+'">'+ aSelectedItem +'</label>';
        $node += '<span><input type="text" name="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit['+ $fieldCount +'].' + aValueType + '" value="' + currentValue + '"/>';
        // Show suffix if exists
        if (aSuffix){
            $node += ' ' + aSuffix + ' ';
        }
        // site visibility
        $node += '<br /><span><br />'; 
        for (var svf in availableSiteVisibilityFlags) {
            if (currentSiteVisibilityValue & availableSiteVisibilityFlags[svf]) {
                $node += '<input type="checkbox" checked name="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit['+ $fieldCount +'].SiteVisibilityFlagsToSubmit" value="' + availableSiteVisibilityFlags[svf] + '" />';
            }else{
                $node += '<input type="checkbox" name="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit['+ $fieldCount +'].SiteVisibilityFlagsToSubmit" value="' + availableSiteVisibilityFlags[svf] + '" />';
            }
            $node += svf + '<br />';
        }
        $node += '</span>';
        // =====
        $node += '<span class="removeField" style="cursor: pointer;">  <b><i>X Remove</i></b></span>';
        $node += '<input type="hidden" name="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit['+ $fieldCount +'].FreeFormTemplateId" value="' + aSelectedVal + '"/>';
        $node += '<input type="hidden" name="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit['+ $fieldCount +'].SortOrder" value='+ $fieldCount +' /> ';
        $node += '<input type="hidden" name="' + nameStringToAppendToo + 'FreeFormFieldsToSubmit.Index" value="' + $fieldCount + '" />';
        $node += "</span></div>";
        // add where you need
        $('#' + divToPlaceInputAbove).last().before($node);
        // increment fieldCount
        $fieldCount++;
    }
</script>
<script src="~/Scripts/autocomplete.js"></script>