﻿@using Woolbright.Web.Data.Classes

@model IEnumerable<Woolbright.Web.CMS.ViewModels.PropertyDetailsViewModel>

@{
    ViewBag.Title = "Portfolio";
}

@*<h2 class="mapOverlay" >Portfolio of Properties</h2>*@

<!-- Main map here with multiple 'markers'-->
@*<div class="container-full">
    <div id="map_canvas" class="row map_canvas"></div>
</div>*@


@* show prop name/city name 4 rows across *@
<table class="table table-condensed table-hover">
    @{var columnCount = 0;}
    @foreach (var item in Model)
    {
        if (columnCount == 0)
        {
            @:<tr class="row"><td nowrap>
        }
        else
        {
            @:<td nowrap>
        }
        <div style="display: inline-block;" class="col-sm-2">
            @Html.ActionImage(item.Name + "<br />" + item.City, "Edit", "Property", Url.Content("~/Content/Images/Edit.png"), "Edit", new { id = item.PropertyId })
        </div>
        if (columnCount == 3)
        {
            @:</td></tr>
        }
        else
        {
            @:</td>
        }
        columnCount++;
        if (columnCount == 4)
        {
            columnCount = 0;
        }
    }

</table>

<script type="text/javascript">
    $(document).ready(function () {
        // initialize map to center on florida.
        //initializeGMap();
        // serialize model locations
        @*var locationsToPass = @Html.Raw(Json.Encode(Model.Select(x => new { x.Name, x.Location.Latitude, x.Location.Longitude })));*@ 
        // drop markers
        //addMarker(locationsToPass);
    });
</script>