﻿@model IEnumerable<Woolbright.Web.Data.Models.FreeFormTemplate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suffix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suffix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FreeFormTemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FreeFormTemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FreeFormTemplateId })
        </td>
    </tr>
}

</table>
