<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Duane Stiller</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="../../partials/header.html"%>
<%include src="../../partials/secondary-navigation.html"%>

  <div class="site-main">

   <div class="bio__container">
      <div class="bio">

        <header class="bio__header">
          <h1 class="bio__name">Duane Stiller</h1><!-- end of .bio__name -->
          <h3 class="bio__title">President</h3><!-- end of .bio__title -->
          <ul class="bio__social--list">
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul><!-- end of .bio__social--list -->
        </header><!-- end of .bio__header -->

        <div class="bio__main">
          <div class="bio__details no-mobile">
            <div class="bio__author">
              <div class="bio__author--image">
                <img src="/assets/images/bio.jpg" alt="Duane Stiller" />
              </div><!-- end of .bio__author--image -->
            </div><!-- end of .bio__author -->
          </div><!-- end of .bio__details -->

          <p>Duane Stiller has always believed in making Florida's places better. He founded Woolbright in 1985, and from the beginning he established industry knowledge, personal service and innovation as core values for the Woolbright team.</p>

          <p>Mr. Stiller built Woolbright Development into one of the fastest growing retail real estate companies in Florida, and during the last decade the firm acquired 56 retail projects totaling 8.5 million square feet. Historically, Woolbright's typical projects consisted of redevelopments of existing shopping centers located in Florida's densely populated metro areas. Recently, ground-up developments have been incorporated into the Woolbright project mix, and this successful combination has helped make Woolbright Development one of the largest acquirers, managers and top 10 owners of retail real estate in Florida. </p>

          <blockquote>
            <p>...during the last decade the firm acquired 56 retail projects totaling 8.5 million square feet.</p>
          </blockquote>

          <p>As Woolbright Development has grown, Mr. Stiller has taken his corporate philosophy of making Florida's places better and made it a core value of Woolbright Development's community service and philanthropic endeavors. His belief that thriving communities require strong cultural, educational and health care institutions has expanded the scope of Woolbright's definition of community development.</p>

          <p>The entire Stiller family and Woolbright Development team participate significantly in volunteer service and philanthropy. Mr. Stiller personally supports the American Heart Association; American Red Cross, Hurricane Katrina Victims; Cornell University Schools of Architecture and Engineering, Boca Raton Festival of the Arts, St. Andrew's School (Boca Raton), among others. Additionally, Woolbright Development contributes to Boys & Girls Clubs, Cystic Fibrosis Foundation, Boca Raton Art Museum, Mizner Center for the Arts, The Leukemia & Lymphoma Society, and The Junior League of Boca Raton Woman Volunteer Community Service Award.</p>

          <p>Duane Stiller was born in Syracuse, New York and moved to Florida in 1970 where he has been a keen observer and active participant in Florida's real estate market for more than three decades. After graduating from the Cornell University College of Engineering, Mr. Stiller began his career with Traveler's Asset Management International Corporation as director of property management. He is a licensed real estate broker and licensed general contractor. Mr. Stiller is a visiting professor at Cornell University and frequent lecturer at University of Florida and Florida State University.</p>

          <p>Duane Stiller is proud to call Boca Raton, Florida home, where he resides with his wife, Dalia, an architect, art enthusiast and trustee at Cornell University, and his daughter, Cristina, a Cornell University student and aspiring journalist and writer.</p>

      </div><!-- end of .bio -->
    </div><!-- end of .bio__container -->

  </div><!-- end of .site-main -->

<%include src="../../partials/call-to-action-alt.html"%>

<%include src="../../partials/footer.html"%>
</body>

</html>