<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Executive Profile</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>

<body id="site">
<%include src="../../partials/header.html"%>
<%include src="../../partials/secondary-navigation.html"%>

  <div class="site-main">

    <div class="site-section__container">
      <div class="site-section">
        <h1>Executive Profile</h1>
        <p>Many members of Woolbright's leadership core have been working together for the last 20 years. They brought their ideas, experience and entrepreneurial spirit to form Woolbright Development, Inc. Our executive group consists of representatives in the corporate, acquisitions, leasing, marketing, property management, and technology facets of our business.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container alt">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--half mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-01.jpg" alt="Duane Stiller" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Duane Stiller</a></h1>
              <h3 class="site-section__profile--title">President</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
              <p class="site-section__profile--description">Duane Stiller has always believed in making Florida's places better. He founded Woolbright in 1985, and from the beginning he established industry knowledge, personal service and innovation as core values for the Woolbright team.</p>
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--half mobile-half -->
          <li class="site-section__column--half mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-02.jpg" alt="Soraya Tyriver" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Soraya Tyriver</a></h1>
              <h3 class="site-section__profile--title">Chief Operating Officer</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
              <p class="site-section__profile--description">
                Soraya Tyriver, Chief Operating Officer of Woolbright Development, Inc., is responsible for executing the company's real estate business plans on over 5 million sq ft. of shopping centers.
              </p><!-- end of .site-section__profile--description -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--half mobile-half -->
          <li class="site-section__column--half mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-03.jpg" alt="Pete Schlang" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Pete Schlang</a></h1>
              <h3 class="site-section__profile--title">Vice President</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
              <p class="site-section__profile--description">
                Pete Schlang is responsible for leading the leasing team, coordinating and implementing the leasing plan for each shopping center, as well as securing many of the long-term relationships Woolbright shares with national retailers operating in Florida.
              </p><!-- end of .site-section__profile--description -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--half mobile-half -->
          <li class="site-section__column--half mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-04.jpg" alt="Randy Martin" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Randy Martin</a></h1>
              <h3 class="site-section__profile--title">Vice President</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
              <p class="site-section__profile--description">
                Randy Martin, Vice President of Accounting for Woolbright Development, Inc., is responsible for managing the day to day functions of the corporate accounting department, preparing and reviewing financial statements and custom reports for the company.
              </p><!-- end of .site-section__profile--description -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--half mobile-half -->
          <li class="site-section__column--half mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-05.jpg" alt="Luis Ramos" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Luis Ramos</a></h1>
              <h3 class="site-section__profile--title">Director of Information Technology</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
              <p class="site-section__profile--description">
                As the Director of Information Technology, Luis Ramos is responsible for applying technology solutions toward the company’s existing business processes, and helping create new efficiencies throughout the Woolbright business model.
              </p><!-- end of .site-section__profile--description -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--half mobile-half -->
          <li class="site-section__column--half mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-06.jpg" alt="Jorge Morell" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Jorge Morell</a></h1>
              <h3 class="site-section__profile--title">Vice President</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
              <p class="site-section__profile--description">
                Jorge Morell is Vice President/Director of Property Management & Construction of existing properties. In this capacity, Mr. Morell is also responsible for leading the property and construction managers.
              </p><!-- end of .site-section__profile--description -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--half mobile-half -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <h1>Our People</h1>
        <p>Behind Woolbright is a dedicated team of experts, client-focused relationship managers, data nerds and leasing agents whose ambition is helping clients achieve maximum results.</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-07.jpg" alt="Liz Hoyer" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Liz Hoyer</a></h1>
              <h3 class="site-section__profile--title">Director of Research & Data Analytics</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-08.jpg" alt="Jo-Anne Roggin" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Jo-Anne Roggin</a></h1>
              <h3 class="site-section__profile--title">Director of Lease Administration</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-09.jpg" alt="Rich DiChiara" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Rich DiChiara</a></h1>
              <h3 class="site-section__profile--title">Associate General Counsel</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-07.jpg" alt="Liz Hoyer" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Liz Hoyer</a></h1>
              <h3 class="site-section__profile--title">Director of Research & Data Analytics</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-08.jpg" alt="Jo-Anne Roggin" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Jo-Anne Roggin</a></h1>
              <h3 class="site-section__profile--title">Director of Lease Administration</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-09.jpg" alt="Rich DiChiara" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Rich DiChiara</a></h1>
              <h3 class="site-section__profile--title">Associate General Counsel</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-07.jpg" alt="Liz Hoyer" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Liz Hoyer</a></h1></h1>
              <h3 class="site-section__profile--title">Director of Research & Data Analytics</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-08.jpg" alt="Jo-Anne Roggin" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Jo-Anne Roggin</a></h1>
              <h3 class="site-section__profile--title">Director of Lease Administration</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
          <li class="site-section__column--third mobile-half">
            <div class="site-section__profile">
              <a href="/about/executive-profile/bio-expanded.html"><img src="/assets/images/profile-09.jpg" alt="Rich DiChiara" class="site-section__profile--image" /></a>
              <h1 class="site-section__profile--name"><a href="/about/executive-profile/bio-expanded.html">Rich DiChiara</a></h1>
              <h3 class="site-section__profile--title">Associate General Counsel</h3>
              <ul class="site-section__profile--contact">
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul><!-- end of .site-section__profile--contact -->
            </div><!-- end of .site-section__profile -->
          </li><!-- end of .site-section__column--third mobile-half -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

<%include src="../../partials/call-to-action-alt.html"%>

  </div><!-- end of .site-main -->

<%include src="../../partials/footer.html"%>
</body>

</html>