﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Woolbright Development, Inc.</title>

    <meta name="description" content="@ViewBag.Description"/>
    <meta name="title" content="@ViewBag.Title"/>
    <meta name="keywords" content="@ViewBag.Keywords"/>

    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <!-- Stylesheets Start -->
    <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
    <script src="//use.typekit.net/ymh2gal.js"></script>
    <script>
        try {
            Typekit.load();
        } catch (e) {
            //alert("Typekit.load() error");
        }
    </script>
    <!-- Stylesheets End -->

</head>

<body id="site">
<header class="site-header">
    <div class="site-category__container no-mobile">
        <div class="site-category">
            <ul class="site-category__list">
                <li class="active"><a href="/">Corporate</a></li>
                <li><a href="/properties">Properties</a></li>
            </ul><!-- end of .site-category__list -->
        </div><!-- end of .site-category -->
    </div><!-- end of .site-category__container -->
    <div class="site-header__main--container">
        <div class="site-header__main">
            <h1 class="site-title">
                <a href="/">
                    <img class="no-mobile main-logo" src="/assets/svgs/logo-wide-white.svg" alt="@(DateTime.Today.Year) Woolbright Development, Inc." />
                    <img class="no-mobile home-logo" src="/assets/svgs/logo-wide-black.svg" alt="@(DateTime.Today.Year) Woolbright Development, Inc." />
                    <img class="no-desktop" src="/assets/svgs/logo-only.svg" alt="@(DateTime.Today.Year) Woolbright Development, Inc." />
                </a>
            </h1><!-- end of .site-title -->
            <a href="#" class="site-navigation__toggle open-mobile-menu"><img src="/assets/svgs/navicon.svg" alt="Menu"/></a>
            <div class="mobile-search no-desktop">
                <a href="#" id="search-trigger-mobile" class="mobile-search__trigger no-desktop"><i class="fa fa-search"></i></a>
                <div class="search__box mobile">
                    <form action="#" class="search__box--form">
                        <input class="search__box--input" type="text" placeholder="Enter Search Term"/>
                    </form><!-- end of .search__box--form -->
                </div><!-- end of .search__box -->
            </div><!-- end of .mobile-search -->
            <nav class="site-navigation">
                <div class="site-navigation__mobile-elements no-desktop">
                    <div class="site-navigation__mobile-logo">
                        <img src="/assets/svgs/logo-only.svg" alt="@(DateTime.Today.Year) Woolbright Development, Inc."/>
                    </div><!-- end of .site-navigation__mobile-logo -->
                    <div class="site-navigation__mobile-close">
                        <a href="#" class="close-mobile-menu"><img src="/assets/svgs/navicon-close.svg"/></a>
                    </div><!-- end of .site-navigation__mobile-close -->
                    <div class="site-category__container no-desktop">
                        <div class="site-category">
                            <ul class="site-category__list">
                                <li class="active"><a href="/">Corporate</a></li>
                                <li><a href="/properties">Properties</a></li>
                            </ul><!-- end of .site-category__list -->
                        </div><!-- end of .site-category -->
                    </div><!-- end of .site-category__container -->
                </div><!-- end of .site-navigation__mobile-elements -->
                <ul class="site-menu">
                    <li><a href="/"><span data-hover="Home">Home</span></a></li>
                    <li class="has-children">
                        <a href="@(Url.Action("Index", "About"))"><span data-hover="About">About</span></a>
                        <ul class="site-menu__secondary no-desktop">
                            <li><a href="@(Url.Action("CorporateProfile", "About"))">Corporate Profile</a></li>
                            <li><a href="@(Url.Action("ExecutiveProfile", "About"))">Executive Profile</a></li>
                            <li><a href="@(Url.Action("ResearchArticle", "About"))">Research</a></li>
                            <li><a href="@(Url.Action("JobOpportunities", "About"))">Job Opportunities</a></li>
                        </ul><!-- end of .site-menu__secondary -->
                    </li>
                    <li><a href="@(Url.Action("Index", "Portfolio"))"><span data-hover="Portfolio">Portfolio</span></a></li>
                    <li><a href="/contact"><span data-hover="Contact Us">Contact Us</span></a></li>
                    <li class="search">
                        <a href="#" id="search-trigger-desktop"><i class="fa fa-search"></i></a>
                        <div class="search__box desktop">
                            <form action="@(Url.Action("Index", "Search"))" method="POST" class="search__box--form">
                                <input name="searchString" class="search__box--input" type="text" placeholder="Enter Search Term"/>
                                @Html.AntiForgeryToken()
                            </form><!-- end of .search__box--form -->
                        </div><!-- end of .search__box -->
                    </li>
                </ul><!-- end of .site-menu -->
            </nav><!-- end of .site-navigation -->
        </div><!-- end of .site-header__main -->
    </div><!-- end of .site-header__main--container -->
</header><!-- end of .site-header -->
<nav class="site-navigation__secondary">
    <!-- populated dynamically from .site-menu__second-level in .site-navigation -->
</nav><!-- end of .site-navigation__secondary -->
@Scripts.Render("~/bundles/jquery")

@RenderBody()

<div class="site-footer__container">
    <footer class="site-footer">
        <ul class="site-footer__columns">
            <li class="site-footer__column">
                <a href="/" title="Woolbright Development Inc."><img class="site-footer__logo" src="/assets/svgs/logo-only-white.svg" alt="Woolbright Development Inc."/></a>
                <div class="site-footer__address--container">
                    <ul class="site-footer__address">
                        <li class="site-footer__address--label">
                            Corporate Office
                        </li><!-- end of .site-footer__address--label -->
                        <li>2240 NW 19th Street, Suite 801</li>
                        <li>Boca Raton, FL 33431</li>
                        <li>(561) 989–2265</li>
                        <li>
                            <a href="@(Url.Action("Index", "Contact"))">Contact Woolbright Now</a>
                        </li>
                    </ul><!-- end of .site-footer__address -->
                </div><!-- end of .site-footer__address--container -->
            </li><!-- end of .site-footer__column -->
            <li class="site-footer__column">
                <ul class="site-footer__social">
                    <li><a href="#" title="Follow us on LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#" title="Follow us on Facebook"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
                </ul><!-- end of .site-footer__social -->
                <div class="site-footer__copyright">
                    <p>&copy;@(DateTime.Today.Year) Woolbright Development, Inc. <span>–</span> All Rights Reserved
                    </p>
                </div><!-- end of .site-footer__copyright -->
                <div class="site-footer__links">
                    <p><a href="#">Privacy</a> / <a href="#">Disclaimer</a>
                    </p>
                </div><!-- end of .site-footer__links -->
            </li><!-- end of .site-footer__column -->
        </ul><!-- end of .site-footer__columns -->

    </footer><!-- end of .site-footer -->
</div><!-- end of .site-footer__container -->

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<!-- JavaScripts Start -->
<script src="/assets/javascripts/application.min.js"></script>
<!-- JavaScripts End -->

</body>
</html>

@* Google Maps *@
@*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@
<script type="text/javascript">
    var geocoder = new google.maps.Geocoder();
    var marker2;
      
    function codeLatLng(name, lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        var infowindow = new google.maps.InfoWindow();
        geocoder.geocode({ 'location': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    map.setZoom(13);
                    marker2 = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                        title: 'Test'
                    });
                    map.setCenter(latlng);
                    infowindow.setContent(name);
                    infowindow.open(map, marker2);
                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }
    // This is a trick lil functon below...
    // Usage:
    /*
        delay(function () {
            whatever-function();
            }, (delay in seconds));
    */
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
</script>  