﻿@using Woolbright.Web.Data.Classes
@model IEnumerable<Woolbright.Web.Data.Models.Content>
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/unslider.js"></script>

<table class="table-responsive">
    <tr>
        <th>Documents</th>
    </tr>
    <tr>
        <td>
            @{
                var documents = Model.Where(x => x.ContentType == Enums.ContentTypes.Document);
                if (documents.Count() == 0)
                {
                    <i>No documents.</i>
                }
                foreach (var document in documents)
                {
                    <div style="display:inline;">
                        @Html.ActionImage(
                            document.FileName,
                            "RetrieveFile",
                            "ResearchArticle",
                            Url.Content("~/Content/Images/document-universal.png"),
                            document.FileName,
                            new { id = document.ContentId })
                    </div>
                }
            }
        </td>
    </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <th>
                    Images
                </th>
            </tr>
            <tr>
                <td>
                    <div class="slideshow">
                        <ul>
                            @{
                                var images = Model.Where(x => x.ContentType == Woolbright.Web.Data.Classes.Enums.ContentTypes.Image);
                                foreach (var image in images)
                                {
                                    byte[] contentBytes = image.ContentBytes;
                                    string imageSrc = null;
                                    if (contentBytes != null)
                                    {
                                        MemoryStream ms = new MemoryStream();
                                        ms.Write(contentBytes, 0, contentBytes.Length);
                                        //ms.Write(photo, 78, photo.Length - 78);
                                        string imageBase64 = Convert.ToBase64String(ms.ToArray());
                                        imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                    }
                                    <li><img src="@imageSrc" alt="Image" width="250" /></li>
                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        </table>

<script>
    // slideshow
    $(document).ready(function () {
        $(function () {
            $('.slideshow').unslider();
        });
    });
</script>
<style>
    .slideshow { position: relative; overflow: auto; }
    .slideshow li { list-style: none; }
    .slideshow ul li { float: left; }
</style>