﻿@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    <p>
        Search: @Html.TextBox("searchString")<input type="submit" value="Filter" />
    </p>
}
 
