﻿@{
    ViewBag.Title = "AboutUs";
}

<br /><br /><br />
<h2>About Us</h2>


<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>



<table id="ArticlesTable" class="display">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
    <tr><td>TESTING</td></tr>
    <tr><td>TESTING</td></tr>
    <tr><td>TESTING</td></tr>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {       
        // setup results as datatable
        $('#ArticlesTable').DataTable();
    });
</script>