﻿@model Woolbright.Web.Data.Models.Executive

<table>
    <tr>
        <td>
            @{
                byte[] photo = Model.ProfilePictureContent.ContentBytes;
                string imageSrc = null;
                if (photo != null)
                {
                    MemoryStream ms = new MemoryStream();
                    ms.Write(photo, 0, photo.Length);
                    //ms.Write(photo, 78, photo.Length - 78);
                    string imageBase64 = Convert.ToBase64String(ms.ToArray());
                    imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                }
            }<img src="@imageSrc" alt="Image" width="250" />
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.UserProfile.FullName, new { @Class = "modal-header" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.ExecutiveTitle)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.ExecutiveBlurb)
        </td>
    </tr>
</table>