﻿@model IEnumerable<Woolbright.Web.Data.Models.ExecutiveSection>

<div class="site-main">
    @foreach (var section in Model)
    {
        // show section name/blurb
        <div class="site-section__container">
            <div class="site-section">
                <h1>@(section.SectionName)</h1>
                <p>@(section.SectionBlurb)</p>
            </div>
        </div>
        <div class="site-section__container alt">
            <div class="site-section">
                <ul class="site-section__columns">
                    @*// now the executives per section*@
                    @foreach (var mapping in section.ExecutiveSectionMappings)
                    {
                        <li class="site-section__column--half mobile-half">
                            @{
                        byte[] photo = mapping.Executive.ProfilePictureContent.ContentBytes;
                        string imageSrc = null;
                        if (photo != null)
                        {
                            MemoryStream ms = new MemoryStream();
                            ms.Write(photo, 0, photo.Length);
                            //ms.Write(photo, 78, photo.Length - 78);
                            string imageBase64 = Convert.ToBase64String(ms.ToArray());
                            imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                        }
                            }
                            <a href="@Url.Action("ExecutiveDetails", new {id = mapping.Executive.ExecutiveId})">
                                <img src="@imageSrc" alt="@(mapping.Executive.UserProfile.FullName)" width="250" />
                            </a>

                            <h1 class="site-section__profile--name">@(mapping.Executive.UserProfile.FullName)</h1>
                            <h3 class="site-section__profile--title">@(mapping.Executive.ExecutiveTitle)</h3>
                            <ul class="site-section__profile--contact">
                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            </ul><!-- end of .site-section__profile--contact -->
                            <p class="site-section__profile--description">@(mapping.Executive.ExecutiveBlurb)</p>
                            
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
