﻿@using Woolbright.Web.Data.Classes
@model Woolbright.Web.Corporate.ViewModels.ResearchArticleListViewModel
@{
    ViewBag.Title = "Research";
}
@* for pagination *@
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<div class="site-main standard">
    <table>
        <tr>
            <td><h1 class="text-center">Research</h1></td>
        </tr>
        <tr>
            <td>
                <p class="researchArticleTopP">
                    Woolbright is unique in that we do all of our market research in-house.
                    On an annual basis, Woolbright physically visits every shopping center in Florida's major metro markets:
                    Dade, Broward, Palm Beach, Orlando, Tampa, and Jacksonville as well as the following markets:
                    Martin/St. Lucie, Daytona, Sarasota/Bradenton, and Naples/Fort Myers. On an ongoing basis, Woolbright also tracks rents, sales,
                    new project openings, and proposed projects.
                </p>
                <ul class="researchTopUL">
                    <li>We know where the market stands in all aspects: rents, vacancy, absorption, tenancy, construction, sales, and more.</li>
                    <li>We can help retailers find an optimal location: Woolbright knows where the competition is and where new opportunities exist.</li>
                    <li>We derive informed investment decisions designed to help both tenants and investors.</li>
                </ul>
                @if (Model.Articles.Count < 1)
                {
                    <div>No articles for this period in time.</div>
                }
                <table id="ArticlesTable" class="display">
                    <thead>
                        <tr><th></th></tr>
                    </thead>
                    <tfoot>
                        <tr><th></th></tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in Model.Articles)
                    {
                        var pubDate = item.DatePublished;
                        var pubDateShort = pubDate.ToShortDateString();
                        var pubDateDayOfWeek = pubDate.DayOfWeek.ToString();
                        <tr class="researchArticleContainerTR">
                            <td>
                                <div class="researchArticleContainerDIV">
                                    <div class="researchArticleLeft">
                                        <img src="@(item.ThumbnailAzureReference)" width="100px;"/>
                                    </div>
                                    <div class="researchArticleRight">
                                        <div class="researchArticleTitle">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </div>
                                        <div class="researchArticleCredits">
                                            By @Html.DisplayFor(modelItem => item.Owner.FullName) on @(pubDateDayOfWeek) @(pubDateShort).
                                        </div>
                                        <div>
                                            <p class="researchArticleShortDescription">
                                                @Html.DisplayFor(modelItem => item.ShortDescription)
                                            </p>
                                        </div>
                                        <br/>
                                        <a href="@(Url.Action("ResearchArticleDetails", new { id = ContentSpecific.SlugifyResearchArticleLinkText(item) }))">Read our full report ></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="researchArticleArchiveTD">
                <p class="researchArchiveHeader">Archive</p>
                @Html.DropDownListFor(x => x.ArchiveList, (SelectList) ViewBag.ArchiveListBag, "Choose...")
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // archive list ddl
        $("#ArchiveList").change(function () {
            location.href = '@Url.Action("Research-Archive", "About", new { id = "" })/' + $(this).val(); // get val from ddl
        });
        // setup results as datatable
        $('#ArticlesTable').DataTable();
    });
</script>