﻿@model Woolbright.Web.Corporate.ViewModels.ResearchArticleViewModel

@{
    ViewBag.Title = "Details";
}

<div class="site-main">

    <div class="site-section__container">
        <div class="site-section">
            @Html.Action("GetHtml", "About", new { path = Model.ArticleBodyIndexHtmlRelativePath })
        </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->
    
</div><!-- end of .site-main -->