﻿@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/assets/javascripts/map/map.js"></script>

<div class="site-main">

    @{// if there was an error or success message, return here and show it
        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <p class="alert-danger">@(ViewBag.ErrorMessage)</p>
        }
        else if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <p class="alert-success">@(ViewBag.SuccessMessage)</p>
        }
    }
    <div class="contact__map--container">
        <div class="contact__map--content">
            <div class="contact__map--form-container">
                <h1 class="contact__form--title">
                    Interested in speaking with us?
                </h1><!-- end of .contact__form--title -->
                <p class="contact__form--description">We would love to speak with you. Feel free to call, send us an email or simply complete the enquiry form.</p>
                <form action="@(Url.Action("Index"))" method="POST" class="contact__map--form">
                    @Html.AntiForgeryToken()
                    <input name="PropertyId" type="hidden" value="@(ViewBag.PropertyId ?? string.Empty)" />
                    <input name="name" id="name" type="text" placeholder="Name" />
                    <input name="email" id="email" type="email" placeholder="Email Address" />
                    <input name="phone" id="phone" type="text" placeholder="Phone Number" />
                    <textarea name="message" id="message" placeholder="Message" cols="30" rows="5"></textarea>
                    <input type="submit" value="Send Message" />
                </form><!-- end of .contact__map--form -->
                <ul class="contact__form--address">
                    <li>Woolbright Development, Inc.</li>
                    <li>2240 NW 19th Street, Ste 801</li>
                    <li>Boca Raton, FL 3343</li>
                    <li>(561) 989-2264</li>
                </ul><!-- end of .contact__form--address -->
            </div><!-- end of .contact__map--form-container -->
        </div><!-- end of .contact__map--content -->
        <div id="map" class="contact__map"></div><!-- end of #map -->
    </div><!-- end of .contact__map--container -->

    <div class="site-section__container call-to-action">
        <div class="site-section">
            <h1 class="light">Ready to talk about your next investment?</h1>
            <p class="small">Proin fringilla metus non nulla cursus, sit amet rutrum est pretium.</p>
            <a href="#" class="button">Call to Action Text</a>
        </div><!-- end of .site-section -->
        <div class="site-footer__top-link">
            <a href="#site"><i class="fa fa-angle-up"></i></a>
        </div><!-- end of .site-footer__top-link -->
    </div><!-- end of .site-section__container -->


</div><!-- end of .site-main -->
