<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Corporate Profile</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="../partials/header.html"%>

<div class="site-hero__container standard" style="background-image: url('/assets/images/hero-generic.jpg');">
  <div class="site-hero__content">
    <div class="site-hero">
      <h1 class="site-hero__title">20 Years of Real<br>Estate Investment Results</h1>
      <h2 class="site-hero__subtitle">Etiam porta sem malesuada magna mollis euismod.</h2><!-- end of .site-hero__subtitle -->
    </div><!-- end of .site-hero -->
  </div><!-- end of .site-hero__content -->
</div><!-- end of .site-hero__container standard -->

<%include src="../partials/secondary-navigation.html"%>

  <div class="site-main">

<%include src="../partials/sample-content.html"%>

<%include src="../partials/call-to-action-alt.html"%>

  </div><!-- end of .site-main -->

<%include src="../partials/footer.html"%>
</body>

</html>