﻿@model IEnumerable<Woolbright.Web.Data.Models.Market>

@{
    ViewBag.Title = "Index";
}


<div class="col-md-12 col-md-offset-4">

    <h2>Market List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MarketId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MarketId }) @*|*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.MarketID })*@
                </td>
            </tr>
        }
    </table>
</div>