﻿@model IEnumerable<Woolbright.Web.Data.Models.ExecutiveSection>

@{
    ViewBag.Title = "Executive Sections";
}

<h2>Executive Sections</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionBlurb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionBlurb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExecutiveSectionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExecutiveSectionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExecutiveSectionId })
        </td>
    </tr>
}

</table>
