/*=============================
=            Fonts            =
=============================*/

@font-face {font-family: 'AvantGardeGothicITCW01Bk';src: url('../fonts/2D809B_0_0.eot');src: url('../fonts/2D809B_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D809B_0_0.woff2') format('woff2'),url('../fonts/2D809B_0_0.woff') format('woff'),url('../fonts/2D809B_0_0.ttf') format('truetype');}


@font-face {font-family: 'FFFagoCorrespondenceSerifWebProBold';src: url('../fonts/2D809B_1_0.eot');src: url('../fonts/2D809B_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D809B_1_0.woff2') format('woff2'),url('../fonts/2D809B_1_0.woff') format('woff'),url('../fonts/2D809B_1_0.ttf') format('truetype');}

@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');}

/*-----  End of Fonts  ------*/