/*==================================
=            Typography            =
==================================*/

// Based on Typeplate

/*==========  Headings  ==========*/

h1,
h2,
h3,
h4,
h5,
h6 {
  @include base-margin;
  line-height: 1.1;

  a {
    color: inherit;
    &:hover {
      color: $color-main-darkest;
    }
  }
}

h1 {
  @include font-size(36);
  @include font-proxima(600);

  .site-section & {
    text-align: center;
    &.light {
      @include font-proxima(300);
    }
    &.site-section__profile--name {
      @include font-size(33);
      @include font-proxima(300);
      margin-bottom: rem(5);
      a {
        @include font-proxima(300);
        &:hover {
          color: $color-accent;
        }
      }
      @include breakpoint(mobile) {
        @include font-size(17);
      }
    }
  }
  &.contact__form--title {
    color: $color-main-dark;
    text-align: center;
  }
  .call-to-action & {
    @include breakpoint(mobile) {
      @include font-size(28);
    }
  }

  @include breakpoint(mobile) {
    @include font-proxima(400);
    @include font-size(17);
  }
}

h2 {
  @include font-size(22);
  @include font-proxima(400);

  .site-section & {
    margin-bottom: rem(5);
  }
  .article__body & {
    @include font-proxima(600);
    @include font-size(18);
    color: $color-main-darkest;
    margin-bottom: 0;
    line-height: 1.4;
    &.intro {
      margin-bottom: rem(50);
      line-height: 1.7;
    }
  }
  .article__footer & {
    @include font-proxima(600);
    @include font-size(12);
    color: $color-main-darkest;
  }
  &.site-section__story--title {
    @include font-proxima(300);
    @include font-size(46);
    @include breakpoint(mobile) {
      @include font-size(17);
    }
  }

  @include breakpoint(mobile) {
    @include font-size(16);
  }
}

h3 {
  @include font-size(16);
  @include font-proxima(300);

  .site-section & {
    text-transform: uppercase;
  }
  .article__main & {
    @include font-size(15);
    @include font-proxima(400);
    font-style: italic;
    margin: rem(5) 0 rem(20);
    color: $color-main-darkest;
    line-height: 1.4;
  }

  &.featured-property__location {
    @include font-size(18);
    @include font-proxima(400);
    font-style: italic;
    text-transform: none;
  }
  &.site-section__story--category {
    @include font-size(21);
    @include font-proxima(400);
    color: $color-accent;
    margin-bottom: rem(20);
    @include breakpoint(mobile) {
      @include font-size(18);
    }
  }
  &.site-section__profile--title {
    @include breakpoint(mobile) {
      @include font-size(10);
    }
  }
}

h4 {
  @include font-size(600);
  @include font-size(16);
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h5 {
  @include font-size(600);
  @include font-size(13);
  color: $color-accent;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h6 {
  @include font-size;
}


/*==========  Paragraphs  ==========*/

p {
  @include base-margin;

  .site-section & {
    @include font-size(22);
    text-align: center;
    max-width: rem(800);
    margin-left: auto;
    margin-right: auto;
    &.small {
      @include font-size(20);
      @include breakpoint(mobile) {
        @include font-size(16);
      }
    }
    &.smaller {
      @include font-size(16);
    }

    @include breakpoint(mobile) {
      @include font-size(16);
    }
  }
  .bio__main &,
  .article__main & {
    color: $color-main-darkest;
    line-height: 2.2;
    margin-bottom: rem(40);
    em {
      @include font-proxima(400);
      @include font-size(15);
      font-style: italic;
      line-height: 1.2;
    }
  }
  .bio__main & {
    line-height: 1.9;
    margin-bottom: rem(30);
  }

  .article__footer & {
    @include font-size(12);
  }

  &.article__footer--intro {
    @include font-size(13);
    margin-bottom: rem(30);
  }
  &.featured-article__description {
    @include font-proxima(400);
    @include font-size(21);
    @include breakpoint(mobile) {
      @include font-size(16);
    }
  }
  &.site-section__story--description {
    @include font-size(17);
    text-align: left;
    margin: 0 auto rem(20) 0;
    max-width: rem(470);
    @include breakpoint(mobile) {
      @include font-size(16);
      text-align: center;
    }
  }
  &.site-section__profile--description {
    @include font-size(22);
    max-width: rem(450);
    margin: 0 auto;
  }
  &.contact__form--description {
    @include font-size(22);
    color: $color-main-dark;
    text-align: center;
    margin-bottom: rem(40);
    @include breakpoint(mobile) {
      @include font-size(16);
      text-align: center;
    }
  }

}


/*==========  Blockquotes  ==========*/

blockquote {
  @include font-proxima(700);
  @include font-size(20);
  border-top: 13px solid $color-main-darkest;
  border-bottom: 1px solid $color-main-darkest;
  text-align: left;
  padding: rem(30) 0 rem(25);
  margin: 0;
  color: $color-main-darkest;
  + figcaption cite {

  }

  .bio &,
  .article & {
    float: left;
    width: rem(310);
    margin: rem(40) rem(50) 0 rem(-250);
    p {
      line-height: 1;
      margin-bottom: 0;
    }

    @include breakpoint(mobile) {
      float: none;
      margin: rem(40) 0 rem(40) 0;
      width: auto;
    }
  }
  .bio & {
    margin: rem(10) rem(50) rem(30) rem(-250);
    @include breakpoint(mobile) {
      float: none;
      margin: rem(40) 0 rem(40) 0;
      width: auto;
    }
  }
}


/*==========  Legal Text  ==========*/

small {

}


/*==========  Code Blocks  ==========*/

pre {
  code {

  }
}

code {

}


/*==========  Small Caps  ==========*/

abbr {

}


/*==========  Unordered Lists  ==========*/

ul {
  li {

  }
}


/*==========  Ordered Lists  ==========*/

ol {
  li {

  }
}


/*==========  Definition Lists  ==========*/

dt,
dd {
  display: inline;
  margin: 0;
}

dd:after {
  content: '\A';
  white-space: pre;
}


/*==========  Tables  ==========*/

table {
  @include font-proxima(400);
  @include base-margin;
  max-width: rem(770);
  width: 100%;
  margin: 0 auto;
  tr {
    &:nth-of-type(odd) {
      background: $color-main-pale;
    }
    &:nth-of-type(even) {
      background: $color-white;
    }
  }
  td {
    padding: rem(15) rem(20);
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }

    @include breakpoint(mobile) {
      padding: rem(10) rem(5);
    }
  }

  @include breakpoint(mobile) {
    @include font-size(14);
  }
}


/*==========  Links  ==========*/

a {
  @include transition;
  @include font-proxima(400);
  color: $color-accent;
  text-decoration: none;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.button {
  @include button;
}


/*-----  End of Typography  ------*/

