/*=================================
=            Variables            =
=================================*/

/*==========  Colors  ==========*/

/* Color Definitions */

$color-black: #000;
$color-white: #fff;

$color-sunset-orange: #fc543e;
$color-mobster: #606067;
$color-dark-grey: #555555;
$color-baltic-sea: #3d3d3d;
$color-white-lilac: #e8e8e8;
$color-wild-sand: #f5f5f5;

$color-grey-darker: #242424;
$color-grey-dark: #979797;
$color-grey-med-dark: #797677;
$color-grey-med: #A3A3A3;
$color-grey-light: #ededed;
$color-grey-alt: #C2C2C2;
$color-grey-menu: #404040;
$color-grey-menu-alt: #808080;

$color-fill: #5D6067;

/* Color Assignment */

$color-main-darkest: $color-baltic-sea;
$color-main-dark: $color-dark-grey;
$color-main-med: $color-mobster;
$color-main-light: $color-white-lilac;
$color-main-pale: $color-wild-sand;
$color-accent: $color-sunset-orange;


$color-text-body: $color-main-med;
$color-text-heading: $color-main-dark;
$color-text-links: $color-accent;

$color-body-background: $color-white;

/*==========  Fonts  ==========*/

/* Font Definitions */

$font-proxima-nova: "proxima-nova", sans-serif;
$font-icons: "FontAwesome";

/* Font Options */

$font-base-size: 16;
$font-line-height: 1.5;

/* Font Assignment */

$font-body-text: $font-proxima-nova;
$font-heading-text: $font-proxima-nova;


/*==========  Border Radius  ==========*/

$border-radius: 2px;


/*==========  Text Inputs  ==========*/

$text-inputs-list: 'input[type="color"]',
                   'input[type="date"]',
                   'input[type="datetime"]',
                   'input[type="datetime-local"]',
                   'input[type="email"]',
                   'input[type="month"]',
                   'input[type="number"]',
                   'input[type="password"]',
                   'input[type="search"]',
                   'input[type="tel"]',
                   'input[type="text"]',
                   'input[type="time"]',
                   'input[type="url"]',
                   'input[type="week"]',
                   'textarea';

$all-text-inputs:        assign-inputs($text-inputs-list);
$all-text-inputs-active: assign-inputs($text-inputs-list, active);
$all-text-inputs-focus:  assign-inputs($text-inputs-list, focus);
$all-text-inputs-hover:  assign-inputs($text-inputs-list, hover);

/*-----  End of Variables  ------*/