﻿@model WoolbrightCMSAdmin.ViewModels.CreateBayOptionViewModel

@using WoolbrightCMSAdmin.Classes;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    // PropertyId used as reference
    @Html.HiddenFor(x => x.PropertyId)

    <div class="form-horizontal">
        <h4>Add Bay Option for: <b>@(Model.PropertyNameAndCityAndState)</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
        @* Site visibility - Exclude 'None' option, but handle server-side*@
        <div class="form-group">
            @Html.LabelFor(model => model.AvailableSiteVisibilityFlags, "Site Visibility", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (Enums.SiteVisibilityFlags svf in Enum.GetValues(typeof(Enums.SiteVisibilityFlags))
                    .Cast<Enums.SiteVisibilityFlags>()
                    .Except(new Enums.SiteVisibilityFlags[] { Enums.SiteVisibilityFlags.None }))
                {
                    @Html.CheckBox("SiteVisibilityFlags", (Model.AvailableSiteVisibilityFlags.HasFlag(svf)), new { value = svf })
                    @Html.Label("SiteVisibilityFlagsLabel", svf.ToString())
                    @:&nbsp;
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Excerpt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Excerpt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Excerpt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFeatured, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsFeatured)
                    @Html.ValidationMessageFor(model => model.IsFeatured, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BayNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BayNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BayNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BaySize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaySize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaySize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BayType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BayType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BayType, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.OccupancyState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OccupancyState, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccupancyState, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.OccupancyStateIsOverridden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OccupancyStateIsOverridden)
                    @Html.ValidationMessageFor(model => model.OccupancyStateIsOverridden, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.OccupancyStateValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OccupancyStateValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccupancyStateValue, "", new { @class = "text-danger" })
            </div>
        </div>*@
  
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Property", "Details", "Property", new { id = Model.PropertyId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}