﻿@model WoolbrightCMSData.Models.BayOption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BayOption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectGUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectGUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteVisibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteVisibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excerpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excerpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BayNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BayType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupancyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupancyState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupancyStateIsOverridden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupancyStateIsOverridden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupancyStateValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupancyStateValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BayGUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
