﻿@model IEnumerable<WoolbrightCMSData.Models.BayOption>

@{
    ViewBag.Title = "Index";
}

<h2>Bay Options</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Property.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectGUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteVisibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Excerpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BayNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaySize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupancyState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupancyStateIsOverridden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupancyStateValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectGUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteVisibility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Excerpt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFeatured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BayNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaySize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BayType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupancyState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupancyStateIsOverridden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupancyStateValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BayGUID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BayGUID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BayGUID })
        </td>
    </tr>
}

</table>
