﻿@model Woolbright.Web.Data.Models.ResearchArticle
@*@model WoolbrightCorporateCMS.ViewModels.ResearchArticleViewModel*@

@{
    ViewBag.Title = "Details";
}

<div class="researchArticleDetailsWrapper">
    <h6 class="">COMMERCIAL REAL ESTATE</h6>
    <div>
        <h3 class="col-md-offset-4">@(Model.Title)</h3>
        <hr/>
        <div class="researchArticleDetailsLeftCol col-md-2 col-md-offset-2">
            LEFT
        </div>
        <div class="researchArticleDetailsRightCol col-md-8">
            <div class="researchArticleDetailsShortDescription">@(Model.ShortDescription)</div>
            <br/>
            <br/>
            <div class="researchArticleDetailsBody">@(Model.Body)</div>

        </div>
    </div>





    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Owner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

    </dl>*@

</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
