﻿@using Woolbright.Web.Data.Classes
@model Woolbright.Web.Corporate.ViewModels.ResearchArticleViewModel

@{
    ViewBag.Title = "Research";
}
@* for search results and pagination *@
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<div class="container-fluid">
    <table class="table researchArticleContainerTABLE col-md-offset-3" style="width: 650px;" >
        <tr>
            <td>
                <h2 class="researchArticleTopHeader">RESEARCH!!</h2>
                <p class="researchArticleTopP">Woolbright is unique in that we do all of our market research in-house.
                    On an annual basis, Woolbright physically visits every shopping center in Florida's major metro markets:
                    Dade, Broward, Palm Beach, Orlando, Tampa, and Jacksonville as well as the following markets:
                    Martin/St. Lucie, Daytona, Sarasota/Bradenton, and Naples/Fort Myers. On an ongoing basis, Woolbright also tracks rents, sales,
                    new project openings, and proposed projects.</p>
                <ul class="researchTopUL">
                    <li>We know where the market stands in all aspects: rents, vacancy, absorption, tenancy, construction, sales, and more.</li>
                    <li>We can help retailers find an optimal location: Woolbright knows where the competition is and where new opportunities exist.</li>
                    <li>We derive informed investment decisions designed to help both tenants and investors.</li>
                </ul>
                @if (Model.Articles.Count < 1)
                {
                    <div>No articles for this period in time.</div>
                }
                <table id="ArticlesTable" class="display">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Articles)
                        {
                            var pubDate = item.DatePublished;
                            var pubDateShort = pubDate.ToShortDateString();
                            var pubDateDayOfWeek = pubDate.DayOfWeek.ToString();
                            <tr class="researchArticleContainerTR">
                                <td>
                                    <div class="researchArticleContainerDIV">
                                        <div class="researchArticleLeft">
                                            @{
                                                byte[] contentBytes = item.Thumbnail.ContentBytes;
                                                string imageSrc = null;
                                                if (contentBytes != null)
                                                {
                                                    MemoryStream ms = new MemoryStream();
                                                    ms.Write(contentBytes, 0, contentBytes.Length);
                                                    //ms.Write(photo, 78, photo.Length - 78);
                                                    string imageBase64 = Convert.ToBase64String(ms.ToArray());
                                                    imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                                                }
                                            }
                                            <img src="@imageSrc" alt="Image" width="250"/>
                                        </div>
                                        <div class="researchArticleRight">
                                            <div class="researchArticleTitle">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </div>
                                            <div class="researchArticleCredits">
                                                By @Html.DisplayFor(modelItem => item.Owner.FullName) on @(pubDateDayOfWeek) @(pubDateShort).
                                            </div>
                                            <div>
                                                <p class="researchArticleShortDescription">
                                                    @Html.DisplayFor(modelItem => item.ShortDescription)
                                                </p>
                                            </div>
                                            <br />
                                            <a href="@(Url.Action("Details", new {id = ContentSpecific.SlugifyResearchArticleLinkText(item)}))">Read our full report ></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="researchArticleTRSpacer"></tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="researchArticleArchiveTD">
                <p class="researchArchiveHeader">Archive</p>
                @Html.DropDownListFor(x => x.ArchiveList, (SelectList)ViewBag.ArchiveListBag, "Choose...")
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('div.researchArticleContentLink').click(function (ev) {
            ev.preventDefault(); // just in case we decide to use anchor tags
            var url = '@Url.Action("GetContentByArticleId", "ResearchArticle")/' + $(this).data('id'); // get id from element clicked
            // setup userfeedback
            $("#UserFeedbackDiv").html('Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")">');
            $("#UserFeedbackDiv").show();
            // get content
            $('#researchArticleModal .modal-body').html('Content loading...');
            $('#researchArticleModal').modal('show', { backdrop: 'static' });
            $('#researchArticleModal .modal-body').load(url, function (response, status, xhr) {
                if (status === "error") { // handle if error
                    var msg = "Sorry but there was an error: ";
                    $("#UserFeedbackDiv").html(msg + xhr.status + " " + xhr.statusText);
                    // TODO: maybe log error here
                }
                else {
                    $("#UserFeedbackDiv").hide(); // came back ok, hide feeedback
                }
            });
        });
        // archive list ddl
        $("#ArchiveList").change(function () {
            location.href = '@Url.Action("Archive", "ResearchArticle", new { id = "" })/' + $(this).val(); // get val from ddl
        });
        // setup results as datatable
        $('#ArticlesTable').DataTable();
    });
</script>

<div id="researchArticleModal" class="modal fade ">
    <div class="modal-dialog researchArticleModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Article Content</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div id="UserFeedbackDiv" class="text-center userFeedbackDiv"></div>
        </div>
    </div>
</div>
