﻿@using Woolbright.Web.Data.Classes;

@model Woolbright.Web.Corporate.ViewModels.PropertyDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/assets/javascripts/map/map.js"></script>

<div class="site-main">

    <div class="site-section__container">
        <div class="site-section">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
        <div class="site-section">
            <table class="site-section__table">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.GrossLeasableArea)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GrossLeasableArea)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MinDivisible)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.MinDivisible)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.MaxContiguous)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.MaxContiguous)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SquareFootage)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SquareFootage)
                    </td>
                </tr>

                @foreach (var fff in Model.FreeFormFields.OrderBy(x => x.SortOrder))
                {
                    <tr>
                        <td>
                            @(fff.FreeFormTemplate.Label)
                        </td>
                        <td>
                            @{
                            switch (fff.FreeFormTemplate.ValueType)
                            {
                                case Enums.FreeFormValueType.Number:
                                    @(fff.NumberValue)
                                    break;
                                case Enums.FreeFormValueType.String:
                                @(fff.StringValue)
                                    break;
                            }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container portfolio" style="background-image: url('/assets/images/large-portfolio.jpg');">
        <div class="site-section__portfolio--container">
            <div class="site-section__portfolio--content">
                <div class="site-section__portfolio">
                    <h1 class="site-section__portfolio--title">
                        <span class="no-mobile">@Html.DisplayFor(model => model.Name)</span>
                        <span class="no-desktop">@Html.DisplayFor(model => model.LocationDescription)</span>
                    </h1><!-- end of .site-section__portfolio--title -->
                    <p class="site-section__portfolio--description">@Html.DisplayFor(model => model.LocationDescription)</p>
                    <a href="#" id="open-map" class="site-section__portfolio--map"><i class="fa fa-map-marker"></i> Map</a>
                   
                    <div class="site-section__portfolio--contact">
                        <p class="site-section__portfolio--contact-title">Property Contact</p>
                        @{
                            if (Model.CorporateContact != null)
                            {
                                <p>@(Model.CorporateContact.FullName ?? string.Empty), Leasing Agent</p>
                                <p>
                                    <a href="@Url.Action("Index", "Contact", new {id = Model.PropertyId})"><i class="fa fa-envelope"></i> @(Model.CorporateContact.FullName ?? string.Empty)</a>
                                </p>
                                <p>
                                    <a href="tel:@(Model.CorporateContact.WorkPhoneNumber ?? string.Empty)"><i class="fa fa-telephone"></i> @(Model.CorporateContact.WorkPhoneNumber ?? string.Empty)</a>
                                </p>
                            }
                            else
                            {
                                <p><a href="@Url.Action("Index", "Contact")"><i class="fa fa-envelope"></i> Contact Agent</a></p>
                            }
                        }
                  </div><!-- end of .site-section__portfolio--contact -->

                </div><!-- end of .site-section__portfolio -->
            </div><!-- end of .site-section__portfolio--content -->
            <img class="site-section__portfolio--image no-desktop" src="/assets/images/large-portfolio.jpg" alt="" />
        </div><!-- end of .site-section__portfolio--container -->
        <div class="site-section__portfolio--map-container">
            <a href="#" id="close-map" title="Close Map" class="portfolio__map--close"><i class="fa fa-times-circle"></i></a>
            <div id="map" class="portfolio__map"></div><!-- end of #map -->
        </div><!-- end of .site-section__portfolio--map -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container call-to-action">
        <div class="site-section">
            <h1 class="light">Ready to talk about your next investment?</h1>
            <p class="small">Proin fringilla metus non nulla cursus, sit amet rutrum est pretium.</p>
            <a href="#" class="button">Call to Action Text</a>
        </div><!-- end of .site-section -->
        <div class="site-footer__top-link">
            <a href="#site"><i class="fa fa-angle-up"></i></a>
        </div><!-- end of .site-footer__top-link -->
    </div><!-- end of .site-section__container -->

</div><!-- end of .site-main -->

<script type="text/javascript">
    $(document).ready(function() {
        // needs delay to allow gMaps to init
        delay(function () {
            codeLatLng('@(Model.Name)',@(Model.Location.Latitude), @(Model.Location.Longitude));
        }, @System.Configuration.ConfigurationManager.AppSettings["JQueryKeyupDelayInMs"]);
    });
</script>
