﻿@model Woolbright.Web.Corporate.ViewModels.PropertyListWrapperViewModel
@{
    ViewBag.Title = "Portfolio";
}

<!-- Main map here with multiple 'markers'-->
<div class="site-hero__container standard" style="background-image: url('/assets/images/hero-generic.jpg');">
    <div class="site-hero__content">
        <div class="site-hero">
            <h1 class="site-hero__title">Portfolio</h1>
            <h2 class="site-hero__subtitle">Etiam porta sem malesuada magna mollis euismod.</h2><!-- end of .site-hero__subtitle -->
        </div><!-- end of .site-hero -->
    </div><!-- end of .site-hero__content -->
</div><!-- end of .site-hero__container standard -->

<div class="site-section__container">
    <div class="site-section">
        <h1>H1 Headline</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo ligula, interdum ut lobortis quis, interdum vitae metus. Proin fringilla metus non nulla cursus, sit amet rutrum est pretium. Etiam porta sem malesuada magna mollis euismod.</p>
    </div><!-- end of .site-section -->
</div><!-- end of .site-section__container -->

<div class="text-center" style="font-size: 32px; line-height: 38px; color: #FC543E;">Filter Region</div>
<div class="text-center" style="color:#5D6067; font-size: 14px; line-height: 17px;">Please choose from the following</div>

<ul class="list-inline text-center propertyRegionUL">
    @foreach (var item in Model.Regions)
    {
        <li class="regionLI @(Model.RouteIdValue == item.Name ? "active" : "")"><a href="@(Url.Action("Region", new { id = item.Name.Replace(" " , "-") }))">@(item.Name)</a></li>
    }
</ul>

@* show prop name/city name 4 rows across *@
<div class="site-section__container">
    <div class="site-section">
        <ul class="site-section__columns">
            @foreach (var item in Model.PLVMs)
            {
                <li class="site-section__column--quarter">
                    <div>
                        <h2><a href='@Url.Action("Details", "Portfolio", new {id = item.Name.Replace(" ", "-") + "-in-" + item.City.Replace(" ", "-")})'>@(item.Name)</a></h2>
                        <p>@(item.City ?? string.Empty)</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="site-section__container call-to-action">
    <div class="site-section">
        <h1 class="light">Ready to talk about your next investment?</h1>
        <p class="small">Proin fringilla metus non nulla cursus, sit amet rutrum est pretium.</p>
        <a href="#" class="button">Call to Action Text</a>
    </div><!-- end of .site-section -->
    <div class="site-footer__top-link">
        <a href="#site"><i class="fa fa-angle-up"></i></a>
    </div><!-- end of .site-footer__top-link -->
</div><!-- end of .site-section__container -->
