﻿@model Woolbright.Web.Corporate.ViewModels.PropertyDetailsWrapperViewModel

@{
    ViewBag.Title = "Portfolio";
}

<!-- Main map here with multiple 'markers'-->
<h2 class="mapOverlay">Portfolio of Properties</h2>
<div class="container-full">
    <div id="map_canvas" class="row"></div>
</div>

<div class="text-center" style="font-size: 32px; line-height: 38px; color: #FC543E;">Filter Region</div>
<div class="text-center" style="color:#5D6067; font-size: 14px; line-height: 17px;">Please choose from the following</div>

<ul class="list-inline text-center propertyRegionUL">
    <li data-marketid="Miami-Dade" class="regionLI @(Model.RouteIdValue == "Miami-Dade" ? "active" : "")">Miami Dade</li>
    <li data-marketid="Fort-Lauderdale" class="regionLI @(Model.RouteIdValue == "Fort-Lauderdale" ? "active" : "")">Fort Lauderdale</li>
    <li data-marketid="West-Palm-Beach" class="regionLI @(Model.RouteIdValue == "West-Palm-Beach" ? "active" : "")">West Palm Beach</li>
    <li data-marketid="Tampa" class="regionLI @(Model.RouteIdValue == "Tampa" ? "active" : "")">Tampa</li>
    <li data-marketid="Orlando" class="regionLI @(Model.RouteIdValue == "Orlando" ? "active" : "")">Orlando</li>
</ul>

@* show prop name/city name 4 rows across *@
<div class="propertyListWrapper text-center table col-md-8 col-md-offset-2">
    @{var columnCount = 0;}
    @foreach (var item in Model.PDVMs)
    {
        if (columnCount == 0)
        {
            @:<div class="row">
        }
        <div style="display:inline-block;" class="col-sm-2">
            <div class="propertyListName">
                <a href='@Url.Action("Details", "Property", new { id = item.Name.Replace(" ", "-") + "-in-" + item.City.Replace(" ", "-") })'>@(item.Name)</a>
            </div>
            <div class="propertyListCity">
                <a href='@Url.Action("Details", "Property", new { id = item.Name.Replace(" ", "-") + "-in-" + item.City.Replace(" ", "-") })'>@(item.City)</a>
            </div>
        </div>
        if (columnCount == 3)
        {
            @:</div>
        }
        columnCount++;
        if (columnCount == 4)
        {
            columnCount = 0;
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // initialize map to center on florida.
        initializeGMap();
        // serialize model locations
        var locationsToPass = @Html.Raw(Json.Encode(Model.PDVMs.Select(x => new { x.Name, x.Location.Latitude, x.Location.Longitude })));
        // drop markers
        addMarker(locationsToPass);
        // filter by region/market
        $('li.regionLI').click(function (ev) {
            ev.preventDefault(); // just in case we decide to use anchor tags
            // get id from element clicked AND make sure to reset previous values with 'new { id=""}' else it will append/
            var url = '@Url.Action("Region", "Property", new { id = "" })/' + $(this).data('marketid');
            window.location.href = url;
        });
    });
</script>
