﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*custom from here on*/
.topBar{
    height:30px;
    background-color:#E7E7E7;
}
.headerLogoDiv{
    margin-top:20px;
}
.mainMenuWrapper{    
    /*border-bottom:5px solid red;*/
}
.mainMenuDIV{
    /*width:80%;*/    
}
.mainMenuUL{
    vertical-align:middle;
}
.navbar-nav > li > a, .navbar-brand {
}
.navbar-brand{
}
.nav li a{
    color:#5D6067;
    font-family:raleway, sans-serif;
    font-size:13px;
    font-weight:700;
    letter-spacing:1px;
    line-height:58px;
    text-align:center;
}
.nav-justified li a{
    color:#5D6067;
    font-family:raleway, sans-serif;
    font-size:13px;
    font-weight:700;
    letter-spacing:1px;
    line-height:16px;
    text-align:center;
}
/* this is for the red line above the active link in nav*/
.navbar-default .navbar-nav > .active > a{
    /*border-top: 5px solid #FC543E;*/
    text-decoration: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color:#FC543E;
    padding-bottom: 1px;
    background-color:transparent;
}
/* this keeps the other links on the same lattitude */
.navbar-default .navbar-nav > [class=""] > a{
    /*border-top: 5px solid transparent;*/
    background-color:transparent;    
}
.navbar-default .navbar-nav > li > a:hover {
    /*background-color:#E7E7E7;*/
}
/* About subMenu*/
.aboutSubMenuDiv{
    /*background:url(http://archipictura.com/patterns/slashDown.png);*/
    background-color:#E7E7E7;
    /*border-top:3px solid rgba(231, 231, 231, 0.61)*/
}
.aboutSubMenuULDiv{
    height:58px;
    padding-top:0px;
}
.aboutSubMenuUL{
}
.aboutSubMenuUL > .active > a{
    line-height:38px;
    color:red;
    background-color:#f5f5f5;
}
.aboutSubMenuUL > .hover > a {
}
/* AboutUs */
.aboutUsHeaderP{
    font-size: 27px;
    color: #FC543E;
    line-height: 32px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
}
.aboutUsP{
    color: #5D6067;
    font-family: raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}
.aboutUsHeaderSmallP{
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
}
.aboutUsUL{
    color: #5D6067;
    font-family: raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    display: block;
    list-style-type: disc;
    list-style: none;
}
/* end */

/* Executive subMenu */
.executiveSubMenuDiv{
    line-height: 58px;
}
.executiveSubMenuUL > li a{
    font-size: 12px;
    color: #FC543E;
    letter-spacing: 1px;
    font-family: raleway, sans-serif;
    font-weight: 600;
}
.executiveSubMenuUL > .active > a{
    font-size: 14px;
    color: #FC543E;
    letter-spacing: 1px;
    font-family: raleway, sans-serif;
    font-weight: 600;
    
}
.executiveSubMenuActiveDiv{
    border-style: solid;
    border-width: 2px;
    border-color:#FC543E; 
    border-radius: 6px;
}
/* Google Maps */
.GMapToOverlay{
    margin-top:320px;
}
.mapOverlay{
  position: absolute;
  top: 260px;
  left: 20%;
  /*width: 100%;*/
  height: 50px;
  z-index: 10;
  /*background-color: rgba(0,0,0,0.5);*/ /*dim the background*/
}
#map_canvas{
    margin-top:20px;
    height: 320px;
}
/*executive Profile*/
.executiveProfileWrapper{
    /*padding-top:100px;*/    
}
.executiveProfileWrapper > h2 {
    font-size: 30px;
    color: #FC543E;
    line-height: 36px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
}
.executiveProfileWrapper > h5 {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
/* Research Articles */
.researchArticleModal {
    max-height: 760px;
    max-width: 1080px;
    height: 580px;
    width: 780px;
}
.researchArticleContainerDIV {
    display:table;         
    width:auto;
}
.researchArticleContainerTABLE {
}
.researchArticlesDATATABLE {
}
.researchArticleContainerTR{
}
.researchArticleTRSpacer {
    height: 40px;
}
.researchArticleLeft {
    display: table-cell;
    width: 120px;
}
.researchArticleright {
    display: table-cell;
}
.researchArticleArchiveTD{
    width:200px;
}
.researchArchiveHeader{
    color:#5D6067;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:16px;
    margin-top:30px;
}
.researchArticleTopHeader{
    color:#FC543E;
    font-family:raleway, sans-serif;
    font-size:27px;
    font-weight:700;
    line-height:32px;
}
.researchArticleTopP{
    font-size:16px;
    line-height:30px;
    text-align:left;
    color:#5D6067;
    font-family:raleway, sans-serif;
    font-size:18px;
    font-weight:400;
}
.researchTopUL {
    list-style:none;
    font-size:16px;
    line-height:30px;
    text-align:left;
    margin-bottom:30px;
}
.researchArticleArchiveDate{
    color:#FC543E;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:19px;    
}
a.researchArticleArchivePostCount /*for the link*/
{
    color:#A3A3A3;
    font-family:raleway, sans-serif;
    font-size:13px;
    font-weight:400;
    line-height:16px;
    margin-top:-20px;
}
div.researchArticleArchivePostCount/*for the container*/
{
    margin-top:-20px;
    margin-bottom:15px;
}
.researchArticleTitle{
    color:#303030;
    font-family:raleway, sans-serif;
    font-size:18px;
    font-weight:700;
    line-height:31px;
}
.researchArticleCredits{
    color:#A3A3A3;
    font-family:raleway, sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:24px;
}
.researchArticleShortDescription {
    
}
.researchArticleContent{
    text-align:center;
    border-style: solid;
    border-width: 2px;
    border-color:#FC543E; 
    border-radius: 6px;
    cursor:pointer;
}
.researchArticleContentLink{
    cursor: pointer;
}
.researchArticleMainBody{
    color:#666364;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:300;
    line-height:27px;
    padding-left:130px;
    vertical-align:top;
}
.researchArticleEditBody{
    padding-top:50px;
}
.userFeedbackDiv{
    line-height:30px;
}
/*slideshow*/
.slideshow { 
    position: relative; 
    overflow: auto;
}
.slideshow li { 
    list-style: none;
}
.slideshow ul li { 
    float: left; 
}
/* properties */
.regionLI{
    padding-top: 6px;
    width: 195px;
    min-height: 39px;
    color: #FC543E;
    background-color:#F5F5F5;
    cursor: pointer;
    font-family: raleway, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}
.propertyRegionUL{
    padding-top: 30px;
    padding-bottom : 30px;
}
.propertyRegionUL > .active{
    color:white;
    background-color: #FC543E;
}
.regionLI:hover{
    background-color: #FC543E;
    color:white;
}
.propertyListName{
    line-height: 19px;
    padding-top: 15px;
    text-align: left;
}
.propertyListName > a{
    color: #FC543E;
    font-size: 16px;
    line-height: 19px;
    padding-top: 15px;
}
.propertyListCity{
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}
.propertyListCity > a{
    font-size: 13px;
    line-height: 16px;
    color: #A3A3A3;
}
/* footer */
footer{    
    /*clear:both;*/
    /*padding-top:30px;*/
    text-align:center; 
    height:130px;
    background-color: #3D3D3D;
    font-size: 11px;
    color: #EDEDED;
    line-height: 13px;
    font-family: raleway, sans-serif;
    font-weight: 400;
}
.footerDiv{
    padding-top:45px;
    letter-spacing: 1px;
}
.footerDivWrapper{
    border-top: 5px solid #FC543E;
}