﻿@model Woolbright.Web.CMS.ViewModels.CreateExecutiveViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Executive", FormMethod.Post, new { enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-md-8 col-md-offset-4">
        <h4>Create Executive</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserProfileId, "UserProfileId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserProfileId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserProfileId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExecutiveTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExecutiveTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExecutiveTitle, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.ExecutiveBlurb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExecutiveBlurb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExecutiveBlurb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfilePictureContent, "Main Pic", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="ImageMain" type="file" class="form-control" />  
            </div>
        </div>
     
        <div class="form-group">
            @Html.LabelFor(model => model.ProfileSidePictureContent, "Alt Pic", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="ImageSecondary" type="file" class="form-control" />
            </div>
        </div>
   
        <div class="form-group">
            @Html.LabelFor(model => model.ExecutiveSections, "ExecutiveSections", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @for (var i = 0; i < Model.ExecutiveSections.Count; i++)
                {
                    var es = Model.ExecutiveSections.ToArray()[i];
                    
                    @Html.CheckBox("IsSelected", new { @Name = "ExecutiveSectionChoices[" + @i + "].IsSelected" })
                    @Html.Label(@es.SectionName)
                    <input type="hidden" name="ExecutiveSectionChoices[@i].ExecutiveSectionId" value="@es.ExecutiveSectionId">
                    <input type="hidden" name="ExecutiveSectionChoices.Index" value="@i">                    
                    @:&nbsp;
                    // setup ddl for Sort Order
                    var execCount = es.ExecutiveSectionMappings.Count() + 1; // +1 to make room for new Executive
                    
                    @Html.DropDownList("ExecutiveSectionChoices[" + @i + "].SortOrder",                        
                        Enumerable.Range(1, execCount)
                        .Select(x => new SelectListItem
                        {
                            Text = x.ToString(),
                            Value = x.ToString()
                        }
                        ))
                    <text>
                    Sort Order
                    <br />
                    </text>
                }
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
