﻿@using Woolbright.Web.CMS.ViewModels
@model Woolbright.Web.CMS.ViewModels.EditExecutiveViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit @(Model.UserFullName)</h2>

@{
    if (ViewBag.Message != null)
    {
        <div class="alert-warning">
            @Html.Raw(ViewBag.Message)
        </div>
    }
}

@using (Html.BeginForm("Edit", "Executive", FormMethod.Post, new { enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Executive</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ExecutiveId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserFullName, "Full Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(x => x.UserFullName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExecutiveTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExecutiveTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExecutiveTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExecutiveBlurb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExecutiveBlurb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExecutiveBlurb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfilePictureContentId, "ProfilePictureContentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var imgModel = new ImageFromModelByteArrayViewModel
                    {
                        Content = Model.ProfilePictureContent,
                        ImgSrcTagName = "imageSrc"
                    };
                }
                @(Html.Partial("_ImageFromModelByteArrayView", imgModel))
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Replacement Photo", new { @class = "control-label col-md-2" });
            <div class="col-md-10">
                <input name="ImageMain" type="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfileSidePictureContentId, "ProfileSidePictureContentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var imgModel2 = new ImageFromModelByteArrayViewModel
                    {
                        Content = Model.ProfileSidePictureContent,
                        ImgSrcTagName = "imageSrc2"
                    };
                }
                @(Html.Partial("_ImageFromModelByteArrayView", imgModel2))
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Replacement Photo", new { @class = "control-label col-md-2" });
            <div class="col-md-10">
                <input name="ImageSecondary" type="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExecutiveSections, "ExecutiveSections", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @for (int i = 0; i < Model.ExecutiveSections.Count; i++)
                {
                    var es = Model.ExecutiveSections.ToArray()[i];
                    // is this executive mapped to this section? (bool for checkbox)
                    var esmExisting = es.ExecutiveSectionMappings
                        .Where(x => x.ExecutiveId == Model.ExecutiveId && x.ExecutiveSectionId == es.ExecutiveSectionId).ToList();
                        //.First();
                    var hasMapping = false;
                    var sortOrder = 0;
                    if (esmExisting.Any())
                    {
                        hasMapping = true;
                        sortOrder = esmExisting.First().SortOrder;
                    }
                    
                    @Html.CheckBox("IsSelected", hasMapping ,new { @Name = "ExecutiveSectionChoices[" + @i + "].IsSelected" })
                    @Html.Label(@es.SectionName)
                    <input type="hidden" name="ExecutiveSectionChoices[@i].ExecutiveSectionId" value="@es.ExecutiveSectionId">
                    <input type="hidden" name="ExecutiveSectionChoices.Index" value="@i">
                    @:&nbsp;
                    // setup ddl for Sort Order
                    var execMappingCount = es.ExecutiveSectionMappings.Count();
                    if (!hasMapping)// if no existingmapping, add one to make room for adding
                    {
                        execMappingCount++;
                    }

                    @Html.DropDownList("ExecutiveSectionChoices[" + @i + "].SortOrder",
                                      Enumerable.Range(1, execMappingCount)
                                      .Select(x => new SelectListItem
                                      {
                                          Text = x.ToString(),
                                          Value = x.ToString(),
                                          Selected = sortOrder == x
                                      }
                                      ))
                    <text>
                        Sort Order
                        <br />
                    </text>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
