﻿@using Woolbright.Web.Data.Models
@model IEnumerable<Woolbright.Web.Data.Models.Executive>

@{
    ViewBag.Title = "Index";
}
<br /><br /><br />
<h2>Executives</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table-condensed">
    <tr>
        <th>
            Main Pic
            @*@Html.DisplayNameFor(model => model.ProfilePictureContent.ContentId)*@
        </th>
        <th>
            Alternate Pic
            @*@Html.DisplayNameFor(model => model.ProfileSidePictureContent.ContentId)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutiveTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutiveBlurb)
        </th>
        <th>
            Mapping: Order     
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(x => x.UserProfile.FullName))
{
    <tr>
        <td>
            @{ 
                byte[] photo = item.ProfilePictureContent.ContentBytes;
                 string imageSrc = null;
                 if (photo != null)
                 {
                     MemoryStream ms = new MemoryStream();
                     ms.Write(photo, 0, photo.Length);
                     //ms.Write(photo, 78, photo.Length - 78);
                     string imageBase64 = Convert.ToBase64String(ms.ToArray());
                     imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                 }
            }
            <img src="@imageSrc" alt="Image" />
        </td>
        <td>
            @{ 
                byte[] photo2 = item.ProfileSidePictureContent.ContentBytes;
                 string imageSrc2 = null;
                 if (photo != null)
                 {
                     MemoryStream ms = new MemoryStream();
                     ms.Write(photo2, 0, photo2.Length);
                     //ms.Write(photo, 78, photo.Length - 78);
                     string imageBase64 = Convert.ToBase64String(ms.ToArray());
                     imageSrc2 = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                 }
            }
            <img src="@imageSrc2" alt="Image"  />
        </td>
        <td valign="top">
            @Html.DisplayFor(modelItem => item.UserProfile.FullName)
        </td>
        <td valign="top">
            @Html.DisplayFor(modelItem => item.ExecutiveTitle)
        </td>
        <td valign="top">
            @Html.DisplayFor(modelItem => item.ExecutiveBlurb)
        </td>
        <td valign="top">
            <table class="table-condensed">
                @foreach (ExecutiveSectionMapping esm in item.ExecutiveSectionMappings)
                {
                    <tr>
                        <td nowrap align="right">@(esm.ExecutiveSection.SectionName):</td>
                        <td>@(esm.SortOrder)</td>
                    </tr>
                }
            </table>
        </td>
        <td valign="top">
            @Html.ActionLink("Edit", "Edit", new { id = item.ExecutiveId })<br />
            @*@Html.ActionLink("Details", "Details", new { id=item.ExecutiveId })<br />*@
            @Html.ActionLink("Delete", "Delete", new { id = item.ExecutiveId })
        </td>
    </tr>
}

</table>
