﻿@model IEnumerable<Woolbright.Web.Data.Models.Executive>

<div class="executiveProfileWrapper col-md-8 col-md-push-2">
    <h2 class="text-center">@(ViewBag.Title)</h2>
    <h5 class="text-center">@(ViewBag.Blurb)</h5>
    @Html.Partial("~/Views/Shared/_ExecutiveView.cshtml", Model)
</div>