﻿@model Woolbright.Web.CMS.ViewModels.CreateResearchArticleViewModel

@{
    ViewBag.Title = "Create Research Article";

    List<string> availableTagList = Model.Tags
        .Select(y => y.TagName)
        .Distinct()
        .ToList();

    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p class="alert-danger">@(ViewBag.ErrorMessage)</p>
    }
}

<script>
    // for autocomplete
    var availableTags = @(Html.Raw(Json.Encode(availableTagList)));
</script>

@using (Html.BeginForm("Create", "ResearchArticle", FormMethod.Post, new { enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()

    <div class="researchArticleEditBody col-md-13 col-md-offset-3">
        <h2>Create Research Article</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Folder", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.BodyFolderChoices, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("BodyFolderChoices", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.BodyFolderChoices, "", new {@class = "text-danger"})*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control researchArticlePublishDate" } })
                @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thumbnail (.jpg)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file0" id="file0" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><label>Tags</label></div>
            <div class="col-md-10">
                <input type="text" id="TagsOverrideValue" name="TagsOverrideValue" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
}
<script>
    $(document).ready(function () {
        $( "#pubDateCalendarIcon" ).on( "click", function() {
            $('#PublishDate').datepicker({ dateFormat: 'mm/dd/yy', changeYear: true });        
        });
        $('#PublishDate').datepicker({ 
            dateFormat: 'mm/dd/yy', 
            changeYear: true,
            showOn: 'both',
            buttonImage: '@(Url.Content("~/Content/Images/calendar.png"))'
        });        
        $("#PublishDate").datepicker( "setDate" , @(DateTime.Today.ToShortDateString()) );
    });
    //var counter = 0;
    //function addFileInput() {
    //    counter++;
    //    $('form input:file').last().after($('<input type="file" name="file' + counter + '" id="file' + counter + '" />'));
    //}
</script>
<script src="~/Scripts/autocomplete.js"></script>
