﻿@using Woolbright.Web.Data.Classes
@model Woolbright.Web.CMS.ViewModels.EditResearchArticleViewModel
@{
    ViewBag.Title = "Edit";

    // for autocomplete
    List<string> availableTagList = Model.Tags
       .Select(y => y.TagName)
       .Distinct()
       .ToList();
}
<script>
    // for autocomplete
    var availableTags = @(Html.Raw(Json.Encode(availableTagList)));
</script>

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "ResearchArticle", FormMethod.Post, new { enctype = "multipart/form-data", id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Research Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArticleId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BodyFolderChoices, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BodyFolderChoices", null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.BodyFolderChoices, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.BodyFolderChoices, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatePublished, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DatePublished, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DatePublished, "", new {@class = "text-danger"})
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-10">
            @{
                foreach (var content in Model.Thumbnail.OrderBy(x => x.ContentType))
                {
                    switch (content.ContentType)
                    {
                        case Enums.ContentTypes.Image:
                            byte[] contentBytes = content.ContentBytes;
                            string imageSrc = null;
                            if (contentBytes != null)
                            {
                                MemoryStream ms = new MemoryStream();
                                ms.Write(contentBytes, 0, contentBytes.Length);
                                //ms.Write(photo, 78, photo.Length - 78);
                                string imageBase64 = Convert.ToBase64String(ms.ToArray());
                                imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                            }
                            <img src="@imageSrc" alt="Image" width="250" />
                            break;
                        case Enums.ContentTypes.Document:
                            @Html.ActionImage(
                                    content.FileName,
                                    "RetrieveFile",
                                    "ResearchArticle",
                                    Url.Content("~/Content/Images/document-universal.png"),
                                    content.FileName,
                                    new { id = content.ContentId })
                            break;
                    }
                    // for deleting...
                    <span class="removeField" style="cursor: pointer; display:inline;" data-contentid="@(content.ContentId)">  X</span>
                }
            }
            </div>
        </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @using System.Text;
                @if (Model.Tags != null)
                {
                    string[] tagList = Model.Tags
                        .Select(x => x.TagName).ToArray();
                    StringBuilder sb = new StringBuilder();
                    for (int x = 0; x < tagList.Count(); x++)
                    {
                        if (x > 0)
                        {
                            sb.Append(", ");
                        }
                        sb.Append(tagList[x]);
                    }
                    <label class="control-label">@sb.ToString()</label>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><label>Replace Tags</label></div>
            <div class="col-md-10">                
                <input type="text" id="TagsOverrideValue" name="TagsOverrideValue" />
           </div>
        </div>

                
        <div class="form-group">
            @Html.Label("Existing Thumbnail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@(Model.ThumbnailAzureReference)" width="200px;"/>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Replace Thumbnail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input type="button" value="Add Additional File Upload" name="AddField" onclick="addFileInput();" />
                <br />*@
                <input type="file" name="file0" id="file0" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div name="inset_form"></div>
<script type="text/javascript">
    @*$('form').on('click', '.removeField', function () {
        // prompt to confirm removal
        var r = confirm("Are you sure you want to remove this content item?");
        // POST to controller
        if (r == true) {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var myForm = '<input type="hidden" name="__RequestVerificationToken" value="' + token + '" />';
            myForm += '<input type="text" name="ResearchArticleId" value="@(Model.ArticleId)" />';
            myForm += '<input type="text" name="ContentId" value="' + $(this).attr("data-contentid") + '" />';// get the ContentID from the 'x' button's data attribute
            $('<form>', {
                "id": "RemoveContentItemForm",
                "html": myForm,
                "action": '@Url.Action("RemoveContentItem", "ResearchArticle")',
                "method": 'post'
            }).appendTo(document.body).submit();
        }
    });*@
    //var counter = 0;
    //function addFileInput() {
    //    counter++;
    //    $('form input:file').last().after($('<input type="file" name="file' + counter + '" id="file' + counter + '" />'));
    //}
</script>
<script src="~/Scripts/autocomplete.js"></script>
