﻿@using Woolbright.Web.Data.Classes
@model Woolbright.Web.CMS.ViewModels.ArchiveResearchArticleViewModel

@{
    ViewBag.Title = "Research";
}

<div class="container" style="padding-top:60px;">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
   <table class="table">
        <tr>
            <td class="researchArticleArchiveTD">
                <p class="researchArchiveHeader">Archive</p>
                @{
                    foreach (var m in Model.ArchiveList)
                    {
                        DateTime dateConverted = DateTime.Parse(m.Key);
                        var postSingularOrPlural = "Post";
                        if (m.Value > 1)
                        {
                            postSingularOrPlural = "Posts";
                        }
                        <div class="researchArticleArchiveDate">@(dateConverted.ToString("MMMM yyyy"))</div>
                        <br />
                        <div class="researchArticleArchivePostCount">@Html.ActionLink(m.Value + " " + postSingularOrPlural, "Archive", new { id = m.Key }, new { @class = "researchArticleArchivePostCount" })</div>
                    }
                }
            </td>
            <td>
                <h3 class="researchArticleTopHeader">RESEARCH</h3>                                
                @{
                if (Model.Articles.Count < 1)
                {
                    <div>No articles for this period in time.</div>
                }
                }
                @foreach (var item in Model.Articles)
                {
                    var pubDate = item.DatePublished;
                    var pubDateShort = pubDate.ToShortDateString();
                    var pubDateDayOfWeek = pubDate.DayOfWeek.ToString();
                    <div class="researchArticleContainer">
                        <div class="researchArticleTitle">
                            @Html.ActionImage("", "Edit", "ResearchArticle", Url.Content("~/Content/Images/Edit.png"), "Edit", new { id = item.ArticleId })
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                        <div class="researchArticleCredits">
                            By @Html.DisplayFor(modelItem => item.Owner.FullName) on @(pubDateDayOfWeek) @(pubDateShort).
                        </div>
                        <div style="display:inline;">
                            <div class="pull-left researchArticleContentLink" data-id="@(item.ArticleId)">
                                <a href="@(Url.Action("Details", new { id = item.ArticleId}))">View Article</a>
                            </div>
                            &nbsp;
                            <p class="researchArticleShortDescription">
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </p>
                        </div>
                    </div>
                }
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function ($) {
        $('div.researchArticleContentLink').click(function (ev) {
            ev.preventDefault(); // just in case we decide to use anchor tags
            var url = '@Url.Action("GetContentByArticleId", "ResearchArticle")/' + $(this).data('id'); // get id from element clicked
            // setup userfeedback
            $("#UserFeedbackDiv").html('Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")">');
            $("#UserFeedbackDiv").show();
            // get content
            $('#researchArticleModal .modal-body').html('Content loading...');
            $('#researchArticleModal').modal('show', { backdrop: 'static' });
            $('#researchArticleModal .modal-body').load(url, function (response, status, xhr) {
                if (status == "error") { // handle if error
                    var msg = "Sorry but there was an error: ";
                    $("#UserFeedbackDiv").html(msg + xhr.status + " " + xhr.statusText);
                    // TODO: maybe log error here
                }
                else {
                    $("#UserFeedbackDiv").hide(); // came back ok, hide feeedback
                }
            });
        });
    });
</script>

<div id="researchArticleModal" class="modal fade ">
    <div class="modal-dialog researchArticleModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Article Content</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div id="UserFeedbackDiv" class="text-center UserFeedbackDiv"></div>
        </div>
    </div>
</div>
