<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Article Main</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="partials/header.html"%>

<div class="site-hero__container standard" style="background-image: url('/assets/images/hero-article-main.jpg');">
  <div class="site-hero__content">
    <div class="site-hero">
      <h1 class="site-hero__title">Research</h1>
      <h2 class="site-hero__subtitle">We derive informed investment decisions designed to<br> help both tenants and investors.</h2><!-- end of .site-hero__subtitle -->
    </div><!-- end of .site-hero -->
  </div><!-- end of .site-hero__content -->
</div><!-- end of .site-hero__container standard -->

<%include src="partials/secondary-navigation.html"%>

  <div class="site-main">

    <div class="article-main__container">
      <ul class="article-main__list">
        <li class="article-main">
          <div class="article-main__image">
            <a href="/article.html"><img src="/assets/images/article-thumb-01.jpg" alt="" class="article-main__thumb" /></a>
          </div><!-- end of .article-main__image -->
          <div class="article-main__content">
            <div class="article-main__header">
              <h3 class="article-main__category">
                Featured Analysis Report
              </h3><!-- end of .article-main__category -->
              <h1 class="article-main__title">
                <a href="/article.html">Palm Beach County Retail Continues to Recover during the recession</a>
              </h1><!-- end of .article-main__title -->
              <p class="article-main__date">March 25, 2015</p><!-- end of .article-main__date -->
            </div><!-- end of .article-main__header -->
            <p class="article-main__description">
              The Palm Beach market finds itself in the fourth year of a recovery, regaining 30% of its occupancy levels and rental rates that were lost during the recession. The road back has been slow and bumpy. As 2014 progresses, Woolbright’s data shows that the Palm Beach Market will continue to improve. Click through for our full report.
            </p><!-- end of .article-main__description -->
            <a href="/article.html" class="article-main__link">Read our full report <i class="fa fa-caret-right"></i></a>
          </div><!-- end of .article-main__content -->
        </li><!-- end of .article-main -->
        <li class="article-main">
          <div class="article-main__image">
            <a href="/article.html"><img src="/assets/images/article-thumb-02.jpg" alt="" class="article-main__thumb" /></a>
          </div><!-- end of .article-main__image -->
          <div class="article-main__content">
            <div class="article-main__header">
              <h1 class="article-main__title">
                <a href="/article.html">The Naples-Fort Myers CRE Market is finally coming back.</a>
              </h1><!-- end of .article-main__title -->
              <p class="article-main__date">March 29, 2015</p><!-- end of .article-main__date -->
            </div><!-- end of .article-main__header -->
            <p class="article-main__description">
              While occupancy levels in Q1 2014 are still flat at 87%, base rental rates at Publix-anchored centers grew by 2.5% ($0.45) to $18.45 NNN per SF. Click through for our detailed report.
            </p><!-- end of .article-main__description -->
            <a href="/article.html" class="article-main__link">Read our full report <i class="fa fa-caret-right"></i></a>
          </div><!-- end of .article-main__content -->
        </li><!-- end of .article-main -->
        <li class="article-main">
          <div class="article-main__image">
            <a href="/article.html"><img src="/assets/images/article-thumb-02.jpg" alt="" class="article-main__thumb" /></a>
          </div><!-- end of .article-main__image -->
          <div class="article-main__content">
            <div class="article-main__header">
              <h1 class="article-main__title">
                <a href="/article.html">The Naples-Fort Myers CRE Market is finally coming back.</a>
              </h1><!-- end of .article-main__title -->
              <p class="article-main__date">March 29, 2015</p><!-- end of .article-main__date -->
            </div><!-- end of .article-main__header -->
            <p class="article-main__description">
              While occupancy levels in Q1 2014 are still flat at 87%, base rental rates at Publix-anchored centers grew by 2.5% ($0.45) to $18.45 NNN per SF. Click through for our detailed report.
            </p><!-- end of .article-main__description -->
            <a href="/article.html" class="article-main__link">Read our full report <i class="fa fa-caret-right"></i></a>
          </div><!-- end of .article-main__content -->
        </li><!-- end of .article-main -->
      </ul><!-- end of .article-main__list -->

      <nav class="article-main__navigation">
        <div class="article-main__archives">
          <select name="archives" id="archives">
            <option value="04-15">April 2015</option>
            <option value="03-15">March 2015</option>
            <option value="02-15">February 2015</option>
            <option value="01-15">January 2015</option>
          </select>
        </div><!-- end of .article-main__archives -->
        <div class="article-main__pagination">
          <ul class="article-main__page-list">
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul><!-- end of .article-main__page-list -->
        </div><!-- end of .article-main__pagination -->
      </nav><!-- end of .article-main__navigation -->
    </div><!-- end of .article-main__container -->

<%include src="partials/call-to-action-alt.html"%>

  </div><!-- end of .site-main -->

<%include src="partials/footer.html"%>
</body>

</html>