<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright Development, Inc.</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- Stylesheets End -->
</head>

<body id="site" class="home">
<%include src="partials/header.html"%>
<%include src="partials/home-intro.html"%>
<%include src="partials/secondary-navigation.html"%>

  <div class="site-main">

    <div class="site-section__container">
      <div class="site-section">
        <h1>We Make Retail Places Better so your investment can shine</h1>
        <p>Woolbright Development is committed to making retail centers better and maximizing results. For our valued tenants and, of course, you! We’ve done it for over 25 years through tried and true strategies:</p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container alt">
      <div class="site-section">
        <ul class="site-section__columns">
          <li class="site-section__column--third">
            <img src="/assets/svgs/icon-mix.svg" alt="" />
            <p>A well-balanced mix of thorough analysis of our own proprietary data</p>
          </li><!-- end of .site-section__column--third -->
          <li class="site-section__column--third">
            <img src="/assets/svgs/icon-chart.svg" alt="" />
            <p>First-hand exclusive knowledge of the market and industry trends</p>
          </li><!-- end of .site-section__column--third -->
          <li class="site-section__column--third">
            <img src="/assets/svgs/icon-success.svg" alt="" />
            <p>A powerful track record of success</p>
          </li><!-- end of .site-section__column--third -->
        </ul><!-- end of .site-section__columns -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <h1>Crème-de-la-Crème of retail</h1>
        <p>When we acquire a shopping center, we focus on targeting and placing crème-de-la-crème retail tenants there … a recognized and popular mix of harmonious restaurants, services and above standard retail tenants that would include a variety of local and national brands. Your investment in such a high quality retail center is assured of optimal ROI.</p>
        <p>Contact us today to discuss how you can take advantage of Woolbright Development’s expertise, market intelligence, cutting-edge proprietary technology and long history of making money for our investors. (phone number and email address) </p>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container alt">
      <div class="site-section">
        <div class="site-section__story">
          <div class="site-section__story--info">
            <header class="site-section__story--header">
              <img src="/assets/svgs/badge.svg" alt="" class="site-section__story--badge" />
              <h3 class="site-section__story--category">
                Success Story
              </h3><!-- end of .site-section__story--category -->
              <h2 class="site-section__story--title">
                H2 Headline
              </h2><!-- end of .site-section__story--title -->
            </header><!-- end of .site-section__story--header -->
            <p class="site-section__story--description">
              Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
            </p><!-- end of .site-section__story--description -->
            <a href="#" class="site-section__story--link">Read more</a>
          </div><!-- end of .site-section__story--info -->
          <div class="site-section__story--image-container reveal slideInRight">
            <div class="site-section__story--image" style="background-image: url('/assets/images/success-story.jpg');">
            </div><!-- end of .site-section__story--image -->
          </div><!-- end of .site-section__story--image-container-->
        </div><!-- end of .site-section__story -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container">
      <div class="site-section">
        <h1>Work with the best</h1>
        <p>Our track record and institutional platform have allowed us to venture with some of the most respected real estate investors.</p>
        <img class="site-section__large-image" src="/assets/images/partners.png" alt="Partners" />
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container image-bg" style="background-image: url('/assets/images/article-background.jpg');">
      <div class="site-section">
        <h1 class="featured-article__title">Palm Beach County Retail Continues to Recover</h1>
        <p class="featured-article__description">The Palm Beach market finds itself in the fourth year of a recovery, regaining 30% of its occupancy levels and rental rates that were lost during the recession.</p>
        <a class="featured-article__link" href="#">Continue Reading</a>
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

    <div class="site-section__container alt">
      <div class="site-section">
        <h1 class="featured-property__header">Featured Properties</h1>
        <ul class="featured-properties__list">
          <li class="featured-property__container">
            <article class="featured-property" style="background-image: url('/assets/images/featured-property.jpg')">
              <div class="featured-property__image">
                <img src="/assets/images/featured-property.jpg" alt="" />
                <div class="featured-property__label">
                  <p>South East Market</p>
                </div><!-- end of .featured-property__label -->
              </div><!-- end of .featured-property__image -->
              <div class="featured-property__info">
                <h2 class="featured-property__title">Meadows Square</h2><!-- end of .featured-property__title -->
                <h3 class="featured-property__location">Boynton Beach</h3><!-- end of .featured-property__location -->
                <a href="#" class="featured-property__link">View Property</a>
                <div class="featured-property__availability">
                  <p>3 Available Bays</p>
                </div><!-- end of .featured-property__availability -->
              </div><!-- end of .featured-property__info -->
            </article><!-- end of .featured-property -->
          </li><!-- end of .featured-property__container -->
          <li class="featured-property__container">
            <article class="featured-property" style="background-image: url('/assets/images/featured-property.jpg')">
              <div class="featured-property__image">
                <img src="/assets/images/featured-property.jpg" alt="" />
                <div class="featured-property__label">
                  <p>South East Market</p>
                </div><!-- end of .featured-property__label -->
              </div><!-- end of .featured-property__image -->
              <div class="featured-property__info">
                <h2 class="featured-property__title">Meadows Square</h2><!-- end of .featured-property__title -->
                <h3 class="featured-property__location">Boynton Beach</h3><!-- end of .featured-property__location -->
                <a href="#" class="featured-property__link">View Property</a>
                <div class="featured-property__availability">
                  <p>3 Available Bays</p>
                </div><!-- end of .featured-property__availability -->
              </div><!-- end of .featured-property__info -->
            </article><!-- end of .featured-property -->
          </li><!-- end of .featured-property__container -->
          <li class="featured-property__container">
            <article class="featured-property" style="background-image: url('/assets/images/featured-property.jpg')">
              <div class="featured-property__image">
                <img src="/assets/images/featured-property.jpg" alt="" />
                <div class="featured-property__label">
                  <p>South East Market</p>
                </div><!-- end of .featured-property__label -->
              </div><!-- end of .featured-property__image -->
              <div class="featured-property__info">
                <h2 class="featured-property__title">Westfork</h2><!-- end of .featured-property__title -->
                <h3 class="featured-property__location">Pembroke Pines</h3><!-- end of .featured-property__location -->
                <a href="#" class="featured-property__link">View Property</a>
                <div class="featured-property__availability">
                  <p>3 Available Bays</p>
                </div><!-- end of .featured-property__availability -->
              </div><!-- end of .featured-property__info -->
            </article><!-- end of .featured-property -->
          </li><!-- end of .featured-property__container -->
        </ul><!-- end of .featured-properties__list -->
      </div><!-- end of .site-section -->
    </div><!-- end of .site-section__container -->

<%include src="partials/call-to-action.html"%>

  </div><!-- end of .site-main -->

<%include src="partials/footer.html"%>
</body>

</html>