<!doctype html>
<html lang="en">

<head>
  <!-- Meta Start -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Meta End -->

  <title>Woolbright | Contact</title>

  <!-- Stylesheets Start -->
  <link rel="stylesheet" href="/assets/stylesheets/application.prefix.css">
  <script src="//use.typekit.net/ymh2gal.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/assets/javascripts/map/map.js"></script>
  <!-- Stylesheets End -->
</head>


<body id="site">
<%include src="../partials/header.html"%>
<%include src="../partials/secondary-navigation.html"%>

  <div class="site-main">
    <div class="contact__map--container">
      <div class="contact__map--content">
        <div class="contact__map--form-container">
          <h1 class="contact__form--title">
            Interested in speaking with us?
          </h1><!-- end of .contact__form--title -->
          <p class="contact__form--description">We would love to speak with you. Feel free to call, send us an email or simply complete the enquiry form.</p>
          <form action="#" class="contact__map--form">
            <input name="name" id="name" type="text" placeholder="Name" />
            <input name="email" id="email" type="email" placeholder="Email Address" />
            <input name="phone" id="phone" type="text" placeholder="Phone Number" />
            <textarea name="message" id="message" placeholder="Message" cols="30" rows="5"></textarea>
            <input type="submit" value="Send Message" />
          </form><!-- end of .contact__map--form -->
          <ul class="contact__form--address">
            <li>Woolbright Development, Inc.</li>
            <li>2240 NW 19th Street, Ste 801</li>
            <li>Boca Raton, FL 3343</li>
            <li>(561) 989-2264</li>
          </ul><!-- end of .contact__form--address -->
        </div><!-- end of .contact__map--form-container -->
      </div><!-- end of .contact__map--content -->
      <div id="map" class="contact__map"></div><!-- end of #map -->
    </div><!-- end of .contact__map--container -->



<%include src="../partials/call-to-action.html"%>

  </div><!-- end of .site-main -->

<%include src="../partials/footer.html"%>
</body>

</html>