﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*custom from here on*/

/* Google Maps */
.GMapToOverlay{
    border-top:300px;
}
.mapOverlay{
  position: absolute;
  top: 150px;
  left: 20%;
  /*width: 100%;*/
  height: 50px;
  z-index: 10;
  /*background-color: rgba(0,0,0,0.5);*/ /*dim the background*/
}
.map_canvas{
    height: 320px;
    top:20px;
}
/*executive Profile*/
.executiveProfileWrapper{
    padding-top:100px;    
}
.executiveProfileWrapper > h2 {
    font-size: 30px;
    color: #FC543E;
    line-height: 36px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
}
.executiveProfileWrapper > h5 {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
/* end */
/* Research Articles */
.researchArticleModal {
    max-height: 760px;
    max-width: 1080px;
    height: 580px;
    width: 780px;
}

.researchArticleArchiveTD{
    width:200px;
}
.researchArchiveHeader{
    color:#5D6067;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:16px;
    margin-top:30px;
}
.researchArticleTopHeader{
    color:#FC543E;
    font-family:raleway, sans-serif;
    font-size:27px;
    font-weight:700;
    line-height:32px;
}
.researchArticleTopP{
    font-size:16px;
    line-height:30px;
    text-align:left;
    color:#5D6067;
    font-family:raleway, sans-serif;
    font-size:18px;
    font-weight:400;
}
.researchTopUL {
    list-style:none;
    font-size:16px;
    line-height:30px;
    text-align:left;
}
.researchArticleArchiveDate{
    color:#FC543E;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:19px;
    
}
a.researchArticleArchivePostCount /*for the link*/
{
    color:#A3A3A3;
    font-family:raleway, sans-serif;
    font-size:13px;
    font-weight:400;
    line-height:16px;
    margin-top:-20px;
}
div.researchArticleArchivePostCount/*for the container*/
{
    margin-top:-20px;
    margin-bottom:15px;
}
.researchArticleTitle{
    color:#303030;
    font-family:raleway, sans-serif;
    font-size:18px;
    font-weight:700;
    line-height:31px;
}
.researchArticleCredits{
    color:#A3A3A3;
    font-family:raleway, sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:24px;
}
.researchArticleShortDescription{
    color:#666364;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:300;
    line-height:27px;
    padding-left:130px;
    vertical-align:top;
}
.researchArticleMainBody{
    color:#666364;
    font-family:raleway, sans-serif;
    font-size:16px;
    font-weight:300;
    line-height:27px;
    padding-left:130px;
    vertical-align:top;
}
.researchArticleContentLink{
    cursor: pointer;
}
.researchArticleEditBody{
    padding-top:20px;
}
.researchArticlePublishDate{
    width:130px;
    display:inline;
}
/* end */

/*property*/
.editPropertyGroupDiv{
    border-bottom:double;
    /*border-style: solid;
    border-width: 2px;
    border-color:#FC543E; 
    border-radius: 6px;*/
}
/*end*/