/*=============================
=            Forms            =
=============================*/

#{$all-text-inputs} {
  @include font-size(22);
  background: $color-main-pale;
  border: 1px solid rgba($color-main-light, 0);
  display: block;
  width: 100%;
  padding: rem(15) rem(25);
  margin-bottom: rem(10);
  line-height: 1;
  outline: none;
  text-align: left;

  @include breakpoint(mobile) {
    padding: rem(10) rem(15);
  }
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border: 1px solid $color-main-light;
}

button,
input[type="submit"] {
  @include button;
}

select {
  min-width: rem(165);
}

input[type="checkbox"] {

}

input[type="radio"] {

}

.chosen-container {
  @include font-proxima;
  &.chosen-container-active {
    .chosen-single {
      background-image: none;
    }
  }
  .chosen-single {
    background-image: none;
    border: 1px solid $color-main-light;
    border-radius: 4px;
    box-shadow: none;
    height: rem(32);
    background: none;
    span {
      @include font-size(12);
      @include font-proxima(300);
      height: 100%;
      margin-right: rem(33);
      line-height: 2.4;
    }
    div {
      width: rem(33);
      b {
        position: relative;
        display: inline-block;
        background-image: none!important; // overwite chosen default
        background: $color-accent;
        text-align: center;
        &:before {
          @include font-size(22);
          position: absolute;
          font-family: $font-icons;
          content: "\f107";
          color: $color-white;
          line-height: 1.2;
          top: rem(2);
          left: 0;
          right: 0;
        }
      }
    }
  }
  .chosen-results {
    padding: 0;
    margin: 0;
    li {
      @include font-size(12);
      position: relative;
      padding: rem(8) 0 rem(8) rem(25);
      &.highlighted {
        background: $color-grey-med;
      }
      &.result-selected {
        &:before {
          @include font-size(12);
          font-family: $font-icons;
          content: "\f00c";
          color: $color-accent;
          position: absolute;
          left: rem(5);
        }
      }
    }
  }
  .chosen-search {
    input[type="text"] {
      background-image: none!important; // overwite chosen default
    }
  }
}

/*-----  End of Forms  ------*/

